---
title: Warning button
layout: layout-example.njk
---
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Delete account",
  classes: "govuk-button--warning"
}) }}
