---
title: Tag
description: The tag component indicates the status of something, such as an item on a task list or a phase banner
section: Components
aliases: chip, badge, flag, token
backlog_issue_id: 62
layout: layout-pane.njk
---

{% from "_example.njk" import example %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{{ example({group: "components", item: "tag", example: "default", html: true, nunjucks: true, open: false}) }}

## When to use this component

Use the tag component to indicate the status of something, such as an item on a [task list](../../patterns/task-list-pages) or a [phase banner](../phase-banner).

## How it works

There are 2 ways to use the tag component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

### Using multiple tags

You can use multiple tags for things that have multiple states. For example, items in a [task list](../../patterns/task-list-pages).

Tags should help people to organise things into useful categories: for example, inactive and active users.

{{ example({group: "components", item: "tag", example: "multiple-tags", html: true, nunjucks: true, open: false }) }}

### Start with as few categories as possible

The more categories you add, the harder it is for users to remember them. So start with the smallest number of tags you think might work, then add more if your user research shows there’s a need for them.

### Using colour to distinguish between different categories

You can use colour to help distinguish between different tags – or to help draw the user’s attention to a tag if it’s especially important. For example, it probably makes sense to use  `govuk-tag--red` for a tag that reads ‘Urgent’.

{{ example({group: "components", item: "tag", example: "coloured-tags", html: true, nunjucks: true, open: false }) }}

### Avoid using different tag styles at the same time

Avoid using tints and solid coloured tags at the same time because the solid colours are more prominent.

You can use a mix if you only have 2 states. For example, it's okay to use the tint `govuk-tag--grey` and solid blue tags together.

### Use the same colour with the same wording

If you use the same tag in more than one place, make sure you keep the colour consistent. [Do not use colour alone to convey information](https://www.w3.org/WAI/WCAG21/Understanding/use-of-color.html) because it’s not accessible.

### Do not make tags clickable

Tags should be used as statuses, not actions. Do not add links or use verbs in your tags, as this might make users think that clicking on them will do something.

### Additional colours

You can use the following tints in your service.

{{ example({group: "components", item: "tag", example: "all-colours", html: true, nunjucks: true, open: false }) }}

## Research on this component

The Department for Education contributed the coloured tags. They’re being used in:

- apply for teacher training (used by citizens)
- manage teacher training applications (used by teacher training providers)
