---
title: Tag
description: indicate the status of something, such as an item on a Task list or a Phase banner.
section: Components
aliases:
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: 'components', item: 'tag', example: 'default', html: true, nunjucks: true, open: false}) }}

# When to use this component

Use the Tag component to indicate the status of something, such as an item on a [Task list](Insert URL for task list) or a [Phase banner](../phase-banner).

## How it works

There are 2 ways to use the Tag component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](Insert prototype kit URL), you can use the Tag macro.

{{ example({group: 'components', item: 'tag', example: 'default', html: true, nunjucks: true, open: true}) }}

## Research on this component

If you’ve used this component, [get in touch](Anchor link to Get in touch panel at bottom of page) to share your user research findings.
