---
layout: layout-example.njk
---

{% from "back-link/macro.njk" import govukBackLink %}

<div class="govuk-o-width-container">
  {{ govukBackLink({href: '#', text: 'Back'}) }}
  <main class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="govuk-heading-xl">Two-thirds column</h1>
        <p class="govuk-body">This is a paragraph inside a two thirds wide column</p>
      </div>

      </div>
    </div>

  </main>
</div>
