---
layout: layout-example.njk
stylesheets:
- grid-annotate.css
---

<div class="govuk-o-grid">
  <div class="govuk-o-grid__item govuk-o-grid__item--full">
     <p>govuk-o-grid__item--full</p>
  </div>
</div>
