@import "@govuk-frontend/frontend/settings/all";
@import "@govuk-frontend/frontend/tools/all";
@import "@govuk-frontend/frontend/helpers/all";
@import "@govuk-frontend/frontend/core/all";

[class^="govuk-grid-column"] > p {
  @extend .govuk-body;
  display: block;
  @include govuk-responsive-padding($govuk-spacing-responsive-6);
  background-color: $govuk-blue;
  color: white;
  text-align: center;
  margin-bottom: 0;
}
