@import "example-init";

[class^="govuk-grid-column"] > p {
  @include govuk-text-colour;
  @include govuk-font($size: 24);
  @include govuk-responsive-padding(6);

  display: block;
  margin: 0;

  color: govuk-colour("white");
  background-color: govuk-colour("blue");

  text-align: center;
}
