@import "example-init";

[class^="govuk-grid-column"] > p {
  @include govuk-text-colour;
  @include govuk-font($size: 24);
  @include govuk-responsive-padding(6);

  display: block;
  margin: 0;

  background-color: govuk-colour("blue");
  color: govuk-colour("white");

  text-align: center;
}
