---
layout: layout-example.njk
---

{% from "input/macro.njk" import govukInput %}

<h3 class="govuk-heading-m">Three quarters</h3>

{{ govukInput({
  "label": {
    "text": "Full name",
    "classes": "govuk-!-width-3-4"
  },
  classes: "govuk-!-width-3-4",
  id: "full-name",
  name: "full-name"
}) }}

<h3 class="govuk-heading-m">Two thirds</h3>

{{ govukInput({
  "label": {
    "text": "Full name",
    "classes": "govuk-!-width-2-3"
  },
  classes: "govuk-!-width-2-3",
  id: "full-name",
  name: "full-name"
}) }}

<h3 class="govuk-heading-m">One half</h3>

{{ govukInput({
  "label": {
    "text": "Full name",
    "classes": "govuk-!-width-1-2"
  },
  classes: "govuk-!-width-1-2",
  id: "full-name",
  name: "full-name"
}) }}

<h3 class="govuk-heading-m">One third</h3>

{{ govukInput({
  "label": {
    "text": "Full name",
    "classes": "govuk-!-width-1-3"
  },
  classes: "govuk-!-width-1-3",
  id: "full-name",
  name: "full-name"
}) }}

<h3 class="govuk-heading-m">One quarter</h3>

{{ govukInput({
  "label": {
    "text": "Full name",
    "classes": "govuk-!-width-1-4"
  },
  classes: "govuk-!-width-1-4",
  id: "full-name",
  name: "full-name"
}) }}
