---
layout: layout-example.njk
stylesheets:
- layout-wrappers-annotate.css
---

{% from "back-link/macro.njk" import govukBackLink %}

<div class="govuk-o-width-container">
  {{ govukBackLink({href: '#', text: 'Back'}) }}
  <main class="govuk-o-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page title</h1>
      </div>
    </div>

  </main>
</div>
