@import "@govuk-frontend/globals/common";

.govuk-width-container,
.govuk-main-wrapper,
.govuk-c-back-link,
.govuk-grid-row,
.govuk-grid-column {
  position: relative;
  z-index: 0;
  border: 2px dashed $govuk-grey-3;
}

.govuk-width-container,
.govuk-main-wrapper {
  border: 2px dashed $govuk-grey-1;
}

.govuk-grid-row {
  padding: 15px;
}

.govuk-width-container {
  padding: 15px;
}

.govuk-main-wrapper {
  padding-right: $govuk-spacing-scale-6;
  padding-left: $govuk-spacing-scale-6;
}
