@import "example-init";

.govuk-width-container,
.govuk-main-wrapper,
.govuk-back-link,
.govuk-grid-row,
[class^="govuk-grid-column"] {
  position: relative;
  z-index: 0;
  border: 2px dashed govuk-colour("black", $variant: "tint-95");
}

.govuk-width-container,
.govuk-main-wrapper {
  border: 2px dashed govuk-colour("black", $variant: "tint-25");
}

.govuk-grid-row {
  padding: 15px;
}

.govuk-width-container {
  padding: 15px;
}

.govuk-main-wrapper {
  padding-right: govuk-spacing(6);
  padding-left: govuk-spacing(6);
}
