---
layout: layout-example.njk
stylesheets:
- layout-wrappers-annotate.css
---

{% from "back-link/macro.njk" import govukBackLink %}

<div class="govuk-o-width-container">
  <main class="govuk-o-main-wrapper govuk-o-main-wrapper--l">

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="govuk-heading-xl">Page title</h1>
      </div>
    </div>

  </main>
</div>
