---
layout: layout-example.njk
---



<div class="govuk-o-grid">
  <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds app-example-background">
    <p class="app-example-block app-example-block--transparent">govuk-o-grid__item--two-thirds</p>
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
        <p class="app-example-block">govuk-o-grid__item--one-half</p>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
        <p class="app-example-block">govuk-o-grid__item--one-half</p>
      </div>
    </div>
  </div>
</div>

