---
layout: layout-example.njk
---

<div class="govuk-o-grid">
  <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
    <p class="app-example-block">govuk-o-grid__item--two-thirds</p>
  </div>
</div>
