---
title: Details
description: Make a page easier to scan by letting users reveal more detailed information only if they need it
section: Components
aliases: reveal, progressive disclosure, hidden text, show and hide
backlog_issue_id: 44
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Make a page easier to scan by letting users reveal more detailed information only if they need it.

{{ example({group: "components", item: "details", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this component

Use the details component to make a page easier to scan when it contains information that only some users will need.

## When not to use this component

Do not use the details component to hide information that the majority of your users will&nbsp;need.

## How it works

The details component is a short link that expands into more detailed help text when a user clicks on it.

There are 2 ways to use the details component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: "components", item: "details", example: "default", html: true, nunjucks: true, open: false, size: "s", id: "default-2"}) }}

### Write clear link text

Make the link text short and descriptive so users can quickly work out if they need to click on it.

## Research on this component

If you’ve used this component, get in touch to share your user research findings.
