---
title: Cookie banner
description: Allow users to accept or reject cookies which are not essential to making your service work.
section: Components
aliases: Cookies banner, consent banner, GDPR banner, tracking banner, analytics banner
backlog_issue_id: 12
layout: layout-pane.njk
status: Experimental
statusMessage: This component is currently experimental because <a class="govuk-link" href="#research-on-this-component">more research</a> is needed to validate it.
---

{% from "_example.njk" import example %}

Allow users to accept or reject cookies which are not essential to making your service work.

{{ example({group: "components", item: "cookie-banner", example: "default", html: true, nunjucks: true, open: false}) }}

## When to use this component

You must tell users about the cookies your service sets on their device.

You must let users accept or reject any cookies that are not essential to providing your service.

The term ‘non-essential cookies’ includes:
- HTML5 local storage
- service workers
- any other technologies that store files on the user’s device

This cookie banner and the [cookie page pattern](/patterns/cookies-page/) are based on the approach to getting cookie consent used on the GOV.UK website.

This component page shows several options for using a cookie banner, based on the types of cookies you’re using in the service.

Before you start, [audit and categorise your cookies](/patterns/cookies-page/#auditing-and-categorising-your-cookies) as shown in the cookie page pattern to help you choose the best option for your service.

You must not take this information as legal advice. Your organisation is responsible and accountable for what they do to comply with data protection legislation, such as:
- Privacy and Electronic Communications Regulations (PECR)
- General Data Protection Regulation (GDPR)
 
Check with your organisation's privacy expert to see how data protection legislation affects your website and service.

## How it works

Show the cookie banner every time the user accesses your service until they either:
- accept or reject cookies using the buttons in the cookie banner
- save their cookie preferences on the service’s [cookie page](/patterns/cookies-page/)

Once the user has accepted or rejected cookies, the cookie banner should:
- hide the cookie banner message
- show the confirmation message - and a 'hide' button to let the user close the banner
- set a cookie to save the user’s preferences for 1 year

Make sure the cookie banner does not:
- show when the user visits again, once their preferences have been saved
- set any non-essential cookies unless the user accepted them on a previous visit

Position the cookie banner after the opening `<body>` tag and before the 'skip to main content' link. If you're using the Nunjucks page template, use the `bodyStart` block.

### Option 1: If you’re only using essential cookies

You can choose not to have a cookie banner if the service only sets essential or 'strictly necessary' cookies, as these do not need user consent.

However, you must tell users that you set essential cookies. You can do this with a cookie page - link to this page in the footer.

### Option 2: If you set non-essential cookies on the server

You can choose this option if your service sets non-essential cookies on the server - your service may also set non-essential cookies on the client.

To get consent from the user, display the cookie banner inside a form that lets them submit their choice to accept or reject cookies.

All users will be able to see the banner as this approach does not rely on JavaScript.

**[code example - cookie question - server side with no additional messages]**

Once the user has accepted or rejected cookies and set their cookie preferences, reload the page to show the confirmation message:

**[code example - cookie confirmation - server side with no additional messages]**

#### Show the same message to all users

In the cookie banner, tell the user about all the cookies you’re using in the service - whether they've enabled JavaScript or not. This way, you won’t need to ask the user to give their consent again on their next visit.

#### Help users keep their place using progressive enhancement

If the user is entering information into a form as part of the service, they might lose their place when they submit their choice to accept or reject cookies.

To help users running JavaScript on their device, you can write some JavaScript code to let them submit their choice and prevent the page from reloading.

Include all possible messages that the user could see in the cookie banner when the page loads. Hide these with the `hidden` HTML attribute where needed.

**[code example - cookie question - server side with additional messages but hidden]**

**[code example - cookie confirmation - server side with additional messages but hidden]**

### Option 3: If you set non-essential cookies - but only on the client

You can choose to make your banner to only work with JavaScript if your service only needs to set non-essential cookies on the client.
 
Write your own JavaScript code to make your banner do what it should do.

Include all possible messages that the user could see in the cookie banner when the page loads. Hide these with the `hidden` HTML attribute where needed.

Your code should be able to:
- hide the cookie message by adding the hidden attribute
- unhide the replacement message by removing the hidden attribute
- give the replacement message the `tabindex="-1"` and `role="alert"` attributes - this will allow the element to be focused so  assistive technology can read the message
- shift focus to the replacement message

Here’s an example:

{{ example({group: "components", item: "cookie-banner", example: "client-side", html: true, nunjucks: true, open: true}) }}

#### When the user has accepted cookies

Unhide a replacement message confirming that the user has either accepted or rejected cookies by removing the hidden attribute.

{{ example({group: "components", item: "cookie-banner", example: "accepted", html: true, nunjucks: true, open: false}) }}

#### When the user has rejected cookies 

{{ example({group: "components", item: "cookie-banner", example: "rejected", html: true, nunjucks: true, open: false}) }}

## What to cover in your cookie banner

Include the name of the service in the banner heading to help users understand that the cookies you’re talking about are different from the ones set by the main GOV.UK platform.

You’ll need to change the example cookie banner text if your service:

- allows third parties to set cookies (tell the user that both your organisation and other organisations will be setting cookies)
- uses cookies for reasons other than collecting analytics information or remembering the user’s settings

Keep the text as short as possible while making sure it’s an accurate description of how you use cookies. For example, if you use more than one ‘functional’ cookie and there’s not enough space to mention what each of them does, you could ask for permission to set cookies so ‘you can use as many of the service’s features as possible’.

[See the cookies page for more advice on writing about cookies(/patterns/cookies-page/)].

### If you’re using essential cookies and analytics cookies

You can use this example text for a service which sets essential and analytics cookies - set by your organisation to collect analytics information about how well the service is performing.

{{ example({group: "components", item: "cookie-banner", example: "default", html: true, nunjucks: true, open: false}) }}

### If you’re using more than one type of non-essential cookie

You can use this example text for a service that set:
- essential cookies
- analytics’ cookies
- functional cookies to remember the user’s settings but are not essential

{{ example({group: "components", item: "cookie-banner", example: "multiple-cookies", html: true, nunjucks: true, open: false}) }}

## Creating a cookies page

You’ll need a [cookie page](/patterns/cookies-page/) as well as a cookie banner.

When the user sets or changes their cookie preferences using the controls on the cookie page (rather than in the cookie banner), display this version of the replacement message. This is so they can get back to the page they were looking at.

## Research on this component

When the user accepts or rejects cookies, a replacement message will display. For example, "Your cookie preferences have been saved." The focus also shifts to this new message.

However, a visible focus indicator does not display around the replacement message. This is different from the notification banner, which does display a visible focus indicator.

We decided to remove the visible focus indicator from the replacement message for a few reasons, as:
- a user cannot interact with it
- it's the first element, at the very top of the page
- it displays in place of the cookie message, which is the last thing the user interacted with

In this scenario, we assume that a visible focus indicator would be more likely to confuse users than to help them. However, we need more research to prove this.
