---
layout: layout-single-page-prose.njk
---

# Community backlog

The Design System is built upon the research and experience of teams across the whole of government.

Anyone can propose, develop or contribute to new patterns and components, or improvements to existing ones.

Here is a list of the components, patterns and updates currently on the Design System backlog. They can be:

- Proposed - someone has suggested a new component or pattern
- To do - the proposed component or pattern has been agreed and is ready to work on
- In progress - someone is actively working on the component or pattern


add list here