---
layout: layout-single-page-prose.njk
---

# How you can contribute

The GOV.UK Design System is currently in private beta. We will be developing these contribution guidelines based on user research over the next 12 weeks.

## Discussing styles, components and patterns

You can discuss the work being developed here by commenting on issues via the issues list or backlog.

For example, you can:

- ask questions about a component or pattern
- answer questions from other contributors
- share examples or demos of a component or pattern
- share research relating to a component or pattern

## Proposing new styles, components or patterns

If you have an idea for a new style, component or pattern you can propose it by raising an issue.

During private beta we will be exploring ways of reviewing new issues against the Design System criteria.

## Developing components and patterns

During private beta we may consider offers to develop something on the backlog, but we're not yet ready to accept all requests. If there's something you'd be interested in working on, comment on it's issue or email the team.

If you're writing code, please follow our coding standards.