---
layout: layout-pane.njk
title: Community
description:  The GOV.UK Design System brings together the latest research, design and development from across government to make it sure it’s representative and relevant for its users
---

The GOV.UK Design System is for everyone, with a strong community sitting behind it. It brings together the latest research, design and development from across government to make it sure it’s representative and relevant for its users.

Find out [how to contribute](how-you-can-contribute), or see what people are currently working on in the [community backlog](backlog).

You can also learn how the cross-government [Design System working group](design-system-working-group) helps to ensure the components and patterns you’ll find here meet the [contribution criteria](contribution-criteria).
