---
layout: layout-pane.njk
title: Community
description:  The GOV.UK Design System brings together the latest research, design and development from across government to make it sure it’s representative and relevant for its users
show_subnav: true
---

The GOV.UK Design System is for everyone. It has a strong cross-government community behind it. It includes the latest research, design and development to represent and be relevant for its users.

Find out:

- about [community resources and tools](/community/resources-and-tools)
- what people are currently working on in the [community backlog](/community/backlog)
- how to [propose a component or pattern](/community/propose-a-component-or-pattern)
- how to [develop a component or pattern](/community/develop-a-component-or-pattern)
- about [blog posts, videos and podcasts](/community/blogs-talks-podcasts)

Learn how the [Design System working group](/community/design-system-working-group) reviews and approves components and patterns to confirm they meet the [contribution criteria](/community/contribution-criteria).

## Community principles

These principles are for the community of people that create and contribute to government components and patterns.

### 1. Start with what exists

Reuse as much as possible and iterate based on user needs.

Start by checking what exists in the [GOV.UK Design System](/).

If something is not in the Design System, check the [community backlog](/community/backlog/) and [community resources and tools](/community/resources-and-tools) to see what colleagues in other departments have done before.

Reach out to the community to ask questions, gather examples and learn from others’ mistakes.

### 2. Contribute back and help others

The GOV.UK Design System is for everyone. Anyone can contribute evidenced-based changes.

Think beyond your service and aim to design components and patterns that are scalable, reusable and can evolve over time.

Share research findings and examples with others. Be open to feedback or changes to your work.

Above all, be kind. Encourage others to contribute by being respectful when asking questions or giving feedback.

### 3. Prioritise openness and honesty

Prioritise sharing components and patterns in the GOV.UK Design System and [community backlog](/community/backlog/). This makes them easier to find and reduces duplication of effort.

Share work in progress as early as possible. Be honest about the amount and nature of your research and findings. Share what works and what does not.

Promote awareness of existing work whenever possible.
