---
title: Tables
description: Creating accessible tables 
section: Accessibility
theme: Content
layout: layout-pane.njk
order: 12
---

Use the [table component](https://design-system.service.gov.uk/components/table/) to make information easier to compare and scan for users.
Keep tables simple and use the column header function. 
Do not split or merge cells. 

These simple steps make it easier for people to navigate them using screen readers. 