---
title: Panel
description: The Panel component is a visible container used on confirmation or results pages.
section: Components
aliases:
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

The Panel component is a visible container used on confirmation or results pages to highlight important content.

{{ example({group: 'components', item: 'panel', example: 'default'}) }}

## When to use this component

Use the Panel component to display important information when a transaction has been completed.

In most cases, the Panel component is used on [Confirmation pages](../../patterns/confirmation-pages), to tell the user they have successfully completed the transaction.

You can also use the Panel component in services that give users instant results, such as confirming the MOT status of a vehicle, to highlight the most important information on the page.

For example:

### When not to use

Don’t use the Panel component to highlight important information within body content. In this instance you should use the ‘Inset text’ component instead.

## How it works

There are 2 ways to use the Panel component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the GOV.UK Prototype Kit, you can use the Panel macro.

{{ example({group: 'components', item: 'panel', example: 'default', html: true, nunjucks: true, open: true}) }}

## Research on this component

If you’ve used this component, [get in touch](Anchor link to Get in touch panel at bottom of page) to share your user research findings.
