---
title: Are you currently subject to formal action for poor performance at work?
layout: layout-example.njk
---

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Are you currently subject to formal action for poor performance at
      work?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "For example, under your school’s capability or performance management
    policy. We only use this information to check your eligibility."
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}
