---
title: Legal requirements
description: The Law
section: Accessibility
theme: Resources
layout: layout-pane.njk
order: 9
---
If you do not create accessible content [you could be breaking the law.](https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps)

If you are working to the GOV.UK Service Standard you will also need to [understand accessibility requirements for public sector bodies.](https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps)

Each of the standards feed into the [Equality Act 2010.](https://www.gov.uk/guidance/equality-act-2010-guidance)
 
If you are building anything which runs in a browser, you will need to meet the [Public Sector Bodies Accessibility Regulations 2018.](https://www.legislation.gov.uk/uksi/2018/852/contents/made)

If you are procuring hardware or software you will need to meet the [EN 301 549 Accessibility Requirements for ICT products and services.](https://www.w3.org/WAI/news/2018-09-13/WCAG-21-EN301549/)

We cannot claim [disproportionate burden](https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps) in HM Land Registry. 

The [accessibility checklist](/accessibility/check-how-accessible-your-content-is/#accessibility-checklist) will help you meet these standards. 
