---
title: Check a service is suitable
description: Ask users questions to help them work out if they can or should use your service.
section: Patterns
theme: Help users to...
aliases:
layout: layout-patterns.njk
---


Ask users questions to help them work out if they can or should use your service.

Doing this helps users save time as it tells them upfront whether they are eligible to use it and if they need it.

It can also help reduce time and money spent processing queries from users confused about whether they’re eligible to use your service, or if it’s suitable for them.

[Screenshot of Check before you start first page]

See a complete [example of check before you start](https://check-before-you-start-pattern.cloudapps.digital/)

## When to use this pattern

If you have complicated eligibility requirements you should follow this pattern. This will save  users from having to read through large amounts of documentation outside of the service to work out if they can use your service.

Use this pattern to help users work out:

- if they’re eligible to use your service
- how much it will cost them to use
- how much money they will get
- how long it will take to get something

### When not to use

Don’t use this pattern if you can include information users need to know about your service and its eligibility requirements on a start page

## How it works

You should help people find out whether your service is right for them as soon as you can.

When using this pattern, you need to:

- Ask a series of simple questions
- Automatically work out what a user needs to know
- Present the user with a ‘results’ page

If there are general rules about whether a service can or can’t be used such as an age limit or fixed deadline, include these on the start page.

### Ask simple questions

You’ll only be able to ask users clear questions when the process is simple enough.

If you’re struggling to write simple questions because the policy is too complicated, work with relevant teams in your organisation to make it simpler.

### Present results

Your results page should show the user if they’re eligible to use it. Where applicable, it should also show them:

- if they have to use your service
- how much it will cost them to use it
- how much money they’ll get from using it
- how long the whole process will take

If a user isn’t eligible to use your service, explain why and, if possible, tell them what they should do instead.

Here’s an example of a results page:

[Live example or screenshot of a results page]

## Research on this pattern

Read a blog post about testing and iterating the check before you start pattern.
