---
title: School search non-JS fallback
description: Help users enter a Teacher Reference Number
section: Patterns
theme: Ask users for…
aliases: school search, non-js
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "patterns", item: "school-search-non-js-fallback", example: "default", html: true, nunjucks: true, open: false}) }}

## When to use this pattern

Use this pattern when you need to collect the teacher reference number from
users. Not everyone knows their teacher reference number, and whilst it is
possible to find out a teacher reference number, it can be a costly question to
answer.

## How it works

<iframe width="560" height="315" src="https://www.youtube.com/embed/5dLEDPkzlOU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="govuk-!-margin-bottom-6"></iframe>

### Allow different formats
Users should be allowed to search for their school in the way that is easiest
for them. We recommend allowing users to search by:

- name or partial name of the school
- postcode

## With search results

Search results should be styled like this:

{{ example({group: "patterns", item: "school-search-non-js-fallback", example: "with-search-results", html: true, nunjucks: true, open: false, size: "xl"}) }}

### Error messages

Error messages should be styled like this:

{{ example({group: "patterns", item: "school-search-non-js-fallback", example: "error-empty-field", html: true, nunjucks: true, open: false, size: "s"}) }}

Make sure errors follow the guidance in the GDS
[error message](https://design-system.service.gov.uk/components/error-message/)
and have specific error messages for specific error states.

#### If nothing has been entered

Say ‘Enter the name or postcode of the school’.

#### If no results match the search term

Say ‘No results match that search term. Try again.’

## Research on this pattern

Somethings about research on this pattern:

- WRITE THIS NICER => We were seeing users search for a school name that did not
exist. One reason for this was that the school had changed status during their
employment and they were searcing for the old school name.
- EXAMPLE 2
- SOMETHING ELSE
