---
title: Contribution criteria
description: To help ensure that the contents of the GOV.UK Design System are of a high quality and meet user needs, all components and patterns must meet the following criteria
section: Community
layout: layout-pane.njk
order: 3
---

{% from "table/macro.njk" import govukTable %}

To help ensure that the contents of the GOV.UK Design System are of a high quality and meet user needs, all components and patterns must meet the following criteria.

## New proposals

To be considered for inclusion in the GOV.UK Design System, components and patterns must be:


{{ govukTable({
  classes: "app-!-max-width-measure",
  head: [
    {
      text: "Criteria"
    },
    {
      text: "Description"
    }
  ],
  rows: [
    [
      {
        text: "Useful"
      },
      {
        text: "It addresses a user need that’s shared by multiple services or products."
      }
    ],
    [
      {
        text: "Unique"
      },
      {
        text: "It doesn’t duplicate something which already exists in the GOV.UK Design System, unless it’s intended to replace it."
      }
    ]
  ]
}) }}


The [working group](/community/design-system-working-group) will review all proposals in the [community backlog](/community/backlog) to check they meet these criteria, before they are agreed.

## Before publication

Before new components and patterns are published into the GOV.UK Design System, the working group will review them again to make sure that they are:

{{ govukTable({
  classes: "app-!-max-width-measure",
  head: [
    {
      text: "Criteria"
    },
    {
      text: "Description"
    }
  ],
  rows: [
    [
      {
        text: "Usable"
      },
      {
        html: "<p> It has been tested  in user research and shown to work with a representative sample of users, including those with disabilities. </p>

        <p> Components and patterns which do not meet the ‘usable’ criteria can be published as ‘experimental’, provided that they are based on relevant user research from other organisations and best practice, and meet the other criteria. </p>
        <p> Most new components and patterns will be published as experimental at first. The experimental tag can be removed once they have been validated through research in a range of services, and with different types of users. </p>"
      }
    ],
    [
      {
        text: "Consistent"
      },
      {
        html: "<p>It uses existing styles and components in the GOV.UK Design System where relevant.</p>

        <p>Any code follows the <a href='https://github.com/alphagov/govuk-frontend/blob/master/CONTRIBUTING.md#conventions-to-follow'>GOV.UK Frontend coding standards</a> and is ready to merge in GOV.UK Frontend.</p>"
      }
    ],
    [
      {
        text: "Versatile"
      },
      {
        text: "It can be easily applied in different contexts."
      }
    ],
    [
      {
        text: "Tested"
      },
      {
        html: "It’s been tested and shown to work with a range of <a href=\"https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices\">browsers, assistive technologies and devices</a>."
      }
    ],
    [
      {
        text: "Considered"
      },
      {
        text: "There are no obvious political, security or ethical implications."
      }
    ]
  ]
}) }}
