---
title: Links
description: Links
section: Accessibility
theme: Resources
layout: layout-pane.njk
order: 10
---
Always make your [links](https://www.gov.uk/guidance/content-design/links) descriptive so people using screen readers will know where the link will take them. 

Links are blue and underlined by default. 

Never leave the full link visible or use the words 'click' or 'click here' as some people do not use a mouse.

Use ‘select’ and make sure the link is meaningful, for example:

Good: [guidance on GDS standards](https://www.gov.uk/service-manual/service-standard)

Bad: [read more](https://www.gov.uk/service-manual/service-standard)
