---
title: Button with prevent double click – Button
layout: layout-example-form.njk
---
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Confirm and send",
  preventDoubleClick: true
}) }}
