---
title: Disciplinary action information
description: Ask users if they are currently subject to any disciplinary action
section: Patterns
theme: Ask users for…
aliases: radio buttons, option buttons, ITT
backlog_issue_id: 59
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "patterns", item: "subject-to-disciplinary-action", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this pattern

Use this pattern when you need to ask a teacher if they are currently subject to
disciplinary action.

## When not to use this pattern

### Error messages

Error messages should be styled like this:

{{ example({group: "patterns", item: "subject-to-disciplinary-action", example: "error-none-selected", html: true, nunjucks: true, open: false, size: "s"}) }}

#### If nothing has been selected

Say ‘Select yes if you are subject to disciplinary action’.

Make sure errors follow the guidance in the GDS
[error message component](https://design-system.service.gov.uk/components/error-message/)
and have specific error messages for specific error states.

## Provide more information on the ineligible screen

It's possible that a user's disciplinary
action will be reovked before the dealine for a service. You should tell users this
deadline if your service is not open all year round.

## Say that we only use this for eligibility

Users may be concerned that we'll store this information or use it against them in some way.

## Research on this component
