---
title: How you can contribute
description:
section: Community
layout: layout-pane.njk
---

{% from "table/macro.njk" import govukTable %}

The GOV.UK Design System is currently in beta. The Design System team will be developing these contribution guidelines based on user research over the coming months.

## Discussing styles, components and patterns

You can discuss the existing styles, components and patterns in the Design System, or ones being developed, by commenting on issues in the [community backlog](/design-system/community/backlog). Alternatively, you can email govuk-design-system-support@digital.cabinet-office.gov.uk.

For example, you can:

- ask questions about a style, component or pattern
- answer questions from other contributors
- share examples or demos of a component or pattern
- share research relating to a style, component or pattern

## Proposing new styles, components or patterns

If you have an idea for a new component or pattern you can propose it by [raising an issue](https://github.com/alphagov/govuk-design-system-backlog/issues/new) in the backlog or emailing the Design System team.

## Developing components and patterns

If there’s something you’d be interested in working on, comment on its issue in the [community backlog](/design-system/community/backlog) or email the Design System team.


## Design System criteria

To help ensure that the contents of the GOV.UK Design System are of a high quality and meet user needs, all components and patterns must meet the following criteria.

## New proposals

To be considered for inclusion in the GOV.UK Design System, components and patterns must be:


{{ govukTable({
  head: [
    {
      text: "Criteria"
    },
    {
      text: "Description"
    }
  ],
  rows: [
    [
      {
        text: "Useful"
      },
      {
        text: "It addresses a user need that’s shared by multiple services or products."
      }
    ],
    [
      {
        text: "Unique"
      },
      {
        text: "It doesn’t duplicate something which already exists in the GOV.UK Design System, unless it’s intended to replace it."
      }
    ]
  ]
}) }}


The [working group](/design-system/community/working-group) will review all proposals in the [community backlog](/design-system/community/backlog) to check they meet these criteria, before they are agreed.

## Before publication

Before new components and patterns are published into the GOV.UK Design System, the working group will review them again to make sure that they are:

{{ govukTable({
  head: [
    {
      text: "Criteria"
    },
    {
      text: "Description"
    }
  ],
  rows: [
    [
      {
        text: "Usable"
      },
      {
        html: "<p> It has been tested  in user research and shown to work with a representative sample of users, including those with disabilities. </p>

        <p> Components and patterns which do not meet the ‘usable’ criteria can be published as ‘experimental’, provided that they are based on relevant user research from other organisations and best practice, and meet the other criteria. </p>
        <p> Most new components and patterns will be published as experimental at first. The experimental tag can be removed once they have been validated through research in a range of services, and with different types of users. </p>"
      }
    ],
    [
      {
        text: "Consistent"
      },
      {
        html: "<p>It uses existing styles and components in the GOV.UK Design System where relevant.</p>

        <p>Any code follows the <a href='https://github.com/alphagov/govuk-frontend/blob/master/CONTRIBUTING.md#conventions-to-follow'>GOV.UK Frontend coding standards</a> and is ready to merge in GOV.UK Frontend.</p>"
      }
    ],
    [
      {
        text: "Versatile"
      },
      {
        text: "It can be easily applied in different contexts."
      }
    ],
    [
      {
        text: "Tested"
      },
      {
        html: "It’s been tested and shown to work with a range of <a href=\"https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices\">browsers, assistive technologies and devices</a>."
      }
    ],
    [
      {
        text: "Considered"
      },
      {
        text: "There are no obvious political, security or ethical implications."
      }
    ]
  ]
}) }}
