---
title: Headings with captions – Typography
layout: layout-example.njk
ignore_in_sitemap: true
---

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">govuk-caption-xl</span>
  govuk-heading-xl
</h1>
