---
title: Links without underlines – Typography
layout: layout-example.njk
---

<p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-underline">link text (with no underline)</a>
</p>
