---
title: Small checkboxes
layout: layout-example.njk
---

{% from "checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  idPrefix: "waste",
  name: "waste",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "Filter",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "filter-1",
      text: "Filter 1"
    },
    {
      value: "filter-2",
      text: "Filter 2"
    },
    {
      value: "filter-3",
      text: "Filter 3"
    }
  ]
}) }}
