<main id="content" class="app-c-content" role="main">
  <div class="govuk-o-site-width-container app-c-site-width-container--constraint">
    <h1 class="heading-xlarge">Something went wrong</h1>
  </div>
</main>
