---
title: Interruption pages
layout: layout-example-full-page.njk
---

{% extends "example-wrappers/full-page.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set panelHtml %}
<p>You entered your age as <strong>109</strong>.</p>
<div class="govuk-button-group">
  <button type="submit" class="govuk-button govuk-button--inverse" data-module="govuk-button">
    Yes, this is correct
  </button>
  <a href="#" class="govuk-link govuk-link--inverse">Change my age</a>
</div>
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Is your age correct?",
        html: panelHtml,
        classes: "govuk-panel--interruption"
      }) }}
    </div>
  </div>
{% endblock %}
