---
title: Error message with label – Error message
layout: layout-example-form.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "National Insurance number"
  },
  hint: {
    text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
  },
  id: "national-insurance-number",
  name: "nationalInsuranceNumber",
  errorMessage: {
    text: "Enter a National Insurance number in the correct format"
  }
}) }}
