{% if PULL_REQUEST === "true" %}
  {% set bannerTag = "preview" %}
  {% set bannerText %}
    This is a preview of
    a <a class="govuk-link" href="https://github.com/LandRegistry/hmlr-design-system/pull/{{ HEROKU_PR_NUMBER }}">proposed change</a> to the
    <a class="govuk-link" href="https://hmlr-design-system.herokuapp.com/">Design System</a>.
  {% endset %}
{% elif STAGING_SITE === "true" %}
  {% set bannerTag = "beta" %}
  {% set bannerText %}
    This is a beta version of
    the <a class="govuk-link" href="https://github.com/LandRegistry/hmlr-design-system/tree/staging">staging</a> branch for the
    <a class="govuk-link" href="https://hmlr-design-system.herokuapp.com/">Design System</a>.
  {% endset %}
{% endif %}

{% if bannerText %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    "tag": {
      "text": bannerTag,
      "classes": "govuk-tag--red"
    },
    "classes": 'app-width-container' + (' app-phase-banner--no-border' if masthead),
    "html": bannerText
  }) }}
{% endif %}
