{% if PULL_REQUEST === "true" %}
  {% set bannerTag = "Preview" %}
  {% set bannerText %}
    This is a preview of
    a <a class="govuk-link" href="https://github.com/alphagov/govuk-design-system/pull/{{ REVIEW_ID  }}">proposed change</a> to the
    <a class="govuk-link" href="https://design-system.service.gov.uk">Design System</a>.
  {% endset %}
{% elif PULL_REQUEST === "false" %}
  {% set bannerTag = "Archive" %}
  {% set bannerText %}
    This is an archived version of
    the <a class="govuk-link" href="https://github.com/alphagov/govuk-design-system/tree/{{ BRANCH }}">{{ BRANCH }}</a> branch for the
    <a class="govuk-link" href="https://design-system.service.gov.uk">Design System</a>.
  {% endset %}
{% endif %}

{% if bannerText %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    "tag": {
      "text": bannerTag,
      "classes": "govuk-tag--red"
    },
    "classes": 'app-width-container' + (' app-phase-banner--no-border' if masthead),
    "html": bannerText
  }) }}
{% endif %}
