{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{# Only render breadcrumbs on pages that aren't the homepage. This is a bit
hacky, but works as the homepage has an empty string for a permalink. #}
{% if permalink %}
  {{ govukBreadcrumbs({
    classes: "app-breadcrumbs",
    items: getAncestorPages(permalink)
  }) }}
{% endif %}
