<div class="govuk-grid-row">
	<div class="govuk-grid-column-full govuk-!-margin-top-6">

		{% from "govuk/components/table/macro.njk" import govukTable %}

		{{ govukTable({
		  caption: "Component backlog",
		  captionClasses: "govuk-table__caption--m",
		  firstCellIsHeader: true,
		  head: [
		    {
		      text: "Working title"
		    },
		    {
		      text: "Description"
		    },
		    {
		      text: "Who we've heard from"
		    },
		    {
		      text: "Next steps"
		    }
		  ],

		  rows: [
		    [
		      {
		        text: "Search by title number "
		      },
		      {
		        text: "Users can find information that we have using a title number"
		      },
		      {
		        text: "Search for land and property information and Search for local land charges"
		      },
		      {
		        text: "Services to review their own documentation"
		      }
		    ],

		    [
		      {
		        text: "Input monetary values bigger than £999"
		      },
		      {
		        text: "Currency or mortgage input for values bigger than £999. Potentially includes displaying these figures."
		      },
		      {
		        text: "Application processing, Digital Registration Service and Maintain local land charges"
		      },
		      {
		        text: "Need to form a working group"
		      }
		    ],

		    [
		      {
		        text: "Search by INSPIRE ID"
		      },
		      {
		        text: "Users can find information that we have using an INSPIRE ID"
		      },
		      {
		        text: "Search for land and property information and Search for local land charges"
		      },
		      {
		        text: "Teams to work on"
		      }
		    ]
		  ]
		}) }}

	</div>
</div>

