<div class="app-c-contact-panel">
  <h2 class="app-c-contact-panel__heading">Get in touch</h2>
  <p class="app-c-contact-panel__body">If you’ve got a question, idea or suggestion share it in <a class="app-c-contact-panel__link" href="https://ukgovernmentdigital.slack.com/messages/govuk-design-system">#govuk-design-system</a> on cross-government Slack (<a class="app-c-contact-panel__link" href="slack://channel?team=T04V6EBTR&amp;id=C6DMEH5R6">open in app</a>) or <a class="app-c-contact-panel__link" href="mailto:govuk-design-system-support@digital.cabinet-office.gov.uk">email the Design System team</a></p>
</div>
