{% macro embedCard(params) %}
  <div class="govuk-grid-row" data-module="app-embed-card" data-yt-id="{{ params.ytId }}">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{- caller() if caller else params.content | safe -}}
      <a class="app-embed-card__placeholder app-embed-card__placeholder-thumb-container" href="https://www.youtube.com/watch?v={{ params.ytId }}">
        <img class="app-image--no-border app-embed-card__placeholder-thumb-image" alt="{{ params.title }}" src="/images/yt-thumb-example.jpg">
        <span class="app-embed-card__placeholder-text govuk-visually-hidden">
          {{ params.title }}
        </span>
      </a>
      <p>
        <a href="{{ params.transcriptHref }}">Read the full transcript</a>
      </p>
    </div>
    {% if params.authorImgSrc %}
      <div class="govuk-grid-column-one-third-from-desktop">
        <img class="app-image--no-border app-embed-card__author-img" src="{{ params.authorImgSrc }}" alt="{{ params.authorImgAlt }}" role="presentation">
      </div>
    {% endif %}
  </div>
{% endmacro %}
