{% macro example(params) %}

{% set exampleRoot = "src/" + params.group + "/" + params.item + "/" + params.example + "/" %}
{% if params.customCode %}
  {% set examplePath = exampleRoot + "code.njk" %}
{% else %}
  {% set examplePath = exampleRoot + "index.njk" %}
{% endif %}

{% set railsPath = exampleRoot + "index.erb" %}

{% set exampleURL = "/" + params.group + "/" + params.item + "/" + params.example + "/index.html" %}

{% set exampleTitle = getFrontmatter(examplePath).title %}
{% if params.titleSuffix %}
  {% set exampleTitle = exampleTitle + " " + params.titleSuffix %}
{% endif %}

{% if params.id %}
  {% set exampleId = params.id %}
{% else %}
  {% set exampleId = (exampleTitle + " example") | slugify %}
{% endif %}

{% if params.open %}
  {% set exampleId = exampleId + "-open" %}
{% endif %}

{% set display = params.displayExample | default(true) %}

{% set multipleTabs = params.html and params.nunjucks %}

<div class="app-example-wrapper" id="{{ exampleId }}" data-module="app-tabs" {%- if params.open %} data-open{% endif %}>
  {% if display %}
    <div class="app-example {{ "app-example--tabs" if params.html or params.nunjucks }}">
      <div class="app-example__toolbar">
        <a href="{{ exampleURL }}" class="app-example__new-window" target="_blank">
          {#- Don't use full title visually as the context is shown based on location of this link #}
          Open this example in a new tab<span class="govuk-visually-hidden">: {{ exampleTitle | lower | smartypants }}</span>
        </a>
      </div>
      <iframe title="{{ exampleTitle | smartypants + " example" }}" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable{% if params.size %} app-example__frame--{{ params.size }}{% endif %}" src="{{ exampleURL }}" loading="{% if params.loading %}{{ params.loading }}{% else %}lazy{% endif %}"></iframe>
    </div>
  {% endif %}

  {%- if (multipleTabs) %}
    <span id="options-{{ exampleId }}"></span>
    <ul class="app-tabs" role="tablist">
      <li class="app-tabs__item js-tabs__item" role="presentation"><a href="#{{ exampleId }}-html" role="tab" aria-controls="{{ exampleId }}-html" data-track="tab-html">HTML</a></li>
      <li class="app-tabs__item js-tabs__item" role="presentation"><a href="#{{ exampleId }}-nunjucks" role="tab" aria-controls="{{ exampleId }}-nunjucks" data-track="tab-nunjucks">Nunjucks</a></li>

      {%- if (params.rails) %}
        <li class="app-tabs__item js-tabs__item" role="presentation"><a href="#{{ exampleId }}-rails" role="tab" aria-controls="{{ exampleId }}-rails" data-track="tab-rails">Ruby on Rails</a></li>
      {% endif %}
    </ul>
  {% elif not (params.hideTab) %}
    {% set tabType = "html" if params.html else ("nunjucks" if params.nunjucks ) %}
    {#- if at least one tab is set to true show the list -#}
    {% if tabType %}
      <ul class="app-tabs" role="tablist">
        <li class="app-tabs__item js-tabs__item" role="presentation">
          <a href="#{{ exampleId }}-{{ tabType }}" role="tab" aria-controls="{{ exampleId }}-{{ tabType }}" data-track="tab-{{ tabType }}">{{ "HTML" if params.html else ("Nunjucks" if params.nunjucks )}}</a>
        </li>
      </ul>
    {% endif %}
  {% endif %}

  {%- if (params.html) %}
    {%- if (multipleTabs) or (not params.hideTab) %}
      <div class="app-tabs__heading js-tabs__heading"><a href="#{{ exampleId }}-html" aria-controls="{{ exampleId }}-html" data-track="tab-html">HTML</a></div>
    {% endif %}
    <div class="app-tabs__container js-tabs__container{{ " js-tabs__container--no-tabs" if (params.hideTab) }}" id="{{ exampleId }}-html" role="tabpanel">
      <div class="app-example__code" data-module="app-copy">

```html
{{ getHTMLCode(examplePath) | safe }}
```

      </div>
    </div>
  {% endif %}

  {%- if (params.rails) %}
   <div class="app-tabs__container js-tabs__container{{ " js-tabs__container--no-tabs" if (params.hideTab) }}" id="{{ exampleId }}-rails" role="tabpanel">

    <p class="govuk-body">This uses the <a href="https://govuk-components.netlify.app/" class="govuk-link">GOV.UK Components for Ruby on Rails</a> gem developed by the community.</p>
        <div class="app-example__code" data-module="app-copy">

  ```erb
  {{ getRubyOnRailsCode(railsPath) | safe }}
  ```

        </div>
      </div>

    <div class="app-tabs__heading js-tabs__heading"><a href="#{{ exampleId }}-rails" aria-controls="{{ exampleId }}-rails" data-track="tab-html">Ruby on Rails</a></div>
  {% endif %}
  {%- if (params.nunjucks) %}
    {%- if (multipleTabs) %}
      <div class="app-tabs__heading js-tabs__heading"><a class="app-tabs__heading-link" href="#{{ exampleId }}-nunjucks" aria-controls="{{ exampleId }}-nunjucks" data-track="tab-nunjucks">Nunjucks</a></div>
    {% elif not (params.hideTab) %}
      <div class="app-tabs__heading js-tabs__heading"><a href="#{{ exampleId }}-nunjucks" role="tab" aria-controls="{{ exampleId }}-nunjucks" data-track="tab-nunjucks">Nunjucks</a></div>
    {% endif -%}
    <div class="app-tabs__container js-tabs__container{{ " js-tabs__container--no-tabs" if (params.hideTab) }}" id="{{ exampleId }}-nunjucks" role="tabpanel">
      {%- if (params.group == 'components') %}
        {% set macroOptions = getMacroOptions(params.item) %}

        {% set macroOptionsHTML %}
          <p>
          Use options to customise the appearance, content and behaviour of a component when using a macro, for example, changing the text.
          </p>
          <p>
          Some options are required for the macro to work; these are marked as "Required" in the option description.
          </p>
          <p>
          If you're using Nunjucks macros in production with "html" options, or ones ending with "html", you must sanitise the HTML to protect against  <a href="https://developer.mozilla.org/en-US/docs/Glossary/Cross-site_scripting">cross-site scripting exploits</a>.
          </p>
          {% for table in macroOptions %}
            <table class="govuk-table app-options__table" id="options-{{ exampleId }}--{{ table.slug }}">
              <caption class="govuk-table__caption govuk-heading-m {% if table.slug == 'primary' %} govuk-visually-hidden{% endif %}">{{ table.name | safe }}</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header app-options__limit-table-cell" scope="col">Name</th>
                  <th class="govuk-table__header app-options__limit-table-cell" scope="col">Type</th>
                  <th class="govuk-table__header" scope="col">Description</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% for option in table.options -%}
                  {# Option name only, without parent prefix -#}
                  {% set optionName = option.name.split(" ") | last %}
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">{{ optionName | safe }}</th>
                    <td class="govuk-table__cell">{{ option.type }}</td>
                    <td class="govuk-table__cell">
                    {% if (option.required) %}
                      <strong>Required.</strong>
                    {% endif %}
                      {{ option.description | safe }}
                    {% if (option.params) or ["hint", "label"].includes(option.slug) %}
                      {% if option.isComponent and not ["hint", "label"].includes(option.slug) %}
                        {# Link to subset of Nunjucks macro options table and Design System component page -#}
                        See supported <a href="#options-{{ exampleId }}--{{ option.slug }}">{{ option.name | safe }}</a> options for <a href="/components/{{ option.slug }}/#options-{{ option.slug }}-example">{{ optionName | safe }}</a>.
                      {% else %}
                        {# Link to Nunjucks macro options table only -#}
                        See <a href="#options-{{ exampleId }}--{{ option.slug }}">{{ option.name | safe }}</a>.
                      {% endif %}
                    {% elif option.isComponent %}
                      {# Link to Design System component page for nested components -#}
                      See <a href="/components/{{ option.slug }}/#options-{{ option.slug }}-example">{{ optionName | safe }}</a>.
                    {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endfor %}

        {%- endset %}

        {%- from "govuk/components/details/macro.njk" import govukDetails %}

        {{- govukDetails({
          summaryHtml: '<span data-components="github-component-arguments">Nunjucks macro options</span>',
          html: macroOptionsHTML,
          classes: "app-options",
          attributes:{
            id: "options-" + exampleId + "-details"
          }
        })}}
      {% endif -%}
      <div class="app-example__code" data-module="app-copy">

```njk
{{ getNunjucksCode(examplePath) | safe }}
```

      </div>
    </div>
  {% endif %}
</div>

{% endmacro %}
