{% from "footer/macro.njk" import govukFooter %}

{{ govukFooter({
  "classes": "app-footer app-footer--full",
  "containerClasses" : "app-site-width-container",
  "meta": {
    "items": [
      {
        "href": "/accessibility",
        "text": "Accessibility"
      },
      {
        "href": "/sitemap",
        "text": "Sitemap"
      },
      {
        "href": "/cookies",
        "text": "Cookies"
      },
      {
        "href": "/privacy-policy",
        "text": "Privacy policy"
      }
    ]
  }
}) }}
