<footer class="app-c-footer">
  <div class="app-c-footer__navigation govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
      <h2 class="app-c-footer__heading govuk-heading-m">Related resources</h2>
      <ul class="app-c-footer__list govuk-list">
        <li class="app-c-footer__list-item"><a href="https://www.gov.uk/guidance/government-design-principles">Government Design Principles</a></li>
        <li class="app-c-footer__list-item"><a href="https://www.gov.uk/service-manual">GOV.UK Service Manual</a></li>
      </ul>
    </div>
  </div>
  <div class="app-c-footer__meta">
    <div class="app-c-footer__licence">
      <a class="app-c-footer__licence-logo" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
      <p class="app-c-footer__licence-description">All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
    </div><div class="app-c-footer__copyright">
      <a class="app-c-footer__copyright-logo" href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
    </div>
  </div>
</footer>
