{% from "footer/macro.njk" import govukFooter %}

{{ govukFooter({
  "classes": "app-footer app-footer--full ",
  "containerClasses" : "app-width-container--full",
  "navigation": [
    {
      "title": "Related resources",
      "columns": 1,
      "items": [
        {
          "href": "https://www.gov.uk/guidance/government-design-principles",
          "text": "Government Design Principles"
        },
        {
          "href": "https://www.gov.uk/service-manual",
          "text": "GOV.UK Service Manual"
        }
      ]
    }
  ],
  "meta": {
    "items": [
      {
        "href": "/design-system/cookies",
        "text": "Cookies"
      },
      {
        "href": "/design-system/privacy-policy",
        "text": "Privacy policy"
      }
    ]
  }
}) }}
