<div class="app-c-masthead">
  <div class="govuk-o-width-container app-c-site-width-container">
      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
            <h1 class="govuk-heading-xl app-c-masthead__title">Design your service using GOV.UK styles, components and patterns</h1>
            <p class="app-c-masthead__description">Use this design system to make your service consistent with other government services. Learn from the research and experience of other service teams and avoid repeating work that’s already been done.</p>
        </div>
    </div>
  </div>
</div>
