{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="app-masthead">
  <div class="app-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl app-masthead__title">Design your service using GOV.UK styles, components and&nbsp;patterns</h1>
        <p class="app-masthead__description">Use this design system to make government services consistent with GOV.UK. Learn from the research and experience of other service teams and avoid repeating work that’s already been done.</p>

        {{ govukButton({
          "text": "Get started",
          "href": "/get-started/",
          "classes": "govuk-button--inverse govuk-!-margin-top-6 govuk-!-margin-bottom-0",
          "isStartButton": "true"
        }) }}
      </div>

      <div class="govuk-grid-column-one-third-from-desktop">
        <img class="app-masthead__image" src="/images/homepage-illustration.svg" alt="" role="presentation">
      </div>
    </div>
  </div>
</div>
