{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "_mobile-navigation.njk" import mobileNavigation %}

{% set navigationItems = [] %}

{% for item in navigation %}
  {% set navItem = {} %}

  {% if item.items %}
    {% set subNavItemHtml = mobileNavigation({ items: item.items }) %}
    {% set navItem = {
      href: item.href,
      html: item.text + '<template class="app-mobile-navigation__template">' + subNavItemHtml + '</template>',
      active: permalink and permalink.startsWith(item.url),
      current: permalink === item.url    
    } %}    
  {% else %}
    {% set navItem = {
      href: item.href,
      html: item.text,
      active: permalink and permalink.startsWith(item.url),
      current: permalink === item.url    
    } %}
  {% endif %}

  {% set navigationItems = navigationItems.concat(navItem) %}
{% endfor %}

<div data-module="app-mobile-navigation">
  {{ govukServiceNavigation({
    navigation: navigationItems
  }) }}
</div>
