{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% from "_mobile-navigation.njk" import mobileNavigation %}

{# Convert backend navigation structure to one useable with the
service navigation component. #}
{%- set navLinks = [] %}
{%- for item in navigation %}
  {#
    Render the sub navigation in a `<template>` element
    so it can be used in JavaScript to provide an accordion
    on narrow viewports
  #}

  {% if item.items %}
    {% set subNavHtml %}
      <template>{{ mobileNavigation({
        item: item,
        pagePermalink: permalink
      }) }}</template>
    {% endset %}
  {% endif %}

  {%- set navLinks = (navLinks.push({
    href: '/' + item.url + '/',
    html: item.label + subNavHtml,
    current: true if permalink and (permalink == item.url) else false,
    active: true if permalink and item | isActive(permalink) else false,
    attributes: {
      "data-module": "app-mobile-navigation-section"
    }
  }), navLinks) %}
{%- endfor %}

{{ govukServiceNavigation({
  navigation: navLinks,
  navigationClasses: 'app-service-navigation__wrapper'
}) }}
