{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{# Convert backend navigation structure to one useable with the
service navigation component. #}
{%- set navLinks = [] %}
{%- for item in navigation %}
  {%- set navLinks = (navLinks.push({
    href: '/' + item.url + '/',
    text: item.label,
    current: true if permalink and (permalink == item.url) else false,
    active: true if permalink and permalink.startsWith(item.url) else false
  }), navLinks) %}
{%- endfor %}

{{ govukServiceNavigation({
  navigation: navLinks
}) }}
