{% from "govuk/components/inset-text/macro.njk" import govukInsetText -%}

{{- govukInsetText({
  html: "<p>February 2024: GOV.UK Frontend v5.2 includes the new type scale behind a feature flag. This update will make text easier to read on smaller screens. It will become the standard type scale in a future release, but for now you can still <a href=\"/styles/type-scale#the-old-type-scale\">view the old type scale</a>. </p><p>Read about <a href=\"/get-started/new-type-scale/\">updating your service to use the new type scale</a>.</p>"
}) }}
