{% from "govuk/components/inset-text/macro.njk" import govukInsetText -%}

{{- govukInsetText({
  html: "<p>GOV.UK Frontend v6.0.0 and later includes an updated the type scale to increase the size of text on small screens, improving legibility and accessibility.</p>
  <p><a href=\"/get-started/new-type-scale/\">See an overview of the changes to the type scale</a>.</p>"
}) }}
