{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro nunjucksOptions(cardTitle) %}
  {# Collect the rows from the `caller` content #}
  {% set rows = [] %}
  {% set discarded = caller(rows) %}
  {# Generate an ID so the card can be linked to easily #}
  {% set cardId =  cardTitle | slugify %}
  {# Convert the card title into HTML, removing the wrapping `<p>` tag #}
  {% set cardTitleHtml = cardTitle | markdown | replace('<p>','') | replace('</p>','') %}
  {# Finally render the summary card  #}
  {{ govukSummaryList({
    card: {
      title: {
        html: cardTitleHtml,
        headingLevel: 4
      },
      classes: 'app-nunjucks-options-list',
      attributes: {
        id: cardId
      }
    },
    rows: rows
  }) }}
{% endmacro %}

{% macro addNunjucksOption(rows, name, type) %}
  {# Compile the key as a heading so it automatically gets an ID #}
  {% set keyHtml = ("#### `" + name + "` (" + type + ")") | markdown | replace('h4', 'span') %}
  {% set value %}{{caller()}}{% endset %}

  {% set discarded = rows.push({
    key: {
      html: keyHtml,
      classes: 'app-nunjucks-options-list__key'
    },
    value: {
      html: value | markdown
    }
  }) %}
{% endmacro %}
