<div class="app-promotion-banner">
  <div class="app-width-container">
    <p class="govuk-body-m"><strong>Version 6 of GOV.UK Frontend</strong> is coming soon, <a class="govuk-link" href="https://github.com/alphagov/govuk-frontend/discussions/6353">learn how you can start to prepare</a>.</p>
  </div>
</div>
