<!-- [html-validate-disable-next no-unused-disable, unique-landmark -- allow 2 navs with the same aria-labelledby because they contain the same information] -->
<nav class="app-subnav" aria-labelledby="app-subnav-heading">
  <h2 class="govuk-visually-hidden" id="app-subnav-heading">Pages in this section</h2>
  {% for item in navigation %}
    {% if permalink and item | isActive(permalink) %}
    {% if item.items %}
      {% for theme, items in item.items | groupby("theme") %}
        {% if theme != 'undefined' %}
          <h3 class="app-subnav__theme">{{ theme }}</h3>
        {% endif %}
        <ul class="app-subnav__section">
        {% for subitem in items %}
          {%- set isPageOrSubpage = (subitem.url == permalink) or (subitem | isActiveSubpage(permalink)) %}
          <li class="app-subnav__section-item{% if isPageOrSubpage %} app-subnav__section-item--current{% endif %}">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/{{ subitem.url }}/"{% if subitem.url == permalink %} aria-current="page"{% endif %}>
              {{ subitem.label }}
            </a>
            {% if (subitem.headings or subitem.subpages) and isPageOrSubpage %}
              <ul class="app-subnav__section app-subnav__section--nested">
                {% if subitem.subpages %}
                  {% for subpage in subitem.subpages %}
                    <li class="app-subnav__section-item">
                      <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/{{ subitem.url }}/{{ subpage.url }}"{% if subitem | isActiveSubpage(permalink) %} aria-current="page"{% endif %}>
                        {{ subpage.label }}
                      </a>
                    </li>
                  {% endfor %}
                {% endif %}
                {% if subitem.headings %}
                  {% for link in subitem.headings %}
                    {% if link.depth == 2 and not link.ignoreInPageNav %}
                      <li class="app-subnav__section-item app-subnav__section-item--anchor">
                        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/{{ subitem.url }}/#{{ link.url }}" >
                          {{ link.text }}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endfor %}
    {% endif %}
    {% endif %}
  {% endfor %}
</nav>
