<nav class="app-subnav">
    {% for item in navigation %}
      {% if item.url in path %}
      {% if item.items %}
        {% for theme, items in item.items | groupby("theme") %}
          {% if theme != 'undefined' %}
            <h4 class="app-subnav__theme">{{ theme }}</h4>
          {% endif %}
          <ul class="app-subnav__section">
          {% for subitem in items %}
            <li class="app-subnav__section-item{% if subitem.url == path %} app-subnav__section-item--current{% endif %}">
              <a class="govuk-link" href="/{{ subitem.url }}">{{ subitem.label }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}

        {% if item.label == "Components" or item.label == "Patterns" %}
        <h3 class="govuk-body-s govuk-!-mb-r0 govuk-!-ml-r3 govuk-!-mr-r3 govuk-!-pt-r3" style="border-top: 1px solid #bfc1c3">Can't find what you're looking for?</h3>
        <p class="govuk-!-mt-r2 govuk-!-mb-r9 govuk-!-ml-r3"><a href="/backlog">Check the backlog</a></p>
        {% endif %}

      {% endif %}
      {% endif %}
    {% endfor %}



</nav>
