<nav class="app-c-toc">
  <ul class="app-c-toc__section">
    <li class="app-c-toc__section-item{% if path == 'patterns/addresses' %} app-c-toc__section-item--current{% endif %}">
      <a href="/patterns/addresses/">Addresses</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'patterns/check-a-service-is-suitable' %} app-c-toc__section-item--current{% endif %}">
      <a href="/patterns/check-a-service-is-suitable/">Check a service is suitable</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'patterns/check-answers' %} app-c-toc__section-item--current{% endif %}">
      <a href="/patterns/check-answers/">Check answers</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'patterns/confirm-an-email-address' %} app-c-toc__section-item--current{% endif %}">
      <a href="/patterns/confirm-an-email-address/">Confirm an email address</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'patterns/confirmation-pages' %} app-c-toc__section-item--current{% endif %}">
      <a href="/patterns/confirmation-pages/">Confirmation pages</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'patterns/create-a-username' %} app-c-toc__section-item--current{% endif %}">
      <a href="/patterns/create-a-username/">Create a username</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'patterns/create-accounts' %} app-c-toc__section-item--current{% endif %}">
      <a href="/patterns/create-accounts/">Create accounts</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'patterns/dates' %} app-c-toc__section-item--current{% endif %}">
      <a href="/patterns/dates/">Dates</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'patterns/email-addresses' %} app-c-toc__section-item--current{% endif %}">
      <a href="/patterns/email-addresses/">Email addresses</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'patterns/fill-in-a-form' %} app-c-toc__section-item--current{% endif %}">
      <a href="/patterns/fill-in-a-form/">Fill in a form</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'patterns/names' %} app-c-toc__section-item--current{% endif %}">
      <a href="/patterns/names/">Names</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'patterns/national-insurance-numbers' %} app-c-toc__section-item--current{% endif %}">
      <a href="/patterns/national-insurance-numbers/">National Insurance numbers</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'patterns/passwords' %} app-c-toc__section-item--current{% endif %}">
      <a href="/patterns/passwords/">Passwords</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'patterns/question-pages' %} app-c-toc__section-item--current{% endif %}">
      <a href="/patterns/question-pages/">Question pages</a>
    </li>
  </ul>
</nav>
