<nav class="app-toc">
  <ul class="app-toc__section">
    <li class="app-toc__section-item{% if path == 'styles/typography' %} app-toc__section-item--current{% endif %}">
      <a class="govuk-link" href="/styles/typography/">Typography</a>
    </li>
  </ul>
</nav>
