<nav class="app-c-toc">
  <ul class="app-c-toc__section">
    <li class="app-c-toc__section-item{% if path == 'components/back-link' %} app-c-toc__section-item--current{% endif %}">
      <a href="/components/back-link/">Back link</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'components/breadcrumbs' %} app-c-toc__section-item--current{% endif %}">
      <a href="/components/breadcrumbs/">Breadcrumbs</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'components/checkboxes' %} app-c-toc__section-item--current{% endif %}">
      <a href="/components/checkboxes/">Checkboxes</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'components/date-input' %} app-c-toc__section-item--current{% endif %}">
      <a href="/components/date-input/">Date input</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'components/file-upload' %} app-c-toc__section-item--current{% endif %}">
      <a href="/components/file-upload/">File upload</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'components/panel' %} app-c-toc__section-item--current{% endif %}">
      <a href="/components/panel/">Panel</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'components/phase-banner' %} app-c-toc__section-item--current{% endif %}">
      <a href="/components/phase-banner/">Phase banner</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'components/radios' %} app-c-toc__section-item--current{% endif %}">
      <a href="/components/radios/">Radios</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'components/select' %} app-c-toc__section-item--current{% endif %}">
      <a href="/components/select/">Select</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'components/skip-link' %} app-c-toc__section-item--current{% endif %}">
      <a href="/components/skip-link/">Skip link</a>
    </li>
    <li class="app-c-toc__section-item{% if path == 'components/tag' %} app-c-toc__section-item--current{% endif %}">
      <a href="/components/tag/">Tag</a>
    </li>
  </ul>
</nav>
