<nav class="app-c-toc">
  <ul class="app-c-toc__section">
    <li class="app-c-toc__section-item{% if path == 'styles/typography' %} app-c-toc__section-item--current{% endif %}">
      <a href="/styles/typography/">Typography</a>
    </li>
  </ul>
</nav>
