{% if GTM_TAG %}
<link rel="preconnect" href="https://www.google-analytics.com" />

<script>
// Normalize doNotTrack implementations, see https://caniuse.com/#feat=do-not-track
var DO_NOT_TRACK_ENABLED = (
  navigator.doNotTrack === '1' ||
  navigator.doNotTrack === 'yes' || // Firefox 31 and below
  navigator.msDoNotTrack === '1' || // IE 9 - 10
  window.doNotTrack === '1' // IE 11 / Edge 16 and below
)

// If the user has enabled 'DoNotTrack', we should not load Google Tag Manager (and therefore, Google Analytics.)
if (!DO_NOT_TRACK_ENABLED) {
  // Google Tag Manager
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer', '{{ GTM_TAG }}');
  // End Google Tag Manager
}
</script>
{% endif %}
