{% from "govuk/components/inset-text/macro.njk" import govukInsetText -%}
{% from "govuk/components/tag/macro.njk" import govukTag -%}

{% macro wcagCallout(params) -%}
{% set tagContent -%}
  {{- govukTag({
    text: "WCAG 2.2",
    classes: "app-callout__tag"
  }) }}
  <h2>
    {{ params.heading if params.heading else "New WCAG 2.2 criteria affect this " + params.type }}
  </h2>
  {% if caller -%}
    {{ caller() }}
  {% else -%}
    <p class="govuk-body">To {{params.introAction}} ‘{{params.name}}’ and meet the new Web Content Accessibility Guidelines (WCAG) 2.2 criteria:</p>
    <ul class="govuk-list">
    {% for criterion in params.criteria %}
      <li><a class="govuk-link" href="#{{criterion.anchor}}">{{criterion.text}}</a></li>
    {% endfor %}
    </ul>
  {% endif -%}
  <p class="govuk-body">See the full list of <a class="govuk-link" href="/accessibility/wcag-2.2/#components-and-patterns-affected-in-the-design-system">components and patterns affected by WCAG 2.2</a>.</p>
{% endset -%}

{{ govukInsetText({
  html: tagContent,
  classes: "app-callout app-callout--blue"
}) }}
{% endmacro %}
