{% from "govuk/components/tag/macro.njk" import govukTag -%}

{% macro wcagNote(params) -%}
<div class="app-wcag-note" id="{{params.id}}" role="note">
  {{ govukTag({
    text: "WCAG 2.2",
    classes: "app-wcag-callout__tag"
  }) }}
  {{ caller() if caller else params.content | safe }}
</div>
{% endmacro %}
