{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="app-whats-new">
  <div class="app-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 id="whats-new" class="govuk-heading-l">What’s new</h2>
        <p class="govuk-body">
          14 November 2022: We’ve released GOV.UK Frontend 4.4.0. This feature release introduces different ways of configuring Javascript components and the ability to localise all components including the character count and accordion. 
        </p>
        <p class="govuk-body"><a href="https://github.com/alphagov/govuk-frontend/releases/tag/v4.4.0" class="govuk-link">Read the full release notes</a>.</p>

        <p class="govuk-body"><a href="https://mailchi.mp/d484adee17c1/email-updates" class="govuk-link">Sign up to get update emails about the Design System</a>.</p>
      </div>
    </div>
    </div>
  </div>
</div>
