{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="app-whats-new">
  <div class="app-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 id="whats-new" class="govuk-heading-l">What’s new</h2>
        <p class="govuk-body">
          11 January 2024: We’ve released <a href="/accessibility/wcag-2.2/" class="govuk-link">guidance on how to update your service to meet the latest Web Content Accessibility Guidelines (WCAG 2.2)</a>.
        </p>
        <p class="govuk-body">
          WCAG 2.2 changes to GOV.UK Frontend were released in v5.0.0. You can read more about this breaking release in the guide <a href="https://frontend.design-system.service.gov.uk/changes-to-govuk-frontend-v5/#changes-to-gov-uk-frontend-v5-0-0" class="govuk-link">‘Changes to GOV.UK Frontend v5.0.0’</a> and the <a href="https://github.com/alphagov/govuk-frontend/releases/tag/v5.0.0" class="govuk-link">release notes</a>.</p>
        <p class="govuk-body"><a href="https://mailchi.mp/d484adee17c1/email-updates" class="govuk-link">Sign up to get update emails about the Design System</a>.</p>
      </div>
    </div>
    </div>
  </div>
</div>
