---
title: Images
description: Using images in an accessible way
section: Accessibility
theme: Content
layout: layout-pane.njk
order: 8
---

Not everyone reading your document will be able to see an image or screenshot so you must always add 'alternative text' or 'alt text'. 

This means people using screen readers can read or hear a description of the image. 

If the image is purely decorative then you can mark it as 'decorative only'. 

But if this is the case, you might want to think about whether you need to include the image at all. [Images, Describing images, Graphs and charts, Diagrams, Infographics, Image copyright standard](https://www.gov.uk/guidance/content-design/images).  

You can usually add 'alt text' by using your right-hand mouse function on an image, or when you run an accessibility check you'll be guided to add any missing 'alt text'. 

If you decide you want to keep the image, [you can mark the image so they can be ignored by assistive technology](https://www.w3.org/TR/WCAG20-TECHS/H67.html#H67-description).