---
title: Headings for pages with long form content – Typography
layout: layout-example.njk
---

<h1 class="govuk-heading-xl">govuk-heading-xl</h1>
<h2 class="govuk-heading-l">govuk-heading-l</h2>
<h3 class="govuk-heading-m">govuk-heading-m</h3>
<h3 class="govuk-heading-s">govuk-heading-s</h3>
