# This file defines the owners of the code. Read more at:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*       @LandRegistry/design-system-steering-group

