---
layout: layout-example.njk
---

{% from "input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    "text": "Telephone number"
  },
  errorMessage: {
    "text": "Enter a telephone number"
  },
  id: "telephone-number",
  name: "telephone-number",
  type: "tel",
  classes: "govuk-c-input--width-20"
}) }}
