---
title: Telephone numbers
description: Help users enter a valid telephone number.
section: Patterns
theme: Ask users for...
aliases:
backlog_issue_id: 101
layout: layout-pane.njk
status: Experimental
statusMessage: This pattern is currently experimental because <a class="govuk-link" href="#research-on-this-pattern">more research</a> is needed to validate it.
---

{% from "_example.njk" import example %}

{{ example({group: 'patterns', item: 'telephone-numbers', example: 'default', html: true, nunjucks: true, open: false}) }}

## When to use this pattern

Only collect telephone numbers from people if you genuinely need them. Not everyone has or can use a telephone, so make sure you give users a choice about how they can be contacted.

See the [GOV.UK Style Guide](https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#telephone-numbers)for guidance on how to format telephone numbers when writing content.


## How it works

Whenever you ask for a telephone number you should tell users why you might contact them and when.


### Allow different formats

Users should be allowed to enter telephone numbers in whatever format is familiar to them. You should allow spaces, hyphens, brackets and dashes, and be able to accommodate country and area codes.

### Set the 'type' attribute to 'tel'

Mobile devices that support this feature will present a custom keypad optimized for entering phone numbers.

### Validate telephone numbers

You should validate telephone numbers so you can let users know if they have entered one incorrectly. Google's [libphonenumber](https://github.com/googlei18n/libphonenumber) library can validate telephone numbers from most countries.

Validation errors should be styled like this:

{{ example({group: 'patterns', item: 'telephone-numbers', example: 'error-empty-field', html: true, nunjucks: true, open: false}) }}

Some examples of common error messages are:

- empty field: Enter a telephone number
- not a real number: Enter a telephone number in the correct format, like examples
- too short: Telephone number must have at least x numbers
- too long: Telephone number cannot have more than x numbers
- not a UK mobile phone number: Enter a UK mobile telephone number


### Make it clear what type of telephone number users can enter

Use the form label or hint text to tell users if you specifically need a UK, international or mobile telephone number.

{{ example({group: 'patterns', item: 'telephone-numbers', example: 'international', html: true, nunjucks: true, open: false}) }}
 
 
### Do not use real telephone numbers as examples

If you need to include an example telephone number (in hint text for example), [Ofcom maintains a list of numbers](https://www.ofcom.org.uk/phones-telecoms-and-internet/information-for-industry/numbering/numbers-for-drama) that are reserved for use in media. Follow the [GOV.UK style for writing telephone numbers](https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#telephone-numbers).


### Do not display telephone numbers as links on devices that cannot make calls

It’s possible to mark up telephone numbers as links, like this:

```
<a href="tel:+442079476330">020 7947 6330</a>
```
However, doing this will style telephone numbers as links, which is confusing on devices that do not support telephone calls, like most desktop machines.

It’s also not necessary - most modern mobile browsers automatically detect telephone numbers and display them as links anyway.

If you need to mark up your telephone number as links to support a device that cannot auto-detect them, you must make sure they do not display as links on devices that cannot make calls.


### Avoid input masking

Input masking is the technique of restricting the format that a user can enter data into a text field. It's often used in conjunction with placeholder text to illustrate what the allowed format is.

Do not use [input masking](https://css-tricks.com/input-masking/) because it makes it harder for users to:

- type a number in their preferred way
- transcribe a number from another place and check that they’ve got it right


### Avoid reformatting telephone numbers

The GOV.UK Notify team has observed some users becoming confused when presented with a reformatted version of a telephone number that they provided, for example, with the +44 country code added.

When playing back a telephone number that the user has provided, use the orgiginal format.


## Research on this pattern

More research is needed on the best way to handle:

- international numbers
- extensions
- SMS shortcodes




