---
title: How you can contribute
description:
section: Community
layout: layout-pane.njk
---

The GOV.UK Design System is currently in beta. The Design System team will be developing these contribution guidelines based on user research over the coming months.

## Discussing styles, components and patterns

You can discuss the existing styles, components and patterns in the Design System, or ones being developed, by commenting on issues in the [community backlog](/community/backlog). Alternatively, you can email [govuk-design-system-support@digital.cabinet-office.gov.uk](mailto: govuk-design-system-support@digital.cabinet-office.gov.uk)

For example, you can:

- ask questions about a style, component or pattern
- answer questions from other contributors
- share examples or demos of a style, component or pattern
- share research relating to a style, component or pattern

## Proposing new styles, components or patterns

If you have an idea for a new style, component or pattern you can propose it by [raising an issue](https://github.com/alphagov/govuk-design-system-backlog/issues/new) or emailing the Design System team at [govuk-design-system-support@digital.cabinet-office.gov.uk](mailto: govuk-design-system-support@digital.cabinet-office.gov.uk).

## Developing components and patterns

If there’s something you’d be interested in working on, comment on it’s issue or email the Design System team at [govuk-design-system-support@digital.cabinet-office.gov.uk](mailto: govuk-design-system-support@digital.cabinet-office.gov.uk).

If you're writing code, please follow the GOV.UK Frontend coding standards.

## Design System criteria

To help ensure that the contents of the GOV.UK Design System are of a high quality and meet user needs, all components and patterns must meet the following criteria.

## New proposals

To be considered for inclusion in the GOV.UK Design System, components and patterns must be:

| Criteria | Description |
| :------- | :---------- |
| Useful   | It addresses a user need that’s shared by multiple services or products. |
| Unique   | It doesn’t duplicate something which already exists in the GOV.UK Design System, unless it’s intended to replace it. |

The [working group](/community/working-group) will review all proposals in the [community backlog](/community/backlog) to check they meet these criteria, before they are agreed.

## Before publication

Before new components and patterns are published into the GOV.UK Design System, the working group will review them again to make sure that they are:

| Criteria     | Description |
| :----------- | :---------- |
| Usable       | It’s been tested and shown to work with a representative sample of users, including those with disabilities.|
| Consistent   | It uses existing styles and components in the GOV.UK Design System where relevant.|
| Versatile    | It can be easily applied in different contexts.|
| Coded        | Components are ready to merge in GOV.UK Frontend.|
| Tested       | It’s been tested and shown to work with a range of [browsers, assistive technologies and devices](https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices). |
| Considered   | There are no obvious political, security or ethical implications.|



