---
title: HMLR accessibility statement
description: HMLR accessibility statement
section: Accessibility
theme: Resources
layout: layout-pane.njk
order: 7
---

An accessibility statement is a page of content on your service which:

- shows people how we can be confident our services are accessible
- allows people to contact us if they get stuck
- stops people wasting their time if they won’t be able to use the service
- empowers people to hold us accountable if we are not fulfilling our responsibilities
- helps our services to be legally compliant

You want as many people as possible to be able to use your website. 
For example, that means you should be able to:

- change colours, contrast levels and fonts
- zoom in up to 300% without the text spilling off the screen
- navigate most of the website using just a keyboard
- navigate most of the website using speech recognition software
- listen to most of the website using a screen reader

## Sample accessibility statement

The Central Digital and Data Office has created a [sample accessibility statement](https://www.gov.uk/government/publications/sample-accessibility-statement) for use on public sector websites and mobile aplications.

As mentioned in our [legal requirements](/accessibility/legal-requirements/), we cannot claim [disproportionate burden](https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps) in HM Land Registry so this section must be not be included.

### Jinja version

Within the HMLR govuk-frontend-flask GitHub repository there is a [Jinja version of the sample accessibility statement](https://github.com/LandRegistry/govuk-frontend-flask/blob/main/app/templates/main/accessibility.html) for use with your Python/Flask application.
