---
title: HMLR Accessibility Statement
description: TODO
section: Accessibility
theme: Resources
layout: layout-pane.njk
order: 1
---

We have created an [Accessibility Statement template](https://landregistryuk.sharepoint.com/:w:/r/sites/WCAGCompliance/Shared%20Documents/HM%20Land%20Registry%20Accessibility%20Statement_v4_240221.docx?d=w6007a508a6cd41b6bb0b70f20b6733b6&csf=1&web=1&e=3qkbvE) for HMLR services that you can copy/paste into your application.

It is currently in a Word document format but we will hopefully migrate it to both HTML and markdown in the near future.
