---
title: Asian ethnic backgrounds with error
layout: layout-example.njk
---

{% from "radios/macro.njk" import govukRadios %}
{% from "input/macro.njk" import govukInput %}

{% set asianOtherHtml %}
  {{ govukInput({
    id: "ethnicity-asian-other",
    name: "ethnicity-asian-other",
    classes: "govuk-!-width-two-thirds",
    label: {
      text: "Your Asian background (optional)"
    }
  }) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "ethnic-group",
  name: "ethnic-group",
  fieldset: {
    legend: {
      text: "Which one best describes your Asian or Asian British background?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  errorMessage: {
    text: "Select the option that best describes your Asian or Asian British background"
  },
  items: [
    {
      value: "bangladeshi",
      text: "Bangladeshi"
    },
    {
      value: "chinese",
      text: "Chinese"
    },
    {
      value: "indian",
      text: "Indian"
    },
    {
      value: "pakistani",
      text: "Pakistani"
    },
    {
      value: "another-asian-background",
      text: "Another Asian background",
      conditional: {
        html: asianOtherHtml
      }
    },
    {
      divider: "or"
    },
    {
      value: "prefer-not-to-say",
      text: "Prefer not to say",
      label: {
        classes: 'govuk-label'
      }
    }
  ]
}) }}
