---
title: Hint text
layout: layout-example.njk
ignore_in_sitemap: true
---

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Event name"
  },
  hint: {
    text: "The name you’ll use on promotional material."
  },
  id: "event-name",
  name: "event-name"
}) }}
