---
title: Ethnic groups
description: This pattern explains how to ask users their ethnic group
backlog_issue_id: 83
layout: layout-archived.njk
---

In March 2021, we published a new pattern to [ask users for equality information](../equality-information/), based on data standards set by the Government Statistical Service (GSS).

To meet these standards, we’ve retired the ethnic groups pattern, which has been replaced by parts of the new pattern.
