---
title: Ethnic groups
description: This pattern explains how to ask users their ethnic group
section: Patterns
theme: Ask users for…
aliases:
backlog_issue_id: 83
layout: layout-pane.njk
status: Experimental
statusMessage: This pattern is experimental because <a class="govuk-link" href="#next-steps">more research</a> is needed to validate it.
---

{% from "_example.njk" import example %}

Only collect users’ ethnic groups if you are going to use the data, for example, as part of your organisation’s equality monitoring.

Before using this pattern, make sure you have permission from your organisation to collect this information.

Read guidance about [collecting personal information](https://www.gov.uk/service-manual/design/collecting-personal-information-from-users) in the GOV.UK Service Manual.

![‘Ethnic group’ flow diagram. Contains an initial page asking “What is your ethnic group?” with 6 options. 5 of the options lead to separate follow-up pages asking ”Which one best describes your background?” for Asian, Black, Mixed, White, or Other. The 6th option is “Prefer not to say”, which exits the flow.](ethnic-group-flow.png)

## When to use this pattern

Follow this pattern if you need to ask users in the UK for their ethnic group.

## How it works

When asking for users’ ethnic groups:

- make the questions optional
- use the exact wording of the questions as shown in this pattern
- use the exact ethnic group categories shown in this pattern, [accommodating regional differences](#accommodate-regional-differences)
- let users specify a different ethnic group from those provided
- tell users how their data will be used
- make sure the data is used and stored in line with data protection rules

### Ask for ethnic groups in 2 steps

First, ask users for their broad ethnic group. 

Then direct them to a second page where they can choose a specific ethnic background within their broad ethnic group.

Research from the Office of National Statistics (ONS) found that presenting all of the ethnic group options on a single page caused some users to try and select more than one option. Splitting the question across 2 pages solved this problem in testing with more than 300 users.

{{ example({group: "patterns", item: "ethnic-group", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

#### Asian or Asian British

Users who select ‘Asian or Asian British’ should see this page.

{{ example({group: "patterns", item: "ethnic-group", example: "asian", html: true, nunjucks: true, open: false, size: "s"}) }}

#### Black, African, Black British or Carribean

Users who select ‘Black, African, Black British or Carribean’ should see this page.

{{ example({group: "patterns", item: "ethnic-group", example: "black", html: true, nunjucks: true, open: false, size: "s"}) }}

#### Mixed or multiple ethnic groups

Users who select ‘Mixed or multiple ethnic groups’ should see this page.

{{ example({group: "patterns", item: "ethnic-group", example: "mixed", html: true, nunjucks: true, open: false, size: "s"}) }}

#### White

Users who select ‘White’ should see this page.

{{ example({group: "patterns", item: "ethnic-group", example: "white", html: true, nunjucks: true, open: false, size: "s"}) }}

#### Another ethnic group

Users who select ‘Another ethnic group’ should see this page.

{{ example({group: "patterns", item: "ethnic-group", example: "other", html: true, nunjucks: true, open: false, size: "s"}) }}

### Let users specify a different ethnic group from those provided

You should allow users to enter a different ethnic group in case theirs is not covered by the categories provided. This can also help to inform future changes to the categories, to better reflect how users describe their ethnicity.

### Accommodate regional differences

The ethnic groups used in this pattern are for services in England. Different categories are used in Wales, Scotland and Northern Ireland due to differences in requirements, and to reflect local populations.

If your service covers more than one region, you should accommodate these differences in your design. For example, by changing the ethnic groups shown depending on whether the user is based in [England](https://gss.civilservice.gov.uk/policy-store/ethnicity/#englandhttps://gss.civilservice.gov.uk/policy-store/ethnicity/#england), [Wales](https://gss.civilservice.gov.uk/policy-store/ethnicity/#wales-), [Scotland](https://gss.civilservice.gov.uk/policy-store/ethnicity/#scotland) or [Northern Ireland](https://gss.civilservice.gov.uk/policy-store/ethnicity/#northern-ireland).

Where this isn’t possible, use the English categories.

### Make the question optional

Always give users the option to not give their ethnicity unless you cannot deliver your service without it.

The best way to do this is to include a step asking if users are willing to give their ethnic group. Design this step to work in the context of your service. For example, if you ask for other personal information, such as sexual orientation or disability, this step may need to introduce questions about all of these. 

To help users decide how to answer, you should clearly explain how you will use the data using real examples from your service. For example: ‘we use this information to make sure we’re giving equal opportunities to all candidates’.

Be as specific as possible. Research shows users often do not understand how data will be used to meet equality monitoring objectives, which can impact response rates. 

### Asking other questions for equality monitoring purposes

If you ask for other information for equality monitoring purposes, such as gender, sex or disability, consider how to ask for this alongside ethnicity.

In this case, you could ask a more generic initial question, such as “Will you answer a few more questions so we can monitor this service for equality?” 

Make sure you still explain how all the information will be used.

### Asking a user for someone else’s ethnic group

You should not normally ask users to give someone else’s ethnic group. This is because ethnicity is self-defined. There are some exceptions, for example, in the case of young children.

### Error messages

Error messages should be styled like this:

{{ example({group: "patterns", item: "ethnic-group", example: "error", html: true, nunjucks: true, open: false, size: "s"}) }}

{{ example({group: "patterns", item: "ethnic-group", example: "error-background", html: true, nunjucks: true, open: false, size: "s"}) }}

### Data protection

Under the General Data Protection Regulation, there are different [rules around the use and storage of someone’s ethnic origin](https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/lawful-basis-for-processing/special-category-data/ ).

## Research on this pattern

This pattern was originally contributed by the [Race Disparity Unit](https://www.gov.uk/government/organisations/race-disparity-unit).

The examples and guidance here are based on [examples of ways to ask about ethnic groups](https://designnotes.blog.gov.uk/2019/01/29/researching-how-we-ask-users-about-their-ethnicity/) from a number of government services and the [ONS guidance on collecting ethnic groups data](https://www.ons.gov.uk/methodology/classificationsandstandards/measuringequality/ethnicgroupnationalidentityandreligion#ethnic-group).

The Race Disparity Unit researched this pattern as part of a prototype. They carried out pop-up research with over 30 participants with different ethnic backgrounds.

Almost all participants answered the question quickly and easily, with no one backtracking to change their selection from the previous page.

Five of the participants used the text input provided to specify ‘another’ ethnicity from those provided, which validates the need for this option.

Two participants chose not to answer the question after a step was introduced asking whether users were willing to provide their ethnic group.

### Known issues and gaps

The examples in this pattern present the ethnic group options in alphabetical order. This is to avoid either perceived or actual reinforcement of bias towards any ethnic groups.

However, the ONS recommends the following order:

- White
- Mixed or multiple ethnic groups
- Asian
- Black
- Other

ONS has published its reasons for the order in [finalising the 2011 census questionnaire](https://www.ons.gov.uk/census/2011census/howourcensusworks/howweplannedthe2011census/questionnairedevelopment/finalisingthe2011questionnaire).

It says:

“As more than 90 per cent of respondents will tick a box under the ‘White’ category, placing it first will minimise 2011 respondent burden.

The ‘Mixed’ heading was positioned after the ‘White’ heading in 2001 because question testing showed that these respondents were likely to miss this category if it was placed at the bottom of the classification (since they could respond using one or more of the tick-boxes higher up in the classification)... The remaining categories... were placed in alphabetical order.

During cognitive testing the majority of respondents found the order of the categories in the ethnic group question acceptable. Respondents in one focus group conducted in Wales questioned why ‘White’ appeared first but did acknowledge that they were listed by population size.”

### Next steps

More research is needed to understand where to ask this question in a service.

In addition, the GOV.UK Design System team is actively seeking research findings that relate to the order of the ethnic group options.

If you’ve used this pattern in your service, please get in touch to share your research findings.
