# https://EditorConfig.org
# https://gds-way.digital.cabinet-office.gov.uk/manuals/programming-languages/editorconfig
# Copy into project root and rename to .editorconfig

# uncomment if top-most EditorConfig file
root = true

[*]
indent_size = 2
indent_style = space
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
indent_size = 4
trim_trailing_whitespace = false
continuation_indent_size = 8

[*.py]
indent_size = 4
max_line_length = 119

[Makefile]
indent_style = tab

[{**public**,**vendor**}]
indent_size = unset
indent_style = unset
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
max_line_length = unset
