# Workflows (which have access to secrets and to production)
.github/workflows/  @alphagov/design-system-developers

# Track changes to package.json or package-lock.json
/package*.json  @alphagov/design-system-developers

# Protect the CODEOWNERS file itself against malicious changes
CODEOWNERS  @alphagov/design-system-developers