---
title: Labels, legends and headings
layout: layout-example-full-page.njk
ignore_in_sitemap: true
---

{% extends "example-wrappers/full-page.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "fieldset/macro.njk" import govukFieldset %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% call govukFieldset({
      legend: {
        text: "What is your address?",
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}

      {{ govukInput({
        label: {
          html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
        },
        id: "address-line-1",
        name: "address-line-1"
      }) }}

      {{ govukInput({
        label: {
          html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
        },
        id: "address-line-2",
        name: "address-line-2"
      }) }}

      {{ govukInput({
        label: {
          text: "Town or city"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-town",
        name: "address-town"
      }) }}

      {{ govukInput({
        label: {
          text: "County"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-county",
        name: "address-county"
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        id: "address-postcode",
        name: "address-postcode"
      }) }}

    {% endcall %}

  </div>
</div>
{% endblock %}
