{% extends "govuk/template.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "_cookie-banner.njk" import cookieBanner %}

{% set assetUrl = 'https://design-system.service.gov.uk/assets/rebrand' %}

{% set bodyAttributes = { "data-module": "app-navigation" } %}

{% block pageTitle %}{{ title | smartypants }} – GOV.UK Design System{% endblock %}

{% block head %}
  {#- Prevent search engine indexing for archive, preview and development builds -#}
  {% if env("CONTEXT") !== "production" %}
    <meta name="robots" content="noindex, nofollow">
  {% endif %}
  <meta name="og:title" content="{{ title | smartypants }}">
  <meta name="description" content="{{ description | smartypants }}">
  <meta name="og:description" content="{{ description | smartypants }}">
  <link rel="canonical" href="{{ canonical }}">
  <link href="{{ getFingerprint('/stylesheets/main.css') }}" rel="stylesheet" media="all">
{% endblock %}

{% block bodyStart %}
  <a id="top"></a>
  <script>
    /**
     * If cookie policy changes and/or the user preferences object format needs to
     * change, bump this version up afterwards. The user should then be shown the
     * banner again to consent to the new policy.
     *
     * Note that because isValidCookieConsent checks that the version in the user's
     * cookie is equal to or greater than this number, you should be careful to
     * check backwards compatibility when changing the object format.
    */
    window.GDS_CONSENT_COOKIE_VERSION = 2;
  </script>

  {% call cookieBanner({
    category: "analytics"
  }) %}{% endcall %}
{% endblock %}

{# We provide our own header, so blank the one provided by the template #}
{% block header %}{% endblock %}

{% block main %}
  {% include "_header.njk" %}
  {% include "_navigation.njk" %}
  {% include "_banner.njk" %}

  {% block body %}
    {{ contents | safe }}
  {% endblock %}
{% endblock %}

{# We provide our own footer, so blank the one provided by the template #}
{% block footer %}{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getFingerprint('/javascripts/application.js') }}"></script>
{% endblock %}
