{% extends "govuk/template.njk" %}

{% set assetUrl = 'https://design-system.service.gov.uk/assets' %}

{% block pageTitle %}{{ title | smartypants }} – GOV.UK Design System{% endblock %}

{% block head %}
  {#- Prevent search engine indexing for preview and development builds -#}
  {% if ["deploy-preview", "dev"].includes(env("CONTEXT")) or env("NODE_ENV") != 'production' %}
    <meta name="robots" content="noindex, nofollow">
  {% endif %}
  <meta name="og:title" content="{{ title | smartypants }}">
  <meta name="description" content="{{ description | smartypants }}">
  <meta name="og:description" content="{{ description | smartypants }}">
  <link rel="canonical" href="{{ canonical }}">
  <link href="{{ getFingerprint('stylesheets/main.css') }}" rel="stylesheet" media="all">
{% endblock %}

{% block bodyStart %}
  <a id="top"></a>
  {% include "_cookie-banner.njk" %}
{% endblock %}

{# We provide our own header, so blank the one provided by the template #}
{% block header %}{% endblock %}

{% block main %}
  {% include "_header.njk" %}
  {% include "_navigation.njk" %}
  {% include "_banner.njk" %}
  {% block body %}
    {{ contents | safe }}
  {% endblock %}
{% endblock %}

{# We provide our own footer, so blank the one provided by the template #}
{% block footer %}{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getFingerprint('javascripts/application.js') }}"></script>
{% endblock %}
