{% extends "layout-example-full-page.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block govukSkipLink %}
  {{ govukHeader({
    homepageUrl: "#"
  }) }}
{% endblock %}

{% block govukServiceNavigation %}
  {{ govukServiceNavigation({
    serviceName: "Service name",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block footer %}{% endblock %}
