<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="refresh" content="0;URL='/design-system'" />
  </head>
  <body>
    {% block body %}
      {{ contents | safe }}
    {% endblock %}
  </body>
</html>
