{% extends "_generic.njk" %}

{% block body %}

<main id="main-content" role="main">
  {{ contents | safe }}
</main>
<snow-fall style="--snow-fall-color: #dff1fe"></snow-fall>
{% include "_footer.njk" %}

{% endblock %}
