{% extends "govuk/template.njk" %}

{% set assetUrl = 'https://design-system.service.gov.uk/assets' %}

{% block pageTitle %}{{ title }} – Example – GOV.UK Design System{% endblock %}
{% block head %}
  <meta name="robots" content="noindex, nofollow">
  <link href="{{ getFingerprint('/stylesheets/main.css') }}" rel="stylesheet" media="all">
  {#- Include any additional stylesheets specified in the example frontmatter #}
  {% for stylesheet in stylesheets %}
    <link href="{{ getFingerprint(stylesheet) }}" rel="stylesheet" media="all">
  {%- endfor %}
{% endblock %}

{% block govukHeader %}
  {{ govukHeader({
    homepageUrl: "#"
  }) }}
{% endblock %}

{% block container %}
  {{ contents | safe }}
{% endblock %}
{% block bodyEnd %}
  <script type="module" src="{{ getFingerprint('/javascripts/application-example.js') }}"></script>
{% endblock %}
