{% extends "_generic.njk" %}

{% block body %}
  {# Only render breadcrumbs on pages that aren't the homepage. #}
  {% if not isHomepage() %}
    {{ govukBreadcrumbs({
      classes: "app-width-container",
      items: getAncestorPages(permalink)
    }) }}
  {% endif %}

  <main id="main-content" role="main">
    {{ contents | safe }}
  </main>

  {% include "_footer.njk" %}
{% endblock %}
