{% extends "layout-single-page.njk" %}

{% set contents %}
  <h1 class="govuk-heading-xl">Sitemap</h1>
  {% for item in navigation %}
    <h2 class="govuk-heading-l"><a class="govuk-link govuk-link--text-colour" href="/{{ item.url }}">{{ item.label }}</a></h2>
    {% if item.items %}
      {% for theme, items in item.items | groupby("theme") %}
        {% if theme != 'undefined' %}
          <h2 class="govuk-heading-m">{{ theme }}</h2>
        {% endif %}
        <ul class="govuk-list">
        {% for subitem in items %}
          <li class="govuk-!-margin-bottom-2">
            <a class="govuk-link" href="/{{ subitem.url }}">{{ subitem.label }}</a>
          </li>
        {% endfor %}
        </ul>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endset %}
