{% extends "_generic.njk" %}

{% block body %}
<div class="app-o-pane__body">
  <div class="app-o-pane__subnav app-u-hide-mobile">
    {% include "_subnav.njk" %}
  </div>
  <div class="app-o-pane__content">
    <main id="content" class="app-c-content" role="main">
      <div class="app-c-content__header">
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">
          {% if theme %}
              {{ theme }}
            {% else %}
              {{ section }}
          {% endif %}
          </span>
          {{ title }}
        </h1>
      </div>

      <div class="govuk-prose-scope">
        {{ contents | safe }}
      </div>
      {% if section %}
        {% include "_contact-panel.njk" %}
      {% endif %}
    </main>
    {# No JS fallback to show overview #}
    <div class="app-o-pane__subnav-mobile-overview app-u-hide-desktop">
      {% include "_subnav.njk" %}
    </div>
    {% include "_footer.njk" %}
  </div>
{% endblock %}
