{% extends "layout-example.njk" %}

{% block container %}
  <!-- Disable browser validation for any examples that include form elements -->
  <form action="/form-handler" method="post" novalidate>
    {% block body %}
      {{ contents | safe }}
    {% endblock %}
  </form>
{% endblock %}
