<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} – Example – GOV.UK Design System</title>
    <link href="{{ getFingerprint('stylesheets/main.css') }}" rel="stylesheet" media="all" />
    {#- Include any additional stylesheets specified in the example frontmatter #}
    {% for stylesheet in stylesheets %}
    <link href="{{ getFingerprint(stylesheet) }}" rel="stylesheet" media="all" />
    {%- endfor %}

    <!--[if lt IE 9]>
      <script src="{{ getFingerprint('javascripts/head-ie8.js') }}"></script>
    <![endif]-->
    <script src="/javascripts/vendor/modernizr.js"></script>
  </head>
  <body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <!-- Disable browser validation for any examples that include form elements -->
    <form action="/form-handler" method="post" novalidate>
      {% block body %}
        {{ contents | safe }}
      {% endblock %}
    </form>
    <script src="/javascripts/vendor/iframeResizer.contentWindow.js"></script>
    <script src="{{ getFingerprint('javascripts/govuk-frontend.js') }}"></script>
    <script src="{{ getFingerprint('javascripts/example.js') }}"></script>
  </body>
</html>
