{% extends "layout-single-page.njk" %}

{% set contents %}
<div class="govuk-o-grid">
  <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
    <div class="govuk-prose-scope">
      {{ contents | safe }}
    </div>
  </div>
</div>
{% endset %}
