{% extends "govuk/template.njk" %}

{% set assetUrl = 'https://design-system.service.gov.uk/assets' %}

{% block pageTitle %}{{ title }} – Example – GOV.UK Design System{% endblock %}
{% block head %}
  <meta name="robots" content="noindex, nofollow">
  <link href="{{ getFingerprint('stylesheets/main.css') }}" rel="stylesheet" media="all">
  {#- Include any additional stylesheets specified in the example frontmatter #}
  {% for stylesheet in stylesheets %}
  <link href="{{ getFingerprint(stylesheet) }}" rel="stylesheet" media="all">
  {%- endfor %}
  <!--[if lt IE 9]>
    <script src="{{ getFingerprint('javascripts/head-ie8.mjs') }}"></script>
  <![endif]-->
  <script src="{{ getFingerprint('javascripts/vendor/modernizr.js') }}"></script>
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Service name",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block main %}
  {{ contents | safe }}
{% endblock %}
{% block bodyEnd %}
  <script src="{{ getFingerprint('javascripts/govuk-frontend.mjs') }}"></script>
  <script src="{{ getFingerprint('javascripts/example.mjs') }}"></script>

  <!--[if lt IE 9]>
    <script src="{{ getFingerprint('javascripts/vendor/ie8.polyfils.min.js') }}"></script>
  <![endif]-->
  <script src="{{ getFingerprint('javascripts/vendor/iframeResizer.contentWindow.min.js') }}"></script>
{% endblock %}
