{% extends "_generic.njk" %}

{% block body %}
<a name="top"></a>
<div class="app-pane__content">
  <main id="main-content" role="main">
    {{ contents | safe }}
  </main>

  {% include "_footer.njk" %}
</div>

{% endblock %}
