{% extends "layout-single-page.njk" %}

{% set contents %}
  <h1 class="govuk-heading-xl">Sitemap</h1>
  {% for item in navigation %}
    <h2 class="govuk-heading-l"><a class="govuk-link" href="/{{ item.url }}/">{{ item.label }}</a></h2>
    {% if item.items %}
      {% for theme, items in item.items | groupby("theme") %}
        {% if theme != 'undefined' %}
          <h3 class="govuk-heading-m">{{ theme }}</h3>
        {% endif %}
        <ul class="govuk-list">
        {% for subitem in items %}
          <li class="govuk-!-margin-bottom-2">
            <a class="govuk-link" href="/{{ subitem.url }}/">{{ subitem.label }}</a>
            {% if subitem.aliases %}
              &mdash; also known as {% for alias in subitem.aliases %}{{ ", " if not (loop.first or loop.last) }}{{ " or " if loop.last and loop.length > 1 }}{{ alias | lower }}{% endfor %}
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endset %}
