{% extends "_generic.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    classes: "app-breadcrumbs",
    items: getAncestorPages(pagePath)
  }) }}
{% endblock %}

{% block content %}
  {{ (contents or content) | safe }}
{% endblock %}

{% block govukFooter %}
  {% include "_footer.njk" %}
{% endblock %}
