{% extends "layout-single-page.njk" %}

{% set contents %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="app-prose-scope">
      {{ contents | safe }}
    </div>
  </div>
</div>
{% endset %}
