{% extends "layout-example-full-page.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set serviceName = "Service name" %}

{% block headerEnd %}
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "Prototype"
      },
      html: "This isn't a real service – it is an example."
    }) }}
  </div>
{% endblock %}

{% block footer %}{% endblock %}
