{% extends "govuk/template.njk" %}

{% set htmlClasses = 'app-example-page__wrapper' %}
{% set assetUrl = 'https://design-system.service.gov.uk/assets' %}

{% block pageTitle %}{{ title | smartypants }} – Example – GOV.UK Design System{% endblock %}

{% block head %}
  <meta name="robots" content="noindex, nofollow">
  <meta name="og:title" content="{{ title | smartypants }}">
  <meta name="description" content="{{ description | smartypants }}">
  <meta name="og:description" content="{{ description | smartypants }}">
  <link rel="canonical" href="{{ canonical }}">

  <link href="{{ getFingerprint('stylesheets/main.css') }}" rel="stylesheet" media="all">
  {#- Include any additional stylesheets specified in the example frontmatter #}
  {% for stylesheet in stylesheets %}
    <link href="{{ getFingerprint(stylesheet) }}" rel="stylesheet" media="all">
  {%- endfor %}
{% endblock %}

{# Example pages shouldn't have a skip link or header, so blank the one provided by the template #}
{% block skipLink %}{% endblock %}
{% block header %}{% endblock %}

{% set bodyClasses = "app-example-page" %}

{% block main %}
  {% block body %}
    {{ contents | safe }}
  {% endblock %}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ getFingerprint('javascripts/application-example.js') }}"></script>
{% endblock %}

{# Example pages shouldn't have a footer, so blank the one provided by the template #}
{% block footer %}{% endblock %}
