---
title: Default – notification banner
layout: layout-example.njk
---

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{{ govukNotificationBanner({
  html: '<p class="govuk-notification-banner__heading">You have 7 days left to send your application. <a class="govuk-notification-banner__link" href="#">View application</a>.<p>'
}) }}
