---
title: Secondary link – Exit this page
layout: layout-example.njk
---

{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}

<p class="govuk-body">To view the secondary link, tab to or click inside this example and then press tab.</p>

{{ govukSkipLink({
  text: "Exit this page",
  href: "https://www.bbc.co.uk/weather",
  classes: "govuk-js-exit-this-page-skiplink",
  attributes: {
    "rel": "nofollow noreferrer"
  }
}) }}
