---
title: After a service closes – Service unavailable pages
layout: layout-example-full-page.njk
---

{% extends "example-wrappers/full-page.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
    <p class="govuk-body">
      You cannot use the online service to renew your tax credits.
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="#">Contact the Tax Credits Helpline</a> to renew your tax credits by phone or letter.
    </p>
    <p class="govuk-body">
      You can use the tax credits service to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>find out more about your payments</li>
      <li>see who is on your claim</li>
      <li>make changes to your claim</li>
      <li>check the status of your renewal</li>
    </ul>
  </div>
</div>
{% endblock %}
