---
layout: layout-example.njk
---
<h3 class="govuk-heading-m">Input button</h3>

{{ govukButton({
  "text": "Disabled button",
  "disabled": true
}) }}

<h3 class="govuk-heading-m">Link button</h3>

{{ govukButton({
  "text": "Disabled link button",
  "href": "/",
  "disabled": true
}) }}

<h3 class="govuk-heading-m">&lt;button&gt;</h3>

{{ govukButton({
  "text": "Disabled <button>",
  "element": "button",
  "disabled": true
}) }}
