---
title: Button
description: GOV.UK Button
section: Components
aliases:
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: 'components', item: 'button', example: 'default'}) }}

## When to use this component

Use the Button component to help users carry out an action on a GOV.UK page like starting an application or saving their progress.

## How it works

Write button text in sentence case, describing the action it performs. For example ‘Save and continue’ or ‘Start now’.

Align the primary action button to the left edge of your form.

There are 2 ways to use the Button component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](Insert prototype kit URL), you can use the Button macro.

{{ example({group: 'components', item: 'button', example: 'primary', html: true, nunjucks: true, open: true}) }}


## Start buttons

Use a start button as the main call to action on your service’s start page.

{{ example({group: 'components', item: 'button', example: 'start', html: true, nunjucks: true, open: true}) }}

### Disabled buttons

Disabled buttons have poor contrast and can confuse some users, so avoid them if possible.

Only use disabled buttons if research shows it makes the user interface easier to understand.

{{ example({group: 'components', item: 'button', example: 'disabled', html: true, nunjucks: true, open: true}) }}

## Research on this component

If you’ve used this component, [get in touch](Anchor link to Get in touch panel at bottom of page) to share your user research findings.
