---
layout: layout-example.njk
---
<h3 class="govuk-heading-m">Input button</h3>

{{ govukButton({
  "text": "Save and continue"
}) }}

<h3 class="govuk-heading-m">Link button</h3>

{{ govukButton({
  "text": "Link button",
  "href": "#"
}) }}

<h3 class="govuk-heading-m">&lt;button&gt;</h3>

{{ govukButton({
  "name": "button",
  "text": "Save and continue",
  "element": "button"
}) }}
