---
layout: layout-example.njk
---
{% from "button/macro.njk" import govukButton %}

<h3 class="govuk-heading-m">Input button</h3>

{{ govukButton({
  "text": "Save and continue",
  "classes": "example-class"
}) }}

<h3 class="govuk-heading-m">Link button</h3>

{{ govukButton({
  "text": "Link button",
  "href": "/"
}) }}

<h3 class="govuk-heading-m">HTML5 button</h3>

{{ govukButton({
  "name": "button",
  "text": "Submit",
  "element": "button"
}) }}
