---
layout: layout-example.njk
---
{% from "button/macro.njk" import govukButton %}

<h3 class="govuk-heading-m">Input Start button</h3>

{{ govukButton({
  "text": "Start now button",
  "classes": "govuk-c-button--start"
}) }}

<h3 class="govuk-heading-m">Link Start button</h3>

{{ govukButton({
  "text": "Start now link button",
  "href": "#",
  "classes": "govuk-c-button--start"
}) }}
