---
title: Threshold – Character count
layout: layout-example.njk
---

{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{{ govukCharacterCount({
  name: "threshold",
  id: "threshold",
  maxlength: 112,
  threshold: 75,
  value: "Type another letter into this field after this message to see the threshold feature",
  label: {
    text: "Can you provide more detail?",
    classes: "govuk-label--l",
    isPageHeading: true
  }
}) }}
