---
title: Rejected replacement message – Cookie Banner
layout: layout-example.njk
---

{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set rejectedHtml %}
  <p>You’ve rejected analytics cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on [name of service]",
  messages: [
    {
      html: rejectedHtml,
      actions: [
        {
          text: "Hide this message"
        }
      ]
    }
  ]
}) }}
