---
title: Success banner – Notification banner
layout: layout-example.njk
---

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <h3 class="govuk-notification-banner__heading">
    Training outcome recorded and trainee withdrawn
  </h3>
  <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  type: "success"
}) }}
