<%= govuk_notification_banner
  title_text: "Success", success: true
  do |nb| %>

  <%= nb.with_heading(text: "Training outcome recorded and trainee withdrawn") %>

  <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p>
<% end %>
