---
title: Success banner – notification banner
layout: layout-example.njk
---

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{{ govukNotificationBanner({
  text: "Invite sent to example@department.gov.uk",
  type: 'success',
  disableAutoFocus: true
}) }}
