---
title: Videos and recordings
description: Creating accessible videos and recordings
section: Accessibility
theme: Content
layout: layout-pane.njk
order: 13
---

Before you can publish a recording on Stream or SharePoint, you must make sure it is accessible. 
This means providing an accurate transcript.

Although [Microsoft Teams creates an automatic transcript](https://support.microsoft.com/en-gb/office/view-live-transcription-in-a-teams-meeting-dc1a8f23-2e20-4684-885e-2152e06a4a8b) and subtitles it will always have errors.
You must edit the transcript so that it makes sense to someone who is using it to understand what is being said on screen. 

Do not underestimate how long this will take. An hour long meeting transcript will take one person at least 6 hours to edit correctly. You may want to consider whether you really need to record a meeting. 

Download the transcript and check it for any mistakes and correct them. If you are publishing on Stream you can upload the correct transcript to create the revised subtitles. You must also publish a clean version of the transcript. To do this you have to run it through the [Microsoft Stream transcript VTT file cleaner](https://amsglob0cdnstream13.azureedge.net/vttcleaner/CleanVTT.html) then copy and paste into a Word document. 