<div class="govuk-c-phase-banner">
  <p class="govuk-c-phase-banner__content">
    <strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">beta</strong>
    <span class="govuk-c-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>
