---
title: Summary list
layout: layout-example.njk
---

{% from "summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: "Sarah Philips"
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: "5 January 1978"
      }
    },
    {
      key: {
        text: "Contact information"
      },
      value: {
        html: "72 Guild Street<br>\nLondon<br>\nSE23 6FH\n"
      }
    },
    {
      key: {
        text: "Contact details"
      },
      value: {
        html: "07700 900457<br>\nsarah.phillips@example.com\n"
      }
    }
  ]
}) }}
