---
title: Readability
description: Check how easy your content is to read
section: Accessibility
theme: Content
layout: layout-pane.njk
order: 11
---

If you use Word to write your content you can then run the Flesch reading scale to rate readability. You are aiming for a score of between 70 to 80: 

- 90 to 100 - the document is very easy to read
- 80 to  90 - the document is easy to read
- 70 to  80 - it is fairly easy to read
- 60 to  70 - it is easily read by 13 to 15-year-old students
- 50 to  60 - it is fairly difficult to read
- 30 to  50 - difficult to read
-  0 to  30 - very difficult to read

If your score is lower than 70, then take a look at your sentence length and word length. The shorter the sentences and words, the easier it will be read.

To set this up in Word (see below for Macbook), Open Word, go to File then Options. Select Proofing then make sure "Check grammar with spelling" and "Show readability statistics" are both selected. Now you have enabled this feature, when you run a spell check Word will display information about the reading level of your document as well.  

If you are working on a Macbook: Open word, go to the Word drop down menu, select Preferences, Select Spelling and Grammar, Check Show readability statistics and select OK. Now when you use the spell check tool, it will automatically tell you the Flesch-Kincaid grade level equivalency.

Further information on [Flesch-Kincaid readability tests](https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests).
