---
title: Right to be informed consent
description: Help users understand what will happen with the information they provide
section: Patterns
theme: Pages
aliases: How we will use the information you provide
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "patterns", item: "right-to-be-informed-consent", example: "default", html: true, nunjucks: true, size: "xl"}) }}

## When to use this pattern

Use this pattern to tell your users how you plan to use their data so that the
service can function as intended. We recommned breaking down the information
by the different sections of the service for example eligibility and payment.

It is also good practice to explicitly state what pieces of information will be
sent to third parties and who those third parties are.

## How it works

### SOME H3
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nibh mauris,
sollicitudin quis efficitur non, porttitor sit amet massa. Integer tincidunt
massa venenatis arcu pulvinar molestie.

### Another H3
This is some new content

## Research on this pattern

Somethings about research on this pattern:

- RESEARCH 1
- EXAMPLE 2
- SOMETHING ELSE
