---
title: Fixed width inputs
layout: layout-example.njk
ignore_in_sitemap: true
---

{% from "input/macro.njk" import govukInput %}

<h3 class="govuk-heading-m">20 characters</h3>

{{ govukInput({
  label: {
    text: "Driving licence number"
  },
  classes: "govuk-input--width-20",
  id: "driving-licence-number",
  name: "driving-licence-number"
}) }}

<h3 class="govuk-heading-m">10 characters</h3>

{{ govukInput({
  label: {
    text: "Post code"
  },
  classes: "govuk-input--width-10",
  id: "post-code",
  name: "post-code"
}) }}
