---
title: Task list
layout: layout-example-full-page.njk
---

{% extends "example-wrappers/full-page.njk" %}

{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Service name goes here</h1>

      <h2 class="govuk-heading-m">Check before you start</h2>

      {{ govukTaskList({
        idPrefix: "before-you-start",
        items: [
          {
            title: {
              text: "Check eligbility"
            },
            href: "#",
            status: {
              text: "Completed",
              classes: "govuk-task-list__status--black"
            }
          },
          {
            title: {
              text: "Read declaration"
            },
            href: "#",
            status: {
              text: "Not started",
              classes: "govuk-task-list__status--blue"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Prepare application</h2>

      {{ govukTaskList({
        items: [
          {
            title: {
              text: "Company information"
            },
            href: "#",
            status: {
              text: "Completed",
              classes: "govuk-task-list__status--black"
            }
          },
          {
            title: {
              text: "Your contact details"
            },
            href: "#",
            status: {
              text: "Not started",
              classes: "govuk-task-list__status--blue"
            }
          },
          {
            title: {
              text: "List convictions"
            },
            href: "#",
            status: {
              text: "Completed",
              classes: "govuk-task-list__status--black"
            }
          },
          {
            title: {
              text: "Provide financial evidence"
            },
            href: "#",
            status: {
              text: "Not started",
              classes: "govuk-task-list__status--blue"
            }
          },
          {
            title: {
              text: "Give medical information"
            },
            href: "#",
            status: {
              text: "Not started",
              classes: "govuk-task-list__status--blue"
            }
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Apply"
        }) }}
      </div>

    </div>
  </div>
{% endblock %}
