
.app-back-to-top {
  display: none;

  @supports (position: sticky) {
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    margin-bottom: govuk-spacing(6);
    top: govuk-spacing(6);
    left: govuk-spacing(6);
  }

  > svg {
    margin-top: -(govuk-spacing(1));
    margin-right: govuk-spacing(2);
    display: inline-block;
    vertical-align: middle;
  }
}
