$colour-list-breakpoint: 980px;

.app-colour-list {
  width: 100%;
  border-collapse: collapse;
}

.app-colour-list-row {
  display: table-row;
  margin-bottom: govuk-spacing(2);
  border-bottom: 10px solid transparent;
  @include govuk-media-query($from: $colour-list-breakpoint) {
    display: table-row;
    margin: auto;
    border-bottom: 0;
  }
}

.app-colour-list-column {
  display: block;
  position: relative;
  padding-left: 50px;
  @include govuk-media-query($from: $colour-list-breakpoint) {
    display: table-cell;
    padding-left: 0;
    vertical-align: middle;
  }
}

.app-swatch {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid transparent; // only light colours need a border
  border-radius: 50%;
  @include govuk-media-query($from: $colour-list-breakpoint) {
    display: inline-block;
    position: static;
    margin-top: 6px;
    margin-right: 10px;
    margin-bottom: 7px; // odd number so the text lines up vertically
    vertical-align: middle;
  }
}

.app-swatch-border {
  border-color: govuk-colour("black", $variant: "tint-80");
}

.app-colour-list-column--name {
  font-weight: normal;
  text-align: left;
  @include govuk-media-query($from: $colour-list-breakpoint) {
    width: 50%;
  }
}

.app-colour-list-column--colour {
  @include govuk-media-query($from: $colour-list-breakpoint) {
    width: 15%;
  }

  code {
    padding: 0;
    color: govuk-functional-colour(text);
    background: none;
  }
}

.app-colour-list-column--notes {
  @include govuk-media-query($from: $colour-list-breakpoint) {
    width: 35%;
  }
}
