$app-content-heading-icon-size: .6em;
$app-content-heading-icon-gutter: .1.5em;

@include govuk-exports("app-content-heading") {
  // Anchored headings
  .app-content-heading {
    position: relative;
    left: -($app-content-heading-icon-size + $app-content-heading-icon-gutter);
    padding-left: $app-content-heading-icon-size + $app-content-heading-icon-gutter;
  }

  .app-content-heading__anchor {
    // Prose scope has high specificity requiring !importants
    color: currentColor !important;
    text-decoration: none;
  }

  .app-content-heading__icon {
    margin-left: -($app-content-heading-icon-size + $app-content-heading-icon-gutter);
    padding-right: $app-content-heading-icon-gutter;
  }

  // Remove focus styles on anchor since you can't tab to them.
  .app-content-heading__anchor:focus {
    // Prose scope has high specificity requiring !importants
    outline: none !important;
    background: transparent !important;
  }

  // Only show icon with pointers that have hover (desktop)
  // Prevents mobile from accidentally having icons appear when pressing headings.
  @media (hover: hover) {
    .app-content-heading:hover .app-content-heading__icon {
      opacity: 1;
    }
  }

  .app-content-heading__icon {
    width: $app-content-heading-icon-size;
    height: $app-content-heading-icon-size;
    opacity: 0;
  }
}
