
.app-c-contact-panel {
  @include govuk-responsive-margin($govuk-spacing-responsive-6, "top");
  @include govuk-responsive-padding($govuk-spacing-responsive-3);
  background-color: $govuk-blue;

  .app-c-contact-panel__heading,
  .app-c-contact-panel__body,
  .app-c-contact-panel__link {
    color: $govuk-white;
  }

  .app-c-contact-panel__link:hover {
    color: lighten($govuk-light-blue, 45%);
  }

  .app-c-contact-panel__link:focus {
    color: $govuk-blue;
  }
}

.app-c-contact-panel__heading {
  @extend .govuk-heading-m;
}

.app-c-contact-panel__body {
  @include govuk-font-regular-19
  margin: 0;
}
