
.app-contact-panel {
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");
  @include govuk-responsive-padding(3);
  background-color: govuk-colour("blue");

  .app-contact-panel__heading,
  .app-contact-panel__body,
  .app-contact-panel__link {
    color: govuk-colour("white");
  }

  .app-contact-panel__link:hover {
    color: lighten(govuk-colour("light-blue"), 45%);
  }

  .app-contact-panel__link:focus {
    color: $govuk-focus-text-colour;
  }
}

.app-contact-panel__heading {
  @extend %govuk-heading-m;
}

.app-contact-panel__body {
  @include govuk-font(19);
  margin: 0;
}
