//
// Footer Component
//
// GOV.UK Frontend footer adapted for full width

@include govuk-exports("app-footer") {
  .app-width-container--full {
    min-width: calc(100% - #{$govuk-gutter * 2});
    max-width: 100%;
    padding: 0;
    @include govuk-media-query($from: desktop) {
      margin: 0 auto;
      padding: 0 govuk-spacing(6);
    }
  }

  .app-footer .govuk-footer__section-break {
    margin-bottom: 0;
    border-bottom: 0;
  }

  // Fix the visually hidden 'Support links' heading causing Safari to pad out
  // the bottom of the page or... something.
  .app-footer .govuk-visually-hidden {
    position: relative;
  }
}
