//
// Footer Component
//
// Based on the existing GOV.UK footer in GOV.UK Template

@include govuk-exports("app-footer") {
  $app-footer-background: $govuk-grey-3;
  $app-footer-border-top: #a1acb2;
  $app-footer-link: #454a4c;
  $app-footer-text: $app-footer-link;
  $app-footer-link-hover: #171819;

  .app-c-footer {
    display: block;
    padding: $govuk-gutter $govuk-spacing-scale-3 ($govuk-gutter * 2);
    border-top: 1px solid $app-footer-border-top;
    color: $app-footer-text;
    background: $app-footer-background;
    @include mq($from: desktop) {
      padding: $govuk-spacing-scale-6;
    }

    a:link,
    a:visited {
      color: $app-footer-link;
    }

    a:hover,
    a:active {
      color: $app-footer-link-hover;
    }
  }

  .app-c-footer__navigation {

    @include mq($until: desktop) {
      margin-bottom: $govuk-spacing-scale-6;
    }
  }

  .app-c-footer__heading {
    margin-bottom: 0;
    color: $govuk-text-colour;
  }

  .app-c-footer__heading:nth-of-type(1) {
    margin-top: 0;
  }

  .app-c-footer__list {
    margin: 0;
  }

  .app-c-footer__list-item {
    margin-bottom: 0;

    a {
      display: inline-block;
      margin-top: $govuk-spacing-scale-2;
      @include govuk-font-regular-16;
    }
  }

  .app-c-footer__licence {
    line-height: 1;
    @include mq ($from: desktop) {
      display: inline-block;
      width: 75%;
      vertical-align: bottom;
    }
  }

  .app-c-footer__licence-logo {
    display: block;
    width: 41px; // Based on the open-government-licence_2x.png image width: 81px/2
    height: 17px; // Based on the open-government-licence_2x.png image height: 33px/2
    overflow: hidden;
    background-image: url("/images/open-government-licence.png");
    @include govuk-h-device-pixel-ratio {
      background-image: url("/images/open-government-licence_2x.png");
    }
    background-repeat: no-repeat;
    background-size: 41px 17px; // Based on the open-government-licence_2x.png image size: 81x17px/2
    text-indent: -999em;
    @include mq($until: desktop) {
      margin-bottom: $govuk-spacing-scale-3;
    }
    @include mq($from: desktop) {
      display: inline-block;
      margin-right: $govuk-spacing-scale-2;
      vertical-align: top;
    }
  }

  .app-c-footer__licence-description {
    display: inline-block;
    @include govuk-font-regular-16;
    margin: 0;
  }

  .app-c-footer__copyright {
    @include govuk-font-regular-16;
    margin-top: $govuk-spacing-scale-5;
    @include mq ($from: desktop) {
      display: inline-block;
      width: 25%;
      margin-top: 0;
    }
  }

  .app-c-footer__copyright-logo {
    display: block;
    min-width: 125px; // Based on the govuk-crest-2x.png image width: 250px/2
    padding: (102px + $govuk-spacing-scale-2) 0 0 0; // Based on the govuk-crest-2x.png image height + spacing: 204px/2 + $govuk-spacing-scale-2
    background-image: url("/images/govuk-crest.png");
    @include govuk-h-device-pixel-ratio {
      background-image: url("/images/govuk-crest-2x.png");
    }
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 125px 102px; // Based on the govuk-crest-2x.png image size: 250x204px/2
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    @include mq ($from: desktop) {
      background-position: 100% 0%;
      text-align: right;
    }
  }
}
