.app-header-logo {
  // Add a little margin to the right of the logo
  // so it doesn't touch the search box when side by side
  margin-right: govuk-spacing(3);
}

.app-header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
