
$button-shadow-size: $govuk-border-width-form-element;
$app-button-inverted-background-colour: govuk-colour("white");
$app-button-inverted-foreground-colour: govuk-colour("blue");
$app-button-inverted-shadow-colour: govuk-shade($app-button-inverted-foreground-colour, 30%);

.app-button--inverted,
.app-button--inverted:link,
.app-button--inverted:visited {
  color: $app-button-inverted-foreground-colour;
  background-color: $app-button-inverted-background-colour;
  box-shadow: 0 $button-shadow-size 0 $app-button-inverted-shadow-colour;
}

.app-button--inverted:hover,
.app-button--inverted:focus {
  color: $app-button-inverted-foreground-colour !important;
  background-color: govuk-tint($app-button-inverted-foreground-colour, 90%);
}

