.app-masthead {
  @include govuk-responsive-padding($govuk-spacing-responsive-6, "top");
  @include govuk-responsive-padding($govuk-spacing-responsive-6, "bottom");
  color: $govuk-white;
  background-color: $govuk-blue;
}

.app-masthead__title {
  color: $govuk-white;
  @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
}

.app-masthead__description {
  @include govuk-font-regular-24;
  margin-bottom: 0;
}
