.app-c-masthead {
  color: $govuk-white;
  background-color: $govuk-blue;
}

.app-c-masthead__title {
  @include govuk-bold-48;
  margin-top: 0; // Note: on Elements this is included in h1
}

.app-c-masthead__description {
  @include govuk-core-24;
}
