$navigation-height: 50px;

.app-mobile-navigation__theme {
  @include govuk-typography-common;
  margin: 0;
  padding: 0;
  color: govuk-colour("dark-grey");
  // Font is defined as a hard 19px so
  // it does not re-size on mobile viewport
  font-size: 19px;
  font-size: govuk-px-to-rem(19px);
  font-weight: normal;
}

.app-mobile-navigation__list {
  position: relative;
  margin: govuk-spacing(3) 0 0;
  padding: govuk-spacing(3) 0;
  background-color: #ffffff;
  font-size: 16px;
  font-size: govuk-px-to-rem(16px);
  list-style: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -$govuk-gutter-half;
    width: $govuk-gutter-half;
    height: 100%;
    background-color: #ffffff;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: calc(100vw - 100%);
    height: 100%;
    background-color: #ffffff;
  }

  @include govuk-media-query($from: tablet) {
    position: relative;

    // Offset gutter by tablet list-item padding
    left: -$govuk-gutter-half;
    width: calc(100% - $govuk-gutter);
    min-height: $navigation-height;
  }
}

.app-mobile-navigation__list-item--current {
  @include govuk-media-query($from: tablet) {
    border-bottom: 4px solid govuk-colour("blue");
  }
}

.app-mobile-navigation__subnav-item {
  padding: govuk-spacing(3) 0;
}

.app-mobile-navigation .govuk-service-navigation__item--active {
  @include govuk-media-query($until: tablet) {
    border-color: transparent;
  }
}

.app-mobile-navigation__link--active {
  @include govuk-media-query($until: tablet) {
    position: relative;
    font-weight: bold;

    &::before {
      content: "";
      position: absolute;
      top: govuk-spacing(-3) / 2;
      left: -$govuk-gutter-half;
      width: 5px;
      height: calc(100% + govuk-spacing(3));
      background-color: rgb(26.1, 100.8, 165.6);
    }
  }
}

.app-mobile-navigation__toggle-button {
  @include govuk-media-query($from: tablet) {
    display: none;
  }
  position: relative;
  padding: 0;
  border: 0;
  background: none;
  font-size: inherit;
  cursor: pointer;
}

.app-mobile-navigation__toggle-button::after {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  right: govuk-px-to-rem(-14px);
  bottom: govuk-px-to-rem(10px);
  width: govuk-px-to-rem(6px);
  height: govuk-px-to-rem(6px);
  transform: rotate(135deg);
  border-top: govuk-px-to-rem(2px) solid;
  border-right: govuk-px-to-rem(2px) solid;
}

.app-mobile-navigation__toggle-button[aria-expanded="true"]::after {
  transform: rotate(-45deg);
}
