.app-mobile-nav {
  display: none;
  border-bottom: 1px solid $govuk-border-colour;
}

.app-mobile-nav--active {
  display: block;

  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

.no-js .app-mobile-nav {
  @include govuk-media-query($until: tablet) {
    display: block;
  }
}

.app-mobile-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-mobile-nav-subnav-toggler {
  position: relative;
  padding: 16px govuk-spacing(4) 17px govuk-spacing(4);
  background-color: $app-light-grey;
}

.app-mobile-nav-subnav-toggler__link {
  @include govuk-typography-weight-bold; // Override .govuk-link weight
  font-size: 19px; // We do not have a font mixin that produces 19px on mobile
  font-size: govuk-px-to-rem(19px); // sass-lint:disable-line no-duplicate-properties

  &:not(:focus):hover {
    color: $govuk-link-colour;
  }
}

.app-mobile-nav-subnav-toggler__link,
.app-mobile-nav__link {
  // Expand the touch area of the link to the full menu width
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.app-mobile-nav__subnav {
  display: none;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  border-top: 1px solid govuk-colour("light-grey");
  border-bottom: 1px solid govuk-colour("light-grey");
}

.js-enabled .app-mobile-nav__subnav--active {
  display: block;
}

.app-mobile-nav__subnav-item {
  display: block;
  position: relative;
  padding: (govuk-spacing(2) + 2px) govuk-spacing(4);
}

.app-mobile-nav__subnav-item--current {
  $_current-indicator-width: 4px;
  padding-left: govuk-spacing(4) - $_current-indicator-width;
  border-left: $_current-indicator-width solid govuk-colour("blue");
}

.app-mobile-nav__theme {
  @include govuk-typography-common;
  margin: 0;
  padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(1) govuk-spacing(4);
  color: govuk-colour("dark-grey");
  // Font is defined as a hard 19px so
  // it does not re-size on mobile viewport
  font-size: 19px;
  font-size: govuk-px-to-rem(19px); // sass-lint:disable-line no-duplicate-properties
  font-weight: normal;
}
