.app-mobile-nav {
  display: none;

  &--active {
    display: block;

    @include govuk-media-query($from: tablet) {
      display: none;
    }
  }
}

.no-js .app-mobile-nav {
  @include govuk-media-query($until: tablet) {
    display: block;
  }
}

.app-mobile-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $app-light-grey;


  & > li {
    @include govuk-typography-common;
    @include govuk-typography-weight-bold;
    position: relative;
    display: block;
    font-size: 19px; // We do not have a font mixin that produces 19px on mobile
    font-size: govuk-px-to-rem(19px); // sass-lint:disable-line no-duplicate-properties
    padding: 16px govuk-spacing(4) 17px govuk-spacing(4);

    & > a {
      @include govuk-typography-weight-bold; // Override .govuk-link weight
      text-decoration: none;

      &:hover {
        text-decoration: underline; 
      }

      &:visited {
        color: govuk-colour("blue");
      }

      &:focus {
        @include govuk-focused-text;
      }

      // Extend the touch area of the <a> to the <li>
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.app-mobile-nav__subnav {
  display: none;
  margin: govuk-spacing(3) -20px;
  padding: govuk-spacing(2) 0 0 0;
  list-style: none;
  border-top: 1px solid govuk-colour("light-grey");
  border-bottom: 1px solid govuk-colour("light-grey");
  background-color: govuk-colour("white");

  & > li {
    display: block;
    padding: govuk-spacing(2) govuk-spacing(4);

    &.current-page {
      border-left: 4px solid govuk-colour("blue");
    }

    & > a {
      @include govuk-font(19);
      text-decoration: none;

      &:focus {
        @include govuk-focused-text;
      }
    }
  }
}

.js-enabled .app-mobile-nav__subnav--active {
  display: block;
}

.app-mobile-nav__current-page {
  border-left: 4px solid govuk-colour("blue");
}

.app-mobile-nav__theme {
  margin: 0;
  padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(1) 0;
  color: govuk-colour("dark-grey");
  // Font is defined as a hard 19px so
  // it does not re-size on mobile viewport
  font-size: 19px;
  font-size: govuk-px-to-rem(19px); // sass-lint:disable-line no-duplicate-properties
  font-weight: 400;
}

.app-mobile-nav__theme-nav {
  margin: 0 -20px;
  padding: 0;
  list-style: none;
  background-color: govuk-colour("white");

  & > li {
    @include govuk-font(19);
    display: block;
    padding: govuk-spacing(3) govuk-spacing(4) govuk-spacing(2) govuk-spacing(4);

    &.current-page {
      padding-left: govuk-spacing(4) - 4px;
      border-left: 4px solid govuk-colour("blue");
    }

    & > a {
      text-decoration: none;
    }
  }
}

.js-enabled .app-mobile-nav__subnav-toggler--active {
  // border-top: 1px solid govuk-colour("white");
}
