.app-navigation {
  background-color: $app-light-grey;

  @include govuk-media-query($until: tablet) {
    display: none;
  }
}

.app-navigation__list {
  position: relative;
  left: -(govuk-spacing(3));
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-navigation__list-item {
  $navigation-height: 50px;

  @include govuk-font(19, $weight: bold, $line-height: $navigation-height);

  box-sizing: border-box;
  display: block;
  position: relative;
  height: $navigation-height;
  height: govuk-px-to-rem($navigation-height); // sass-lint:disable-line no-duplicate-properties
  padding: 0 govuk-spacing(3);
  float: left;
}

.app-navigation__list-item--current {
  @include govuk-media-query($from: tablet) {
    border-bottom: 4px solid govuk-colour("blue");
  }
}

.app-navigation__link {
  @include govuk-typography-weight-bold;

  // Extend the touch area of the link to the list
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.app-navigation__list-item--current .app-navigation__link:hover {
  text-decoration: none;
}
