.app-options {
  margin-bottom: govuk-spacing(1);
  padding: govuk-spacing(2) govuk-spacing(2) 0 govuk-spacing(2);
  background-color: govuk-colour("white");

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(4);
    padding: govuk-spacing(5) govuk-spacing(5) 0 govuk-spacing(5);
  }
}

.app-options__table {
  max-width: 38em;

  @include govuk-media-query(mobile) {
    .govuk-table__header,
    .govuk-table__cell {
      word-break: break-word;
    }
  }
}
