@include govuk-exports("app-pane") {
  $toc-width: 260px;
  $toc-width-tablet: 210px;

  .app-pane__body {
    @include govuk-media-query($from: tablet) {
      display: flex;
      position: relative;
      min-height: 0;
      overflow: inherit;
    }

    @include govuk-media-query(1160px) {
      width: 100%;
    }
  }

  .app-pane__subnav {
    @include govuk-media-query($until: tablet) {
      display: none;
    }
    @include govuk-media-query($from: tablet) {
      width: $toc-width-tablet;
      flex: 0 0 auto;
    }
    @include govuk-media-query($from: desktop) {
      width: $toc-width;
    }
  }

  .app-pane__subnav-mobile-overview {
    @include govuk-media-query($from: tablet) {
      display: none;
    }
  }

  .app-pane__content {
    @include govuk-media-query($from: tablet) {
      display: flex;
      min-width: 0;
      flex: 1 1 100%;
      flex-direction: column;
    }
  }

  .no-flexbox.no-flexboxtweener {
    .app-pane {
      height: auto;
      overflow: visible;
      @include govuk-clearfix;
    }

    .app-pane__body {
      display: block;
    }

    .app-pane__subnav {
      width: $toc-width;
      float: left;
      overflow-x: hidden;
      border-right: 0;
    }

    .app-pane__content {
      margin-left: -1px;
      overflow-x: hidden;
    }
  }
}
