@include govuk-exports("app-pane") {
  $toc-width: 300px;
  $toc-width-tablet: 210px;

  .app-pane.app-pane--enabled {

    @include govuk-media-query($from: tablet) {
      display: flex;
      flex-direction: column;
    }

  }

  .app-pane__header {
    @include govuk-media-query($from: tablet) {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;

      > * {
        flex: 1 0 auto;
      }
    }
  }

  .app-pane__body {
    @include govuk-media-query($from: tablet) {
      display: flex;
      position: relative;
      min-height: 0;
      flex: 1 1 100%;

      > * {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
      }
    }
  }

  .app-pane__subnav {
    @include govuk-media-query($from: tablet) {
      width: $toc-width-tablet;
      flex: 0 0 auto;
    }
    @include govuk-media-query($from: desktop) {
      width: $toc-width;
    }
  }

  .app-pane__content {
    @include govuk-media-query($from: tablet) {
      display: flex;
      margin-left: auto;
      flex: 1 1 auto;
      flex-direction: column;

      // Stick footer to bottom of screen if content is shorter than viewport
      main {
        display: block;
        flex: 1 0 auto;
      }
    }
  }

  .no-flexbox {
    .app-pane {
      height: auto;
      overflow: visible;
      @include govuk-clearfix;
    }

    .app-pane__body {
      display: block;
    }

    .app-pane__subnav {
      width: $toc-width;
      float: left;
      overflow-x: hidden;
      border-right: none;
    }

    .app-pane__content {
      overflow-x: hidden;
      margin-left: -1px;
    }
  }
}
