@include govuk-exports("app-subnav") {

  .app-subnav {
    padding: govuk-spacing(3);
    @include govuk-font(16);
  }

  .app-subnav__section {
    margin: 0 0 govuk-spacing(4);
    padding: 0;
    list-style-type: none;
  }

  .app-subnav__link {
    display: block;
    padding: 8px govuk-spacing(6) 8px govuk-spacing(2);
    border-left: 4px solid transparent;
    text-decoration: none;

    &:focus {
      background: inherit;
    }

    &:hover,
    &:active,
    &:visited {
      color: $govuk-link-colour;
    }

    &:hover {
      border-left-color: $govuk-link-hover-colour;
    }
  }

  .app-subnav__section-item--current .app-subnav__link {
    border-left-color: $govuk-link-colour;
    background: $app-light-grey;
    font-weight: bold;
  }

  .app-subnav__section--nested {
    margin-bottom: 0;
  }

  .app-subnav__section--nested .app-subnav__link {
    font-weight: 400;
    padding-left: govuk-spacing(4);
  }

  .app-subnav__theme {
    margin: 0;
    padding: govuk-spacing(2) govuk-spacing(3);
    color: govuk-colour("grey-1");
    @include govuk-font(19);
  }
}
