@include govuk-exports("app-subnav") {

  .app-subnav {
    padding: govuk-spacing(6) govuk-spacing(3) govuk-spacing(3);
    @include govuk-font(16);

    @media (min-width: $app-breakpoint-widescreen) {
      padding: govuk-spacing(6) govuk-spacing(3) 0 0;
      margin-left: -(govuk-spacing(3));
    }
  }

  .app-subnav__section {
    margin: 0 0 govuk-spacing(4);
    padding: 0;
    list-style-type: none;

    a,
    a:link,
    a:visited {
      display: block;
      padding: 8px govuk-spacing(6) 8px govuk-spacing(2);
      border-left: 4px solid transparent;
      color: $govuk-link-colour;
      background: inherit;
      text-decoration: none;
    }

    a:hover {
      border-left-color: $govuk-link-hover-colour;
    }
  }

  .app-subnav__section-item--current {
    a,
    a:link,
    a:visited {
      border-left-color: $govuk-link-colour;
      background: $app-light-grey;
      font-weight: bold;
    }
  }

  .app-subnav__theme {
    margin: 0;
    padding: govuk-spacing(2) govuk-spacing(3);
    color: govuk-colour("grey-1");
    @include govuk-font(19);
  }
}
