@include govuk-exports("app-subnav") {

  .app-subnav {
    padding: govuk-spacing(6) govuk-spacing(3) 0 0;
    @include govuk-font(16);
  }

  .app-subnav__section {
    margin: 0 0 govuk-spacing(4);
    padding: 0;
    list-style-type: none;
  }

  .app-subnav__link {
    // display: inline-block;
    padding: 2px 0;
    text-decoration: none;

    &:hover,
    &:active,
    &:visited {
      color: $govuk-link-colour;
    }
  }
  .app-subnav__section-item {
    margin-bottom: govuk-spacing(3);
    
    a:hover {
      text-decoration: underline;
    }

    a:focus {
      text-decoration: none;
    }
  }

  .app-subnav__section-item--current {
    box-shadow: -5px -1px 0 5px govuk-colour("white"), 
                5px -1px 0 5px govuk-colour("white"),
                -9px -1px 0 5px govuk-colour("blue");
    background-color: govuk-colour("white");
    
    .app-subnav__link {
      font-weight: bold;
      outline: 2px solid transparent;
    }
  }

  .app-subnav__section--nested {
    margin-top: govuk-spacing(2);
    padding-left: govuk-spacing(4);
    margin-bottom: 0;
  }

  .app-subnav__section--nested .app-subnav__section-item {
    &:before {
      content: "—";
      color: govuk-colour("dark-grey");
      margin-left: -(govuk-spacing(4));
      // padding-right: govuk-spacing(1);
    }
  }

  .app-subnav__section--nested .app-subnav__link {
    padding-left: 0;
    font-weight: 400;
  }

  .app-subnav__theme {
    margin: 0;
    padding: govuk-spacing(2) govuk-spacing(3) govuk-spacing(2) 0;
    color: govuk-colour("dark-grey");
    @include govuk-font(19);
  }
  .app-subnav__link {
    &:focus {
      // display: inline-block;
      @include govuk-focusable-text;
    }
  }
}
