// Tabs styles
.app-tabs {
  margin: -1px auto;
  padding: 0;
  overflow: visible;
  list-style-type: none;
  border: 1px solid $govuk-border-colour;

  @include govuk-media-query($until: desktop) {
    display: none;
  }
}

.app-tabs__item {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin: 0;

  a {
    display: block;
    margin-top: -1px;
    padding: govuk-spacing(3);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    color: $govuk-link-colour;
    background: inherit;
    font-weight: bold;
    text-decoration: none;
  }
}

.app-tabs__item--current {
  a {
    border-top-color: govuk-colour("blue");
    border-bottom-color: govuk-colour("blue");
    background-color: darken(govuk-colour("grey-4"), 3%);
  }
}

// Tab drawer heading for accordion look on mobile
.app-tabs__heading {
  a {
    display: none;
    position: relative;
    z-index: 2;
    padding: govuk-spacing(3);
    border: 1px solid $govuk-border-colour;
    border-top: 0;
    color: $govuk-link-colour;
    background: inherit;
    font-weight: bold;
    text-decoration: none;

    &:visited {
      color: $govuk-link-colour;
    }

    @include govuk-media-query($until: desktop) {
      display: block;
    }
  }
}

.app-tabs__heading--current {
  background-color: darken(govuk-colour("grey-4"), 3%);
}

// Tab containers
.app-tabs__container {
  position: relative;
  margin-top: -2px;
  border: 1px solid $govuk-border-colour;
}

.app-tabs__container pre {
  max-width: inherit;
  margin-bottom: 0;
  border: 0;
  font-size: inherit;
}

// Ensure the copy button does not obstruct the examples.
// Use relative units to allow this also to work when the user is zoomed 200%
@media (min-width: 65.0625em) {
  .app-tabs__container pre code {
    // Account for the size of the copy button.
    // On bigger screens the copy button is to not obstruct the content
    // So instead shorten the length of the code block
    max-width: calc(100% - 6em);
  }
}
@media (max-width: 65em) {
  .app-tabs__container pre {
    // On smaller screens, we need all the width we can get,
    // so instead add padding to the top of the example, which feels more balanced.
    padding-top: 2em;
  }
}

.app-tabs__container--with-close-button pre {
  padding-bottom: govuk-spacing(6);
}

.app-tabs__text {
  padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(4) govuk-spacing(4);

  // magical number 1080px below as the content is inside a narrow panel
  // and can't rely on predefined media queries
  // govuk-media-query converts pixels to ems

  @include govuk-media-query($from: 1080px) {
    padding-bottom: 0;
  }
}

// Close container button
.app-link--close {
  position: absolute;
  right: govuk-spacing(3);
  bottom: govuk-spacing(3) / 2;
  text-decoration: none;

  @include govuk-media-query($from: 1080px) {
    bottom: govuk-spacing(3) + 2; // font baseline adjustment
  }
}
