// Tabs styles
.app-tabs {
  margin: -1px auto;
  padding: 0;
  overflow: visible;
  list-style-type: none;
  border: 1px solid $govuk-border-colour;

  @include govuk-media-query($until: desktop) {
    display: none;
  }

  .app-prose-scope & { // A specific selector to reset .app-prose-scope ul
    margin-bottom: 0;
    padding: 0;
    font-size: 0; // Prevent white space taking up space between tabs
  }
}

.app-tabs__item {
  @include govuk-font(19);
  display: inline-block;
  position: relative;
  padding: govuk-spacing(4);

  a {
    display: block;

    .app-prose-scope &:visited {
      color: $govuk-link-colour;
    }

    .app-prose-scope &:focus {
      color: $govuk-focus-text-colour;
    }

    // Extend the touch area of the <a> to fill the entire tab
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .app-prose-scope & { // A specific selector to reset .app-prose-scope ul li
    margin: 0;
  }
}

.app-tabs__item--current {
  border-right: 1px solid $govuk-border-colour;
  border-left: 1px solid $govuk-border-colour;
  background: govuk-colour("white");

  &:first-child {
    border-left: 0;
  }

  a {
    .app-prose-scope & {
      color: $govuk-text-colour;
      text-decoration: none;
    }
  }
}

// Tab drawer heading for accordion look on mobile
.app-tabs__heading {
  a {
    display: none;
    position: relative;
    z-index: 2;
    padding: govuk-spacing(3);
    border: 1px solid $govuk-border-colour;
    border-top: 0;
    color: $govuk-link-colour;
    background: inherit;
    font-weight: bold;
    text-decoration: none;

    &:visited {
      color: $govuk-link-colour;
    }

    &:focus {
      color: govuk-colour("black");
    }

    @include govuk-media-query($until: desktop) {
      display: block;
    }
  }
}

@include govuk-media-query($until: desktop) {
  .app-tabs__heading:nth-of-type(1) {
    border-top: 1px solid $govuk-border-colour;
  }
}

.app-tabs__heading--current {
  background-color: darken(govuk-colour("light-grey"), 3%);
}

// Tab containers
.app-tabs__container {
  margin-top: -2px;
  border: 1px solid $govuk-border-colour;
}

.app-tabs__container--hidden {
  display: none;
}

.app-tabs__container pre {
  position: relative;
  max-width: inherit;
  margin-bottom: 0;
  border: 0;
  font-size: inherit;
}

.app-tabs__container pre code {
  display: block;
  // Extra 3px to compensate for border and box shadow of button
  padding-top: govuk-spacing(7) + 3px;
  padding-right: govuk-spacing(4);
  padding-bottom: govuk-spacing(4);
  overflow-x: auto;
}

.app-tabs__container pre {
  padding-right: 0;
  padding-bottom: 0;
}


.app-tabs__container--with-close-button pre {
  padding-bottom: govuk-spacing(6);
}

.app-tabs__text {
  padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(4) govuk-spacing(4);

  // magical number 1080px below as the content is inside a narrow panel
  // and cannot rely on predefined media queries
  // govuk-media-query converts pixels to ems

  @include govuk-media-query($from: 1080px) {
    padding-bottom: 0;
  }
}
