// Tabs styles
.app-c-tabs {
  margin: -1px auto;
  padding: 0;
  overflow: visible;
  list-style-type: none;
  border: 1px solid $govuk-border-colour;

  @include mq($until: desktop) {
    display: none;
  }

  .govuk-prose-scope & { // A specific selector to reset .govuk-prose-scope ul
    margin-bottom: 0;
    padding: 0;
  }
}

.app-c-tabs__item {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin: 0;

  a {
    display: block;
    margin-top: -1px;
    padding: $govuk-spacing-scale-3;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    color: $govuk-link-colour;
    background: inherit;
    font-weight: bold;
    text-decoration: none;

    .govuk-prose-scope &:focus { // A specific selector to reset .govuk-prose-scope a:focus
      background: inherit;
    }
  }

  .govuk-prose-scope & { // A specific selector to reset .govuk-prose-scope ul li
    margin: 0;
  }
}

.app-c-tabs__item--current {
  a {
    border-top-color: $govuk-blue;
    border-bottom-color: $govuk-blue;
    background-color: darken($govuk-grey-4, 3%);
  }
}

// Tab drawer heading for accordion look on mobile
.app-c-tabs__heading {
  a {
    display: none;
    position: relative;
    z-index: 2;
    padding: $govuk-spacing-scale-3;
    border: 1px solid $govuk-border-colour;
    border-top: 0;
    color: $govuk-link-colour;
    background: inherit;
    font-weight: bold;
    text-decoration: none;

    &:visited {
      color: $govuk-link-colour;
    }

    @include mq($until: desktop) {
      display: block;
    }
  }
}

.app-c-tabs__heading--current {
  background-color: darken($govuk-grey-4, 3%);
}

// Tab containers
.app-c-tabs__container {
  position: relative;
  margin-top: -2px;
  border: 1px solid $govuk-border-colour;

  @include mq($until: desktop) {
    border-top: 0;
  }
}

.app-c-tabs__container pre {
  border: 0;
}

.app-c-tabs__container--with-close-button pre {
  padding-bottom: $govuk-spacing-scale-6;
}

.app-c-tabs__text {
  padding: $govuk-spacing-scale-4 $govuk-spacing-scale-4 $govuk-spacing-scale-4 $govuk-spacing-scale-4;

  // magical number 1080px below as the content is inside a narrow panel
  // and can't rely on predefined media queries
  // sassmq converts pixels to ems

  @include mq($from: 1080px) {
    padding-bottom: 0;
  }
}

// Close container button
.app-c-link--close {
  position: absolute;
  right: $govuk-spacing-scale-3;
  bottom: $govuk-spacing-scale-3 / 2;
  text-decoration: none;

  @include mq($from: 1080px) {
    bottom: $govuk-spacing-scale-3 + 2; // font baseline adjustment
  }
}
