// Tabs styles
.app-tabs {
  margin: -1px auto;
  padding: 0;
  overflow: visible;
  list-style-type: none;
  border: 1px solid $govuk-border-colour;
  border-top: 0;

  @include govuk-media-query($until: desktop) {
    display: none;
  }

  .app-prose-scope & { // A specific selector to reset .app-prose-scope ul
    margin-bottom: 0;
    padding: 0;
    // Inline block - remove white space 
    font-size: 0;
  }
}

.app-tabs__item {
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: govuk-spacing(4);
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  margin-left: -1px;

  &:first-child {
    margin-left: -1px !important;
  }

  a {
    @include govuk-font(19, $weight: regular);
    color: $govuk-text-colour;
    text-decoration: underline;

    &:hover {
      color: govuk-colour("blue");
      text-decoration: underline;
    }

    .app-prose-scope &:focus { // A specific selector to reset .app-prose-scope a:focus
      color: $govuk-text-colour;
      text-decoration: none;
    }

    .app-prose-scope &:visited {
      color: $govuk-text-colour;
    }
  }

  .app-prose-scope & { // A specific selector to reset .app-prose-scope ul li
    margin: 0;
  }
}

.app-tabs__item--current {
  background-color: govuk-colour("white");
  border-right: 1px solid $govuk-border-colour;
  border-left: 1px solid $govuk-border-colour;
  
  a {
    color: $govuk-text-colour !important;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.app-tabs__item:not(.app-tabs__item--current) {
  
}

// Tab drawer heading for accordion look on mobile
.app-tabs__heading {
  a {
    display: none;
    position: relative;
    z-index: 2;
    padding: govuk-spacing(3);
    border: 1px solid $govuk-border-colour;
    border-top: 0;
    color: $govuk-link-colour;
    background: inherit;
    font-weight: bold;
    text-decoration: none;

    &:visited {
      color: $govuk-link-colour;
    }

    &:focus {
      color: govuk-colour("black");
    }

    @include govuk-media-query($until: desktop) {
      display: block;
    }
  }
}

@include govuk-media-query($until: desktop) {
  .app-tabs__heading:nth-of-type(1) {
    border-top: 1px solid $govuk-border-colour;
  }
}

.app-tabs__heading--current {
  background-color: darken(govuk-colour("light-grey"), 3%);
}

// Tab containers
.app-tabs__container {
  margin-top: -2px;
  border: 1px solid $govuk-border-colour;
  padding: 20px;
  background-color: govuk-colour("white");
}

.app-tabs__container--hidden {
  display: none;
}

.app-tabs__container pre {
  position: relative;
  max-width: inherit;
  margin-bottom: 0;
  border: 0;
  font-size: inherit;
  background-color: govuk-colour("white");
  padding: 0;
}

.app-tabs__container pre code {
  display: block;
  // Extra 3px to compensate for border and box shadow of button
  padding-top: govuk-spacing(7) + 3px;
  padding-right: govuk-spacing(4);
  padding-bottom: govuk-spacing(4);
  padding-left: govuk-spacing(4);
  overflow-x: auto;
  background-color: govuk-colour("light-grey");
}

.app-tabs__container pre {
  padding-right: 0;
  padding-bottom: 0;
}


.app-tabs__container--with-close-button pre {
  padding-bottom: govuk-spacing(6);
}

.app-tabs__text {
  padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(4) govuk-spacing(4);

  // magical number 1080px below as the content is inside a narrow panel
  // and cannot rely on predefined media queries
  // govuk-media-query converts pixels to ems

  @include govuk-media-query($from: 1080px) {
    padding-bottom: 0;
  }
}
