---
title: Radio items with hint
layout: layout-example.njk
ignore_in_sitemap: true
---

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "sign-in",
  name: "sign-in",
  fieldset: {
    legend: {
      text: "How do you want to sign in?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "You’ll need an account to prove your identity and complete your Self Assessment."
  },
  items: [
    {
      value: "government-gateway",
      text: "Sign in with Government Gateway",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        text: "You’ll have a user ID if you’ve registered for Self Assessment or filed a tax return online before."
      }
    },
    {
      value: "govuk-verify",
      text: "Sign in with GOV.UK Verify",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        text: "You’ll have an account if you’ve already proved your identity with either Barclays, CitizenSafe, Digidentity, Experian, Post Office, Royal Mail or SecureIdentity."
      }
    }
  ]
}) }}
