---
title: Resources and tools
description: Useful community resources and tools
section: Community
layout: layout-pane.njk
order: 1
status: Experimental
---

You can use these community resources and tools to help you use the GOV.UK Design System in your design tool or development environment.

The GOV.UK Design System team is not responsible for these resources and tools and we cannot support you with using them. Please contact the owner if you need help or you want to request a feature.


## Create flow diagrams

[GOV.UK Design System Flow Diagrams](https://github.com/dashouse/govuk-design-system-flow-diagrams) -
A Sketch file for creating flow diagrams of GOV.UK services.

[GOV.UK Design System Flow Diagrams for Miro](https://github.com/paulmsmith/govuk-designsystem-flow-diagram-miro) -
A Miro file for creating flow diagrams of GOV.UK services.

[GOV Flow](https://github.com/charlesrt/gov-flow) -
A Sketch file for creating flow diagrams of GOV.UK services.

[GOV Flow for Google Drawings](https://www.beatnic.co.uk/2019/10/04/google-drawing-template-gov-flow-kit/) -
Google Drawings templates for creating flow diagrams, based on GOV Flow.

[GOV.UK Userflow Icons](https://github.com/alirawashdeh/govuk-userflow-icons) -
SVG images for creating flow diagrams of GOV.UK services.


## Create prototypes and wireframes

[Adobe XD wireframes](https://github.com/SulimanK/gds-adobexd-wireframing-kit) -
Adobe XD wireframes based on the GOV.UK Design System.

[Balsamiq wireframes](https://github.com/enoranidi/govuk-design-system-balsamiq) -
Balsamiq wireframes based on the GOV.UK Design System.

[Sketch Wireframing Kit](https://github.com/abbott567/sketch_wireframing_kit) -
Sketch wireframes based on the GOV.UK Design System.


## Build front ends


### Node.js

Guidance on [building a hapi service using GOV.UK Frontend](https://github.com/DEFRA/hapi-govuk-examples).


### Python

[GOV.UK Frontend Jinja](https://github.com/LandRegistry/govuk-frontend-jinja) -
GOV.UK Frontend Jinja Macros.

[GOV.UK Frontend WTForms](https://github.com/LandRegistry/govuk-frontend-wtf) -
GOV.UK Frontend WTForms Widgets.

### R

[Govdown](https://github.com/ukgovdatascience/govdown) -
A GOV.UK Design System theme for R Markdown.


### React

[govuk-react-jsx](https://github.com/surevine/govuk-react-jsx) -
GOV.UK Frontend compatible React components.


### Ruby on Rails

[GOV.UK Design System Formbuilder](https://github.com/DFE-Digital/govuk_design_system_formbuilder) -
A Rails form builder using GOV.UK Frontend.

[GOV.UK Components](https://github.com/DFE-Digital/govuk-components) -
A set of non-form Rails components using GOV.UK Frontend. You can use these together with the Design System Formbuilder.

[GOV.UK Frontend Rails](https://github.com/dxw/dxw_govuk_frontend_rails) -
A Ruby gem that adds the GOV.UK Frontend to Rails applications.

[GOV.UK Rails Boilerplate](https://github.com/DFE-Digital/govuk-rails-boilerplate) -
A complete Rails starter application using GOV.UK Frontend.



## Write code

You can download GOV.UK Frontend Nunjucks macro snippets for:

- [Atom](https://atom.io/packages/govuk-design-system-snippets)
- [Visual Studio Code](https://marketplace.visualstudio.com/items?itemName=simonwhatley.govuk-design-system-snippets)



## Help improve this page

To help make sure that this page is useful, relevant and up to date, you can [propose a change](https://github.com/alphagov/govuk-design-system/edit/master/src/community/resources-and-tools/index.md.njk) – read more about [how to propose changes in GitHub](https://design-system.service.gov.uk/community/propose-a-content-change-using-github/).

If you want to submit a resource or tool, check that it meets the [contribution criteria for resources](/community/contribution-criteria/#developing-a-community-resource-or-tool) first.
