---
title: Textarea
description: Help users provide detailed information using the textarea component
section: Components
aliases: multi-line text box, multi-line text field
backlog_issue_id: 65
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "components", item: "textarea", example: "default", html: true, nunjucks: true, open: false, size: "m"}) }}

## When to use this component

Use the textarea component when you need to let users enter an amount of text that’s longer than a single line.

## When not to use this component

Don’t use the textarea component if you need to let users enter shorter answers no longer than a single line, such as a phone number or name. In this case, you should use the [text input](../text-input) component.

## How it works

There are 2 ways to use the textarea component. You can use HTML or, if you’re using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: "components", item: "textarea", example: "default", html: true, nunjucks: true, open: true, size: "m"}) }}

### Label textareas

You must label textareas. Placeholder text is not a suitable substitute for a label, as it disappears when users click inside the textarea.

Labels must be aligned above the textarea they refer to. They should be short, direct and written in sentence case. Don’t use colons at the end of labels.

### Use appropriately-sized textareas

Make the height of a textarea proportional to the amount of text you expect users to enter. You can set the height of a textarea by by specifying the `rows` attribute.

{{ example({group: "components", item: "textarea", example: "specifying-rows", html: true, nunjucks: true, open: true, size: "l"}) }}

### Don’t disable copy and paste

Users will often need to copy and paste information into a textarea, so you shouldn’t prevent them from doing this.

## Research on this component

If you’ve used this component, get in touch to share your user research findings.
