---
title: Textarea
description: Help users provide detailed information using the textarea component
section: Components
aliases: multi-line text box, multi-line text field
backlog_issue_id: 65
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "components", item: "textarea", example: "default", html: true, nunjucks: true, open: false, size: "m"}) }}

## When to use this component

Use the textarea component when you need to let users enter an amount of text that’s longer than a single line.

## When not to use this component

Don’t use the textarea component if you need to let users enter shorter answers no longer than a single line, such as a phone number or name. In this case, you should use the [text input](../text-input) component.

## How it works

There are 2 ways to use the textarea component. You can use HTML or, if you’re using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: "components", item: "textarea", example: "default", html: true, nunjucks: true, open: true, size: "m"}) }}

### Label textareas

You must label textareas. Placeholder text is not a suitable substitute for a label, as it disappears when users click inside the textarea.

Labels must be aligned above the textarea they refer to. They should be short, direct and written in sentence case. Don’t use colons at the end of labels.

### Use appropriately-sized textareas

Make the height of a textarea proportional to the amount of text you expect users to enter. You can set the height of a textarea by by specifying the `rows` attribute.

{{ example({group: "components", item: "textarea", example: "specifying-rows", html: true, nunjucks: true, open: true, size: "l"}) }}

### Don’t disable copy and paste

Users will often need to copy and paste information into a textarea, so you shouldn’t prevent them from doing this.

### Browser testing

The textarea component has been tested with the following browsers and devices:

- Google Chrome 67 on MacOS
- Google Chrome 67 on Windows
- Firefox 61 on MacOS (including tests with custom colors)
- Firefox 61 on Windows
- Safari 11.1
- Edge 17
- iOS Safari 11
- iOS Chrome 63
- Google Chrome 67 on Android
- Samsung Internet 7.2 on Android
- Internet Explorer 11
- Internet Explorer 10
- Internet Explorer 9
- Internet Explorer 8

### Testing with assistive technologies

The textarea component has been tested with the following assistive technologies:

- JAWS 16 and 18 on Internet Explorer 11
- NVDA 2017 on Firefox 61
- VoiceOver on Safari 11.1
- VoiceOver on iOS Safari 11
- ZoomText 10.1 on Internet Explorer 11
- Dragon NaturallySpeaking 15.3 on Internet Explorer 11

## Research on this component

If you’ve used this component, get in touch to share your user research findings.
