---
title: Error message with a custom visually hidden prefix – Error message
layout: layout-example-form.njk
---

{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{{ govukErrorMessage({
  text: "Rhowch eich enw llawn",
  visuallyHiddenText: "Gwall"
}) }}
