---
title: Fieldset
layout: layout-example-form.njk
---

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{{ govukFieldset({
  legend: {
    text: "Legend as page heading",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) }}
