---
title: Margin scale – Spacing
layout: layout-example.njk
ignore_in_sitemap: true
---

<p class="govuk-body govuk-!-margin-bottom-9">A paragraph with an margin-bottom override (level 9).</p>
<p class="govuk-body govuk-!-margin-bottom-8">A paragraph with an margin-bottom override (level 8).</p>
<p class="govuk-body govuk-!-margin-bottom-7">A paragraph with an margin-bottom override (level 7).</p>
<p class="govuk-body govuk-!-margin-bottom-6">A paragraph with an margin-bottom override (level 6).</p>
<p class="govuk-body govuk-!-margin-bottom-5">A paragraph with an margin-bottom override (level 5).</p>
<p class="govuk-body govuk-!-margin-bottom-4">A paragraph with an margin-bottom override (level 4).</p>
<p class="govuk-body govuk-!-margin-bottom-3">A paragraph with an margin-bottom override (level 3).</p>
<p class="govuk-body govuk-!-margin-bottom-2">A paragraph with an margin-bottom override (level 2).</p>
<p class="govuk-body govuk-!-margin-bottom-1">A paragraph with an margin-bottom override (level 1).</p>
<p class="govuk-body govuk-!-margin-bottom-0">A paragraph with an margin-bottom override (level 0).</p>
