---
title: Warning text
description: Use the warning text component when you need to warn users about something important, such as legal consequences of an action, or lack of action, that they might take
section: Components
aliases:
backlog_issue_id: 71
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: 'components', item: 'warning-text', example: 'default', html: true, nunjucks: true, open: false}) }}

## When to use this component

Use the warning text component when you need to warn users about something important, such as legal consequences of an action, or lack of action, that they might&nbsp;take.

## How it works

There are 2 ways to use the warning text component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: 'components', item: 'warning-text', example: 'default', html: true, nunjucks: true, open: true}) }}

You might need to rewrite the hidden text ('Warning' in the example) to make it appropriate for your context.

### Browser testing

The warning text component has been tested with the following browsers and devices:

- Google Chrome 67 on MacOS
- Google Chrome 67 on Windows
- Firefox 61 on MacOS (including tests with custom colors)
- Firefox 61 on Windows
- Safari 11.1
- Edge 17
- iOS Safari 11
- iOS Chrome 63
- Google Chrome 67 on Android
- Samsung Internet 7.2 on Android
- Internet Explorer 11
- Internet Explorer 10
- Internet Explorer 9
- Internet Explorer 8

### Testing with assistive technologies

The warning text component has been tested with the following assistive technologies:

- JAWS 16 and 18 on Internet Explorer 11
- NVDA 2017 on Firefox 61
- VoiceOver on Safari 11.1
- VoiceOver on iOS Safari 11
- ZoomText 10.1 on Internet Explorer 11
- Dragon NaturallySpeaking 15.3 on Internet Explorer 11

## Research on this component

If you’ve used this component, get in touch to share your user research findings.
