---
title: Character count
description: Tell users how many characters or words they can enter into a textarea
section: Components
aliases: word count
backlog_issue_id: 67
layout: layout-pane.njk
---

{% from "_example.njk" import example %}



{{ example({group: "components", item: "character-count", example: "default", html: true, nunjucks: true, open: false, size: "m" }) }}

## When to use this component



## When not to use this component



## How it works



## Research on this component


