---
layout: layout-example.njk
---

{% from "input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    "text": "National Insurance Number",
     "hintText": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
  },
  id: "national-insurance-number",
  name: "national-insurance-number",
  classes: "govuk-c-input--width-10"
}) }}
