---
title: Colours and fonts
description: Use of colours and fonts to meet WCAG2.1
section: Accessibility
theme: Resources
layout: layout-pane.njk
order: 5
---
Always use the [GOV.UK colour palette](https://design-system.service.gov.uk/styles/colour/). 

You must make sure that the contrast ratio of text and interactive elements in your service meets level AA of the Web Content Accessibility Guidelines (WCAG 2.1).

Always use a sans serif font like Arial and minimum size of 12​.
These are plain fonts which screen readers can easily read. 
Text should be black on a white background.
Don't use coloured fonts unless it is a hyperlink then it will be set to blue and underlined.​