<div class="app-c-footer__navigation">

  	<div class="app-c-footer__navigation--column">
	  	<h2 class="heading-medium">GOV.UK Design System</h2>
	  	<ul>
	  		<li><a href="/design-patterns/patterns/sitemap.html">Site contents</a></li>
	  		<!-- <li><a href="/design-patterns/patterns/contribute.html">How to contribute</a></li> -->
	  		<!-- <li><a href="/design-patterns/patterns/support.html">Support</a></li> -->
	  	</ul>
  	</div>
  	<div class="app-c-footer__navigation--column">
	  	<h2 class="heading-medium">Other design resources</h2>
	  	<ul>
	  		<li><a href="https://www.gov.uk/design-principles">GDS Design Principles</a></li>
	  		<li><a href="https://www.gov.uk/service-manual">GOV.UK Service Manual</a></li>
	  		<li><a href="#">GOV.UK Frontend</a></li>
	  		<li><a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK Prototype kit</a></li>
	  	</ul>
	</div>
  </div>


  <div class="app-c-footer__licence">
    <a class="app-c-footer__licence-logo" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
    <p class="app-c-footer__licence-description">All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
  </div>

  <div class="app-c-footer__copyright">
    <a class="app-c-footer__copyright-logo" href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
  </div>
</div>
