<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GOV.UK Design System</title>
    <%= stylesheet_link_tag :main, media: 'all' %>
    <!--[if lt IE 9]><%= javascript_include_tag "ie.js" %><![endif]-->
  </head>
  <body class="govuk-u-font-smoothing">
    <%= partial 'components/header' %>
    <%= yield %>
  </body>
</html>
