---
layout: layout-pane.njk
title: Prototyping
section: Get started
theme: Setup guides
order: 1
description: This guide explains how to create prototypes using the GOV.UK Design System and GOV.UK Prototype Kit
---

{% from "_example.njk" import example %}

The GOV.UK guide explains how to create prototypes using the GOV.UK Design System and GOV.UK Prototype Kit.


## Before you start

To make prototypes use the link below to navigate to the GOV.UK setup guide.

[GOV.UK Prototyping Setup Guide](https://design-system.service.gov.uk/get-started/prototyping/)
