---
title: Desktop and tablet grid classes – Layout
layout: layout-example.njk
stylesheets:
- ../grid-annotate.css
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half govuk-grid-column-two-thirds-from-desktop">
    <p>govuk-grid-column-one-half<br><br>govuk-grid-column-two-thirds-from-desktop</p>
  </div>
  <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">
    <p>govuk-grid-column-one-half<br><br>govuk-grid-column-one-third-from-desktop</p>
  </div>
</div>
