---
title: Links with no visited state – Typography
layout: layout-example.njk
ignore_in_sitemap: true
---

<a href="#" class="govuk-link govuk-link--no-visited-state">govuk-link govuk-link--no-visited-state</a>
