---
title: Nothing has replaced the service
layout: layout-example.njk
---

<div class="govuk-width-container">

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Service unavailable</h1>
        <p class="govuk-body-l">The submit an employment intermediary report service has closed.</p>
	      <p class="govuk-body">Contact us if you need to speak to someone about the service and your reports.</p>
        <p class="govuk-body govuk-!-margin-bottom-0">Telephone:</p>
        <p class="govuk-body govuk-!-font-weight-bold">0808 157 3900</p>
        <p class="govuk-body govuk-!-margin-bottom-0">Opening times:</p>
        <p class="govuk-body govuk-!-font-weight-bold">Monday to Friday: 8:30am to 4:30pm</p>

      </div>
    </div>
  </div>

</div>
