---
title: Nothing has replaced the service
layout: layout-example-full-page.njk
---

{% extends "example-wrappers/full-page.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
    <p class="govuk-body">
      The submit an employment intermediary report service has closed.
    </p>
    <p class="govuk-body">
      Contact us if you need to speak to someone about the service and your reports.
    </p>
    <p class="govuk-body">Phone:<br>
      <strong class="govuk-!-font-weight-bold">0808 157 3900</strong>
    </p>
    <p class="govuk-body">Opening times:<br>
      <strong class="govuk-!-font-weight-bold">Monday to Friday: 8:30am to 4:30pm</strong>
    </p>
  </div>
</div>
{% endblock %}
