---
title: Labels as page headings – Making labels and legends headings
layout: layout-example.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "govuk-label--l",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "This example shows an <h1> around a <label> with the class of govuk-label--l"
  },
  id: "example",
  name: "example"
}) }}
