---
title: International bank account details – Bank details
layout: layout-example.njk
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "BIC or SWIFT code"
  },
  classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
  hint: {
    text: "Must be between 8 and 11 characters long. You can ask your bank or check your bank statement"
  },
  id: "bic-code",
  name: "bic-code",
  spellcheck: false
}) }}

{{ govukInput({
  label: {
    text: "IBAN"
  },
  classes: "govuk-input--extra-letter-spacing",
  hint: {
    text: "You can ask your bank or check your bank statement"
  },
  id: "iban",
  name: "iban",
  spellcheck: false
}) }}
