---
title: Back link
description: Use the back link component to help users go back to the previous page in a multi-page transaction
section: Components
aliases: return link, back button
backlog_issue_id: 32
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Use the back link component to help users go back to the previous page in a multi-page transaction.

{{ example({group: "components", item: "back-link", example: "default", html: true, nunjucks: true, open: false}) }}

## When to use this component

Always include the back link component on GOV.UK [question pages](../../patterns/question-pages).

You can include a back link on other pages within a multi-page transaction, if it makes sense to do so.

## When not to use this component

Don’t use the back link component together with [breadcrumbs](../breadcrumbs). If necessary, you should do research with your users to learn which they find more helpful in your service.

## How it works

Back links must always go at the top of a page.

Make sure the link takes users to the previous page and that it works even when JavaScript isn’t available.

There are 2 ways to use the back link component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: "components", item: "back-link", example: "default", html: true, nunjucks: true, open: true}) }}

## Research on this component

If you’ve used this component, get in touch to share your user research findings.
