---
layout: layout-example.njk
---

{% from "date-input/macro.njk" import govukDateInput %}

{{ govukDateInput({
  fieldset: {
    legendHtml: '<h1 class="govuk-heading-xl">What is your date of birth?</h1>',
    legendHintText: 'For example, 31 3 1980'
  },
    "errorMessage": {
    "text": "Error message goes here"
  },
  id: 'dob',
  name: 'dob',
  items:[
    {
      name: 'day'
    },
    {
      name: 'month'
    },
    {
      name: 'year'
    }
  ]
  })
}}