---
title: Date input
description: Use the Date input component to help users enter a memorable date.
section: Components
aliases:
layout: layout-components.njk
---

{% from "_example.njk" import example %}

Use the Date input component to help users enter a memorable date.

{{ example({group: 'components', item: 'date-input', example: 'default'}) }}

## When to use this component

Use the Date input component when you’re asking users for a date they’ll already know, or can look up without using a calendar.

## When not to use this component

Don’t use the Date input component if users are unlikely to know the exact date of the event you’re asking about.

Read more about how to [ask users for dates](Insert URL for Dates pattern).

## How it works

The Date input component consists of 3 fields to let users enter a day, month and year.

There are two ways to use the Date input component. You can use HTML or, if you’re using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](Insert URL), you can use the Date input macro.

{{ example({group: 'components', item: 'date-input', example: 'default', html: true, nunjucks: true, open: true}) }}


Don’t automatically tab users between the fields of the Date input because this can be confusing, and may clash with normal keyboard controls.

### Error states

Check that a valid date is entered by the user. Invalid dates should be shown to the user like this:

{{ example({group: 'components', item: 'date-input', example: 'error', html: true, nunjucks: true, open: false}) }}

## Research on this pattern

If you’ve used this pattern, [get in touch](Anchor link to Get in touch panel at bottom of page) to share your user research findings.

More research is needed to determine the extent to which users struggle to enter months as numbers, and whether allowing them to enter months as text is helpful.


