---
title: Date input
description: Use the date input component to help users enter a memorable date
section: Components
aliases:
backlog_issue_id: 42
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Use the date input component to help users enter a memorable date or one they can easily look up.

{{ example({group: "components", item: "date-input", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this component

Use the date input component when you’re asking users for a date they’ll already know, or can look up without using a calendar.

## When not to use this component

Do not use the date input component if users are unlikely to know the exact date of the event you’re asking about.

Read more about how to [ask users for dates](../../patterns/dates/).

## How it works

The date input component consists of 3 fields to let users enter a day, month and year.

The 3 date fields are grouped together in a `<fieldset>` with a `<legend>` that describes them, as shown in the examples on this page. This is usually a question, like ‘What is your date of birth?’.

If you’re asking [one question per page](../../patterns/question-pages/#start-by-asking-one-question-per-page), you can set the contents of the `<legend>` as the page heading. This is good practice as it means that users of screen readers will only hear the contents once.

Read more about [why and how to set legends as headings](../../get-started/labels-legends-headings).

There are 2 ways to use the date input component. You can use HTML or, if you’re using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: "components", item: "date-input", example: "default", html: true, nunjucks: true, open: false, size: "s", id: "default-2"}) }}

Never automatically tab users between the fields of the date input because this can be confusing and may clash with normal keyboard controls.

### Use the autocomplete attribute for a date of birth

Use the `autocomplete` attribute on the date input component when you're asking for a date of birth. This lets browsers autofill the information on a user's behalf if they’ve entered it previously.

To do this, set the `autocomplete` attribute on the 3 fields to `bday-day`, `bday-month` and `bday-year`. See how to do this in the HTML and Nunjucks tabs in the following example. 

{{ example({group: "components", item: "date-input", example: "date-of-birth", html: true, nunjucks: true, open: true, size: "s", id: "default-2"}) }}

If you are working in production you’ll need to do this to meet [WCAG 2.1 Level AA](https://www.w3.org/WAI/WCAG21/Understanding/identify-input-purpose.html).

You will not normally need to use the `autocomplete` attribute in prototypes, as users will not generally be using their own devices.

### Error messages

Error messages should be styled like this:

{{ example({group: "components", item: "date-input", example: "error", html: true, nunjucks: true, open: false, size: "m"}) }}

Make sure errors follow the guidance in [error message](/components/error-message/) and have specific error messages for specific error states.

Check the entire date, not the day, month and year separately.

Avoid assuming what is wrong with the date. For example, if a user enters ‘31 2 2016’, the day may be right and the month may be wrong. An error message that mentions February may be confusing if they meant to enter ‘1’.

#### If nothing is entered

Say ‘Enter [whatever it is]’.<br>
For example, ‘Enter your date of birth’.

#### If an incomplete date is entered and you know what is missing
Say ‘[whatever it is] must include a [whatever is missing]’.<br>
For example, ‘Date of birth must include a month’ or ‘Date of birth must include a day and month’.

#### If an incomplete date is entered and you do not know what is missing
Say ‘Enter [whatever it is] and include a day, month and year’.<br>
For example, ‘Enter your date of birth and include a day, month and year’.

#### If the date entered is not a real one

Say ‘Enter a real [whatever it is]’.<br>
For example, ‘Enter a real date of birth’.

#### If the date is in the future when it needs to be in the past

Say ‘[whatever it is] must be in the past’.<br>
For example, ‘Date of birth must be in the past’.

#### If the date is in the future when it needs to be today or in the past

Say ‘[whatever it is] must be today or in the past’.<br>
For example, ‘Date of birth must be today or in the past’.

#### If the date is in the past when it needs to be in the future

Say ‘[whatever it is] must be in the future’.<br>
For example, ‘The date your course ends must be in the future’.

#### If the date is in the past when it needs to be today or in the future

Say ‘[whatever it is] must be today or in the future’.<br>
For example, ‘The date your course ends must be today or in the future’.

#### If the date must be the same as or after another date

Say ‘[whatever it is] must be the same as or after [date and optional description]’.<br>
For example, ‘The date your course ends must be the same as or after 1 September 2017 when you started the course’.

#### If the date must be after another date

Say ‘[whatever it is] must be after [date and optional description]’.<br>
For example, ‘The day your course ends must be after 1 September 2017’.

#### If the date must be the same as or before another date

Say ‘[whatever it is] must be  the same as or before [date and optional description]’.<br>
For example, ‘The date of Gordon’s last exam must be the same as or before 31 August 2017 when they left school’.

#### If the date must be before another date

Say ‘[whatever it is] must be before [date and optional description]’.<br>
For example, ‘The date of Gordon’s last exam must be the same as or before 31 August 2017’.

#### If the date must be between two dates

Say ‘[whatever it is] must be between [date] and [date and optional description]’.<br>
For example, ‘The date your contract started must be between 1 September 2017 and 30 September  2017 when you were self-employed’.

## Research on this component

If you’ve used this component, get in touch to share your user research findings.

More research is needed to determine the extent to which users struggle to enter months as numbers, and whether allowing them to enter months as text is helpful.
