---
title: Date input
description: Use the date input component to help users enter a memorable date
section: Components
aliases:
backlog_issue_id: 42
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Use the date input component to help users enter a memorable date.

{{ example({group: "components", item: "date-input", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this component

Use the date input component when you’re asking users for a date they’ll already know, or can look up without using a calendar.

## When not to use this component

Don’t use the date input component if users are unlikely to know the exact date of the event you’re asking about.

Read more about how to [ask users for dates](../../patterns/dates/).

## How it works

The date input component consists of 3 fields to let users enter a day, month and year.

There are 2 ways to use the date input component. You can use HTML or, if you’re using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: "components", item: "date-input", example: "default", html: true, nunjucks: true, open: true, size: "s"}) }}

Don’t automatically tab users between the fields of the Date input because this can be confusing and may clash with normal keyboard controls.

### Error states

Check that a valid date is entered by the user. Invalid dates should be reported to the user like this:

{{ example({group: "components", item: "date-input", example: "error", html: true, nunjucks: true, open: false, size: "m"}) }}

### Styling the legend

The examples in this page use a `<legend>` as a page heading. Find out how to configure this and style the `<legend>` to use other heading sizes in the [Fieldset component](../fieldset).

## Research on this component

If you’ve used this component, get in touch to share your user research findings.

More research is needed to determine the extent to which users struggle to enter months as numbers, and whether allowing them to enter months as text is helpful.
