---
title: Start pages
layout: layout-archived.njk
ignore_in_sitemap: true
---

In March 2022, we replaced the 'Start pages' pattern with a new pattern to show teams more ways they can help users [Start using a service](/start-using-a-service/).