---
title: Card details
description: How to ask users for their card details
section: Patterns
theme: Ask users for…
aliases:
backlog_issue_id: 80
layout: layout-pane.njk
---

Ask users for their card details to let them pay for something.

![A form entitled enter card details which asks for a card number, an expiry date, a name on the card and the card security code. There is a payment summary to the right of the form which says that the total payment amount is 20 pounds.](card-payments.png)

## When to use this pattern

Before using this pattern, check if [GOV.UK Pay](https://www.payments.service.gov.uk/) is suitable for your service. 

If you need to build your own payment service, follow this pattern to collect payment card details from your users. 

## How it works

### Allow different formats

Let users enter payment card numbers in whatever format is familiar to them. Allow additional spaces, hyphens and dashes.

### Help users enter valid card information

Show logos for the cards you accept as icons. 

Use issuer identification number (IIN) lookups to validate the card number as the user enters it. Once you’ve been able to identify the user’s card type, leave only the relevant logo highlighted and grey out the others.

<video role="region" aria-label="Card number validation flow example video, this video has no audio." controls muted>
  <source src="card-number.mp4" type="video/mp4">
</video>

When you validate the card number, the card security code information should update to according to the type of card being used. For example, if a user enters an American Express card, the hint text and icon should change to match the front of the card. 

![2 different images of a card security code input, one above the other. The top image shows an input where the security code is the last 3 digits on the back of the card, with hint text and an icon showing that. The bottom image shows an input where the security code is the last 4 digits after the card number on the front, with hint text and an icon showing that.](card-security-code.jpg)

Do not use CVV or other acronyms for the card security code. 

### Show a payment summary

Include a summary of what the is paying for and how much they are paying on the page where they enter their card numbers. 

## Research on this pattern

### Services uisng this pattern

The following services are using this pattern as part of [GOV.UK Pay](https://www.payments.service.gov.uk/).

<ul class="govuk-list">
  <li>
    <span class="govuk-!-font-weight-bold">Office of the Public Guardian</span>   
    <ul class="govuk-list">
  		<li>
    		Lasting Power of Attorney  
  		</li>
	</ul>
  </li>
</ul>


#### Ministry of Justice 
Send money to a prisoner 

#### Border Force 

Registered Traveller: faster entry through the UK border 
Global Entry: apply for faster entry to the USA 
Electronic Visa Waiver

#### Disclosure and Barring Service

Basic Disclosure 
Disclosure Scotland 

#### HM Courts and Tribunals

Probate Fees  
Civil Money Claims
Divorce Fees 

#### Foreign and Commonwealth Office 
Emergency Travel Documents 

#### Ministry of Defence
Defence Academy  

#### Department for Digital, Culture, Media & Sport
Government Art Collection  
Press Accreditation 

#### Department for International Trade
Overseas Market Introduction Service (OMIS) 

#### Nottingham University Hospitals NHS Trust
Private Care   

#### Land Registry
Local Land Charges  

#### Environment Agency
Waste Permitting



