---
title: Prose scope – Typography
layout: layout-example.njk
---

<div class="govuk-prose-scope">
  <h1>H1 heading</h1>

  <p>A paragraph. This includes even more text to give a good representation of a more average length paragraph. That way you can see more than one line wrapping.</p>

  <h2>H2 heading</h2>

  <p>A paragraph. This includes even more text to give a good representation of a more average length paragraph. That way you can see more than one line wrapping.</p>

  <p>Unordered list (ul):</p>
  <ul>
    <li>apples</li>
    <li>oranges</li>
    <li>pears</li>
  </ul>

  <p>Ordered list (ol):</p>

  <ol>
    <li>Register your details.</li>
    <li>Make your application.</li>
    <li>Send your application.</li>
  </ol>
</div>
