---
title: About
---

{% include "_masthead.njk" %}
<div class="govuk-width-container app-site-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l govuk-!-font-weight-bold">Styles</h2>
        <p class="govuk-body">Make your service look like GOV.UK with guides for applying layout, typography, colour and&nbsp;images.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="styles/" class="govuk-link govuk-!-font-weight-bold">Browse styles</a></p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Components</h2>
        <p class="govuk-body">Save time with reusable, accessible components for forms, navigation, panels, tables and&nbsp;more.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="components/" class="govuk-link govuk-!-font-weight-bold">Browse components</a></p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Patterns</h2>
        <p class="govuk-body">Help users complete common tasks like entering names and addresses, filling in forms and creating accounts.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="patterns/" class="govuk-link govuk-!-font-weight-bold">Browse patterns</a></p>
      </div>

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Get started</h2>
        <p class="govuk-body govuk-!-margin-bottom-0">
          Quickly build prototypes using the styles, components and patterns in this design&nbsp;system. Read a guide on <a href="get-started/" class="govuk-link" data-hgetstarted="getstarted">how to get started</a>.
        </p>
      </div>

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 id="get-in-touch" class="govuk-heading-l">Community</h2>
        <p class="govuk-body">
          The GOV.UK Design System is built upon the research and experience of teams across the whole of government. </p>

        <p class="govuk-body">
          Anyone can contribute. To see what people are currently working on,
           <a href="/design-system/community/backlog" class="govuk-link" data-hcontribute="guidelinegh">check the backlog</a>.
        </p>

        <p class="govuk-body govuk-!-margin-bottom-0">
          To propose or develop a style, component or pattern for the GOV.UK Design System find out <a href="/design-system/community/contribute" data-hcontribute="backloggb">how to contribute</a>.
        </p>

      </div>

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 id="get-in-touch" class="govuk-heading-l">Support</h2>
        <p class="govuk-body">
          The GOV.UK Design System is maintained by the Government Digital Service.
          If you’ve got a question, idea or suggestion you can:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
        <li>
          <a href="mailto:govuk-design-system-support@digital.cabinet-office.gov.uk" class="govuk-link" data-hsupport="email">
            email the Design System team
          </a>
        </li>
        <li>
          <a href="https://ukgovernmentdigital.slack.com/messages/govuk-design-system" class="govuk-link" data-hsupport="slack">
            get in touch on Slack</a> (<a class="govuk-link" href="slack://channel?team=T04V6EBTR&amp;id=C6DMEH5R6" data-hsupport="slackapp">open in app</a>)
        </li>
        </ul>
      </div>

    </div>
  </div>
</div>
