---
title: About
---

{% include "_masthead.njk" %}
<div class="govuk-width-container app-site-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l govuk-!-font-weight-bold">Styles</h2>
        <p class="govuk-body">Make your service look like GOV.UK with guides for applying layout, typography, colour and&nbsp;images.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="styles/" class="govuk-link govuk-!-font-weight-bold">Browse styles</a></p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Components</h2>
        <p class="govuk-body">Save time with reusable, accessible components for forms, navigation, panels, tables and&nbsp;more.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="components/" class="govuk-link govuk-!-font-weight-bold">Browse components</a></p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Patterns</h2>
        <p class="govuk-body">Help users complete common tasks like entering names and addresses, filling in forms and creating accounts.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="patterns/" class="govuk-link govuk-!-font-weight-bold">Browse patterns</a></p>
      </div>

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Get started</h2>
        <p class="govuk-body govuk-!-margin-bottom-0">
          Quickly build prototypes using the styles, components and patterns in this design&nbsp;system. Read a guide on <a href="get-started/" class="govuk-link" data-hgetstarted="getstarted">how to get started</a>.
        </p>
      </div>

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 id="get-in-touch" class="govuk-heading-l">Community</h2>
        <p class="govuk-body">
          The GOV.UK Design System is for everyone, with a strong community sitting behind it. It brings together the latest research, design and development from across government to make it sure it’s representative and relevant for its users.</p>

        <p class="govuk-body">
          Find out 
           <a href="/design-system/community/contribute" class="govuk-link" data-hcontribute="guidelinegh">how to contribute</a>, or see what people are currently working on in the <a href="/design-system/community/backlog" class="govuk-link" data-hcontribute="guidelinegh">community backlog</a>
        </p>

        <p class="govuk-body govuk-!-margin-bottom-0">
          You can also learn how the cross-government <a class="govuk-link" href="/design-system/community/working-group" data-hcontribute="backloggb">Design System working group </a>helps to quality assure the components and patterns you’ll find here. 

        </p>

      </div>

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
        <h2 id="get-in-touch" class="govuk-heading-l">Support</h2>
        <p class="govuk-body">
          The GOV.UK Design System is maintained by the Government Digital Service.
          If you’ve got a question, idea or suggestion you can:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
        <li>
          <a href="mailto:govuk-design-system-support@digital.cabinet-office.gov.uk" class="govuk-link" data-hsupport="email">
            email the Design System team
          </a>
        </li>
        <li>
          <a href="https://ukgovernmentdigital.slack.com/messages/govuk-design-system" class="govuk-link" data-hsupport="slack">
            get in touch on Slack</a> (<a class="govuk-link" href="slack://channel?team=T04V6EBTR&amp;id=C6DMEH5R6" data-hsupport="slackapp">open in app</a>)
        </li>
        </ul>
      </div>

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-mb-r4">
        <h2 class="govuk-heading-l">Roadmap</h2>
        <p class="govuk-body">
          See what the Design System team at GDS is planning to work on over the coming year in the 
          <a href="roadmap" class="govuk-link" data-hcontribute="guidelinegh">GOV.UK Design System Roadmap</a>.
        </p>     
      </div>

    </div>
  </div>
</div>
