---
title: Accessible content
description: Creating accessible content
section: Accessibility
theme: Content
layout: layout-pane.njk
order: 6
---

Follow the [writing for Government style guide](https://www.gov.uk/guidance/content-design/writing-for-gov-uk) and the [A to Z Style Guide.](https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style)

[Write clearly using plain English](https://www.gov.uk/guidance/content-design/writing-for-gov-uk#how-people-read). 

You can check the accessibility of your content in many Microsoft Office products including Word, Outlook and PowerPoint using an [inbuilt accessibility checker.](https://support.microsoft.com/en-us/office/improve-accessibility-with-the-accessibility-checker-a16f6de0-2f39-4a2b-8bd8-5ad801426c7f) The checker will highlight any accessibility problems with your document, describe why you should fix them and give you guidance on how to fix them.  

It may not make it 100% accessible to everyone, but it will make sure your message is understood by as many people as possible. You can then copy the content into any format you wish. 

If you do not create accessible content you could be [breaking the law.](/accessibility/legal-requirements/)  

The [Service Standard](https://www.gov.uk/service-manual/service-standard) helps teams to create and run great public services. 

Learn how to [publish accessible documents](https://www.gov.uk/guidance/publishing-accessible-documents) to meet the needs of all users under the accessibility regulations.

Join the [Cross Government Accessibility community](https://www.gov.uk/service-manual/communities/accessibility-community).
