---
title: HMLR content style guide
description: Guidelines for writing content
section: Content
layout: layout-pane.njk
show_page_nav: false
---
The HMLR style guide is a list of content styles and terms that are specific to HMLR. For example, names of caseworking systems, acronyms and what we call common tasks.

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "A"
      },
      content: {
        html: "<p class='govuk-body'><b>Acronyms</b><br>Always write them out in full the first time you use them.</p> <br> <p class='govuk-body'><b>Amongst</b><br>Use among instead to make it plain English.</p>"
      }
    },
    {
      heading: {
        text: "B"
      },
      content: {
        html: "<p class='govuk-body'><b>Business e-services</b><br>Only the first letter should be capitalised</p>"
      }
    },
      {
      heading: {
        text: "C"
      },
      content: {
        html: "<p class='govuk-body'><b>Commonhold</b><br>One word, does not need capitalising except at the beginning of a sentence. A way of owning an individual property that is a part of a bigger property (for example, a flat in a block). It is an alternative to leasehold. Each individual unit is exclusively owned by a unit-holder and the common areas (for example, stairways and corridors) are owned by a commonhold association.</p>"
      }
    },
      {
      heading: {
        text: "D"
      },
      content: {
        html: "<p class='govuk-body'><b>Dataset</b><br>Should be written as one word.</p> <br> <p class='govuk-body'><b>DJP</b><br>Death of a Joint Proprietor</p> "
      }
    },
    {
    heading: {
      text: "E"
    },
    content: {
      html: "<p class='govuk-body'><b>Easements</b><br>Does not need capitalising unless at the beginning of a sentence. An easement is a right that one piece of land has over another piece of land. Common examples are rights of drainage, rights of way and rights of support.</p> <br> <p class='govuk-body'><b>Electronic services</b><br>The e should always be lower case and joined with a hyphen to the service, for example, e-DRS, e-conveyancing, e-services.</p> "
    }
    },
    {
      heading: {
        text: "F"
      },
      content: {
        html: "<p class='govuk-body'><b>Forms</b><br>Lower case for standard forms ‘form AP1’ but a capital for types of restriction ‘Form A’.</p><br> <p class='govuk-body'><strong>Fractions</strong><br>Spell out common fractions for example ‘one-third’, ‘three-quarters’. Use numerals for complex fractions, fractions combined with whole numbers and decimal fractions.</p><br><p class='govuk-body'><b>Freehold</b><br>One word, does not need capitalising except at the beginning of a sentence. Freehold continues for an indefinite time without payment of rent. It can be sold or given away and is the type of ownership that is nearest to owning land absolutely. Most houses are freehold, and most flats are leasehold.</p>"
      }
      },
      {
        heading: {
          text: "H"
        },
        content: {
          html: "<p class='govuk-body'><b>HM Land Registry</b><br>Use singular is and has.</p>"
        }
      },
      {
        heading: {
          text: "L"
        },
        content: {
          html: "<p class='govuk-body'><b>Land Charges</b><br>Should be capitalised.</p><br><p class='govuk-body'><b>Land Register</b><br>Capitalise for the first mention and then use ‘the register’. This is an overall register containing the individual title registers.</p> <br><p class='govuk-body'><b>Leasehold</b><br>One word, does not need capitalising except at the beginning of a sentence. A leasehold is granted by a landlord to a tenant. A leasehold lasts for a fixed time which will be set out in the lease. The tenant often has to pay rent to the landlord and this is also set out in the lease. Most flats are leasehold.</p><br><p class='govuk-body'><b>Links</b><br>Should be at the beginning or end of a sentence to make it easier to scan. Mid-sentence links can cause challenges for autistic users. Link text should be unique.</p>"
        }
      },
      {
        heading: {
          text: "N"
        },
        content: {
          html: "<p class='govuk-body'><b>Notice</b><br>Can be an information notice or an objection notice, does not need capitalising unless at the beginning of a sentence.</p>"
        }
      },
      {
        heading: {
          text: "O"
        },
        content: {
          html: "<p class='govuk-body'><b>Obtain</b><br>Try to use a plain English word where possible, for example, ‘get’.</p> <br> <p class='govuk-body'><b>Official copy</b><br>Does not need capitalising unless at the beginning of a sentence.</p>"
        }
      },
      {
        heading: {
          text: "P"
        },
        content: {
          html: "<p class='govuk-body'><b>Practice Guidance</b><br>Initial capitals. Advice and information for caseworkers.</p> <br> <p class='govuk-body'><b>PPI</b><br>Price Paid Index.</p> <br> <p class='govuk-body'><b>The portal</b><br>Should not be capitalised except at the beginning of a sentence.</p> <br>"
        }
      },
      {
        heading: {
          text: "R"
        },
        content: {
          html: "<p class='govuk-body'><b>Register</b><br>Does not need capitalising unless at the beginning of a sentence. Use ‘in the register’ instead of ‘on the register’.</p> <br> <p class='govuk-body'><b>Restriction</b><br>Does not need capitalising unless at the beginning of a sentence. There are several types, RX1 to enter a restriction, RX2 to modify a restriction, RX3 to remove a restriction and RX4 to cancel a restriction.</p> <br> <p class='govuk-body'><b>Restrictive covenants</b><br>Capital at the start of a sentence. Sentence case otherwise. A restrictive covenant is a contract between two landowners. One landowner promises the other landowner not to carry out particular acts on their own land.</p> <br>"
        }
      },
      {
        heading: {
          text: "S"
        },
        content: {
          html: "<p class='govuk-body'><b>SDLT</b><br>Stands for Stamp Duty Land Tax.</p> <br> <p class='govuk-body'><b>SEV</b><br>Stands for severance and is an application to change a joint tenancy.</p> <br>"
        }
      },
        {
        heading: {
          text: "T"
        },
        content: {
          html: "<p class='govuk-body'><b>Tenure</b><br>The various ways that you can own a property. Typically it can be freehold, leasehold, or leasehold with a share of the freehold.</p> <br> <p class='govuk-body'><b>Title register</b><br>A title register is for an individual property. Does not need capitalising unless at the beginning of a sentence.</p> <br> <p class='govuk-body'><b>Title plan</b><br>A plan for an individual property. Does not need capitalising unless at the beginning of a sentence.</p> <br>"
        }
      },
      {
        heading: {
          text: "U"
        },
        content: {
          html: "<p class='govuk-body'><b>UN</b><br>Stands for Unilateral Notice, there several types, UN1 is an application to enter, UN2 is an application to remove, UN3 is to register as a beneficiary for an existing notice, UN4 is a cancellation.</p>"
        }
      }
    ]
  }) 
}}
