@import "example-init";

$app-annotate-block-label-color: #ffffff;

.app-annotate-block {
  position: relative;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(3);
  padding-top: 3em;
  outline: 2px dashed govuk-colour("black", $variant: "tint-25");
}

.app-annotate-block__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25em 0.5em;
  border-right: 2px dashed govuk-colour("black", $variant: "tint-25");
  border-bottom: 2px dashed govuk-colour("black", $variant: "tint-25");
  background: $app-annotate-block-label-color;
  font-family: $govuk-font-family;
}

.govuk-main-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}
