@import "example-init";

.app-annotate-block {
  position: relative;
  outline: 2px dashed govuk-colour("grey-1");
  padding: govuk-spacing(3);
  padding-top: 3em;
  margin-bottom: govuk-spacing(6);
}

.app-annotate-block__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: .25em .5em;
  background: white;
  border-bottom: 2px dashed govuk-colour("grey-1");
  border-right: 2px dashed govuk-colour("grey-1");
  font-family: $govuk-font-family;
}

.govuk-main-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}
