---
title: Block areas – Page template
layout: false
ignoreInSitemap: true
stylesheets:
- styles/page-template/block-areas/block-areas-annotate.css
---

{% extends "govuk/template.njk" %}

{% block pageTitle %}{{ title }} – Example - GOV.UK Design System{% endblock %}

{% block head -%}
  {# Since we’re not extending the Design System layout we need to add this manually #}
  <meta name="robots" content="noindex, nofollow">
  <link href="{{ getFingerprint('stylesheets/main.css') }}" rel="stylesheet" media="all">
  {#- Include any additional stylesheets specified in the example frontmatter #}
  {% for stylesheet in stylesheets %}
    <link href="{{ getFingerprint(stylesheet) }}" rel="stylesheet" media="all">
  {%- endfor %}
{%- endblock %}

{% block bodyStart -%}
  <div class="app-annotate-block">
    <span class="app-annotate-block__label">block: bodyStart</span>
    {{ super() }}
  </div>
{%- endblock %}

{% block skipLink -%}
  <div class="app-annotate-block">
    <span class="app-annotate-block__label">block: skipLink</span>
    {{ super() }}
  </div>
{%- endblock %}

{% block header -%}
  <div class="app-annotate-block">
    <span class="app-annotate-block__label">block: header</span>
    {{ super() }}
  </div>
{%- endblock %}

{% block main -%}
  <div class="app-annotate-block">
    <span class="app-annotate-block__label">block: main</span>
    <p class="govuk-body">
    </p>
    {{ super() }}
  </div>
{%- endblock %}

{% block beforeContent -%}
  <div class="app-annotate-block">
    <span class="app-annotate-block__label">block: beforeContent</span>
    {{ super() }}
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
      href: "/",
      text: "Back"
    }) }}
  </div>
{%- endblock %}

{% block content -%}
  <div class="app-annotate-block">
    <span class="app-annotate-block__label">block: content</span>
    {{ super() }}
    <h1 class="govuk-heading-xl">GOV.UK page template</h1>
  </div>
{%- endblock %}

{% block footer -%}
  <div class="app-annotate-block">
    <span class="app-annotate-block__label">block: footer</span>
    {{ super() }}
  </div>
{%- endblock %}

{% block bodyEnd -%}
  <div class="app-annotate-block">
    <span class="app-annotate-block__label">block: bodyEnd</span>
    {{ super() }}
    {# Since we’re not extending the Design System layout we need to add this manually #}
    <script src="{{ getFingerprint('javascripts/govuk-frontend.js') }}"></script>
    <script src="{{ getFingerprint('javascripts/vendor/iframeResizer.contentWindow.min.js') }}"></script>
  </div>
{%- endblock %}
