---
title: Teacher Reference Number
description: Help users enter a Teacher Reference Number
section: Patterns
theme: Ask users for…
aliases: TRN
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "patterns", item: "teacher-reference-number", example: "default", html: true, nunjucks: true, open: false}) }}

## When to use this pattern

Use this pattern when you need to ask teachers for their teacher reference
number.

## How it works

DfE record every teacher by issuing them an individual reference number when
they qualify. Schools often use this for employment purposes and for recording
information with the Teacher Pension Service.

Teacher reference numbers contain 7 digits and may also contain a hyphen, a
forward slash, or the letters 'RP'.

When asking for teacher reference number:

- give advice about where the user can find their teacher reference number
- allow the user to enter their reference in whichever format is familiar to them, for example with or without spaces, a slash, a hyphen, or the letters 'RP'
- do not use the initialism 'TRN', which is commonly used within DfE

### Error messages

Error messages should be styled like this:

{{ example({group: "patterns", item: "teacher-reference-number", example: "error-empty-field", html: true, nunjucks: true, open: false, size: "s"}) }}

Make sure errors follow the guidance in the GDS
[error message component](https://design-system.service.gov.uk/components/error-message/)
and have specific error messages for specific error states.

#### If the input is empty

Say ‘Enter your teacher reference number’.

#### If the input contains more or less than 7 digits

Say ‘Teacher reference number must contain seven digits’.

### Avoid input masking

Avoid [input masking](https://css-tricks.com/input-masking/) because it makes it harder for users to:

- type a number in their preferred way
- transcribe a number from another place and check that they’ve got it right

### Avoid asking where possible

Decide if your service can avoid asking this question by using other data that
the user has easier access to.

While some teachers memorise the number, most teachers will not have this to
hand. Users will often check their teaching qualification certificate, ask their
school, or check a recent job application.

### Teachers often get this wrong

Your service should cater for mistakes entering this information as it is common
for teachers to mistype the number.

We have also seen users get the number completely wrong, referencing a different
number from some other form of certification.

### It's possible to have more than one

Some teachers also have multiple reference numbers. This can occur when they
join the teacher pension service and a temporary reference number is generated.

Some teachers who re-qualify also end up with multiple reference numbers. While
the Database of Qualified Teachers should accommodate for this and assign new
qualifications to existing records, we have observed instances where mistakes
have been made.
