---
title: Spaced lists – Typography
layout: layout-example.njk
---

<p class="govuk-body">You’re extremely vulnerable if you:</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>have had a solid organ transplant</li>
  <li>have any cancer and are getting chemotherapy</li>
  <li>have lung cancer and are getting radical radiotherapy</li>
  <li>have cancer of the blood or bone marrow, at any stage of treatment - for example, leukaemia, lymphoma or myeloma</li>
  <li>have any cancer for which you’re getting immunotherapy or other continuing antibody treatments</li>
  <li>have any cancer for which you’re getting a targeted treatment which can affect the immune system - for example, protein kinase inhibitors or PARP inhibitors</li>
  <li>have had bone marrow or stem cell transplants in the last 6 months, or are still taking immunosuppression drugs</li>
  <li>have a severe respiratory condition - including cystic fibrosis, severe asthma or severe COPD (Chronic Obstructive Pulmonary Disease)</li>
  <li>have a rare disease or inborn error of metabolism that significantly increases your risk of infection - for example SCID or homozygous sickle cell</li>
  <li>are getting an immunosuppression therapy that’s sufficient to significantly increase your risk of infection</li>
  <li>are pregnant, and have a significant congenital or acquired heart disease</li>
</ul>
