---
title: Overriding input width – Spacing
layout: layout-example.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Full width"
  },
  classes: "govuk-!-width-full",
  id: "full",
  name: "full"
}) }}

{{ govukInput({
  label: {
    text: "Three-quarters width"
  },
  classes: "govuk-!-width-three-quarters",
  id: "three-quarters",
  name: "threeQuarters"
}) }}

{{ govukInput({
  label: {
    text: "Two-thirds width"
  },
  classes: "govuk-!-width-two-thirds",
  id: "two-thirds",
  name: "twoThirds"
}) }}

{{ govukInput({
  label: {
    text: "One-half width"
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}

{{ govukInput({
  label: {
    text: "One-third width"
  },
  classes: "govuk-!-width-one-third",
  id: "one-third",
  name: "oneThird"
}) }}

{{ govukInput({
  label: {
    text: "One-quarter width"
  },
  classes: "govuk-!-width-one-quarter",
  id: "one-quarter",
  name: "oneQuarter"
}) }}
