---
layout: layout-pane.njk
title: Previous design system
section: Get started
theme: Other resources
order: 6
description: The predecessor to this design system
---

The [previous iteration of the HM Land Registry Design System](https://hmlr-design-system.herokuapp.com/) was a collection of Jinja and React components specific to Land Registry. The [old design system](https://github.com/LandRegistry/hmlr-design-system) is still available on GitHub.
