---
layout: layout-pane.njk
title: Previous design system
section: Get started
theme: Other resources
order: 5
description: The predecessor to this design system
---

The previous iteration of the HM Land Registry Design System was a collection of Jinja and React components specific to Land Registry and is still available on GitHub.

See the [legacy HM Land Registry design system on GitHub](https://github.com/LandRegistry/hmlr-design-system-legacy).
