---
layout: layout-example.njk
---

{% from "back-link/macro.njk" import govukBackLink %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "button/macro.njk" import govukButton %}

<div class="govuk-width-container">

{{ govukBackLink({
  "text": "Back"
}) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/url/of/next/page" method="post">

          {{ govukDateInput({
            id: 'dob',
            name: 'dob',
            fieldset: {
              legend: {
                text: 'What is your date of birth?',
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--xl'
              }
            },
            hint: {
              text: 'For example, 31 3 1980'
            },
            items:[
              {
                name: 'day'
              },
              {
                name: 'month'
              },
              {
                name: 'year'
              }
            ]
            })
          }}

          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>
    </div>
  </div>
</div>
