---
title: Question pages
description: Follow this pattern whenever you need to ask users questions within your service.
section: Patterns
theme: Pages
aliases:
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: 'patterns', item: 'question-pages', example: 'default', html: true, nunjucks: true, open: false}) }}

## When to use this pattern

Follow this pattern whenever you need to ask users questions within your service.

## How it works

Question pages must include a:

- [back link](link to back link component/variant)
- [page heading](link to Headings section on Typography page)
- [continue button](link to button component)

### Back link

Always include a back link on question pages.

Some users don’t trust browser ‘back’ buttons when they’re entering data. Add a back link to reassure users that it’s possible to go back and change previous answers.

The back link should be at the top of the page because users are most likely to want to go back when they first land on a page.

Make sure the back link takes users to the previous page and that it still works when JavaScript isn’t available.

### Page headings

Page headings can be statements or questions.

If you’re only asking for one piece of information on a page, make the question the page heading.

For example ‘What is your home postcode?’

{{ example({group: 'patterns', item: 'question-pages', example: 'postcode', html: true, nunjucks: true, open: false}) }}

If you need to ask for multiple related things on a page, use a statement as the heading.

This example uses ‘Passport details’ to describe the related questions:

{{ example({group: 'patterns', item: 'question-pages', example: 'passport', html: true, nunjucks: true, open: false}) }}

Don’t duplicate the same page heading across multiple pages.

The page heading should relate specifically to the information being asked for on the current page, not any higher-level section the page is part of.

If you need to show the high-level section, you can use the 'secondary-heading' style. For example, ‘About you’:

{{ example({group: 'patterns', item: 'question-pages', example: 'section-headings', html: true, nunjucks: true, open: false}) }}

### Continue button

Make sure your ‘Continue’ button is:

- labelled ‘Continue’, not ‘Next’
- aligned to the left so users don’t miss it

### Asking users questions

When asking users questions, you should:

- explain why they’ll be asked questions
- order questions to give most people the quickest result
- only ask questions that they will be able to answer
- avoid asking for information that you can find in government data
- allow users to answer ‘I don’t know’ or ‘I’m not sure’ - if they are valid responses
- translate supporting documents into clear questions on the page - don’t force users to go away and read background information before they can give an answer

## Research on this pattern

If you’ve used this pattern, [get in touch](Anchor link to Get in touch panel at bottom of page) to share your user research findings.
