---
layout: layout-example.njk
---

{% from "back-link/macro.njk" import govukBackLink %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

<div class="govuk-width-container">

{{ govukBackLink({
  "text": "Back"
}) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="/url/of/next/page" method="post">

          {{ govukInput({
            "label": {
              "text": "What is your home postcode?",
              isPageHeading: true,
              "classes": "govuk-label--xl"
            },
            "id": "postcode",
            "name": "postcode"
          }) }}

          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>
    </div>
  </div>
</div>
