---
title: Images
description: Only use images if there’s a real user need
section: Styles
backlog_issue_id: 70
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Avoid unnecessary decoration. Only use images if there’s a real user need.

## Aspect ratio

### Photography

The aspect ratio for photographs should be 3:2.

{{ example({group: "styles", item: "images", example: "default", html: false, open: false, size: "l"}) }}


### Illustrations or representative imagery

If your image represents something physical, such as a letter, document or credit card you should use the aspect ratio of that item.

{{ example({group: "styles", item: "images", example: "representative", html: false, open: false, size: "l"}) }}


## Alternative text

Alternative text, or alt text, is read out by screen readers or displayed if an image does not load or if images have been switched off.

All images, except decorative images, must have alt text that:

- tells people what information the image provides
- describes the content and function of the image
- is specific, meaningful and concise

Use normal punctuation, like commas and full stops, so the text is easy to read and understand.

Do not:

- include the name of the photographer or person who created the image
- start with ‘Image of’, ‘Graphic of’ or ‘Photo of’
- repeat information from the page
- include extra information not in the image

{{ example({group: "styles", item: "images", example: "alt-text", html: true, open: true, size: "l"}) }}

Some images do not need descriptions. Use `alt=""` if the image is:

- decorative and does not include important content
- an icon that has a text label that the alt text would repeat
- used in a link and the image is not needed to understand the link

Use the [Web Accessibility initiative alt decision tree](https://www.w3.org/WAI/tutorials/images/decision-tree/) to work out if the image needs alt text.

Avoid images that contain text, especially PNGs and JPGs because the text becomes unreadable when the user zooms in. If the image does contain text, use SVG because it remains readable when the user zooms in. The alt text should be the same as the text displayed in the image.
