---
title: Images
description: Only use images if there’s a real user need
section: Styles
backlog_issue_id: 70
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Avoid unnecessary decoration. Only use images if there’s a real user need. 

Make sure any information contained in an image can be understood by someone who cannot see it.

## Photography

Use photography when it’s important to show a lifelike representation of something. For example, when showing a photo of a document a user has uploaded.

{{ example({group: "styles", item: "images", example: "upload-photo", html: false, open: false, size: "l"}) }}

## Illustrations or representative imagery

Use illustrations to show a simplified image of something complex. For example:
* to demonstrate physical interactions, like scanning a passport
* to help users find something on a document, like a reference number
* to explain a complex process

{{ example({group: "styles", item: "images", example: "representative", html: false, open: false, size: "l"}) }}

Don't use illustrations for purely decorative purposes.

Avoid depicting people in illustrations. If you need to show people, don't only show one kind of person. For example, depicting people of a particular age, gender identity or ethnicity using your service can reinforce negative stereotypes or cause offence.

### Creating illustrations

Use as few visual elements as possible to get the message across.

Start by using the [GOV.UK colour palette](/styles/colour/#colour-palette). If you need more colours, try to use tints of the colour palette.

Use flat blocks of colour. Avoid using shadows or gradients, except when necessary to communicate layering or depth.

If creating multiple illustrations for a service, use consistent colours, line widths and border radiuses across them all.

Use the SVG format so that illustrations appear clearly at different sizes.

## Aspect ratio

The aspect ratio for most images should be 3:2.

{{ example({group: "styles", item: "images", example: "default", html: false, open: false, size: "l"}) }}

If your image represents something physical, such as a letter, document or credit card you should use the aspect ratio of that item.

{{ example({group: "styles", item: "images", example: "aspect-ratio-custom", html: false, open: false, size: "l"}) }}


## Alternative text

This guidance is for government teams that build online services. [To learn about publishing alternative text in GOV.UK mainstream content, go to GOV.UK's 'Images' guidance.](https://www.gov.uk/guidance/content-design/images)

Alternative text, or alt text, is read out by screen readers or displayed if an image does not load or if images have been switched off.

All images, except decorative images, must have alt text that:

- tells people what information the image provides
- describes the content and function of the image
- is specific, meaningful and concise

Use normal punctuation, like commas and full stops, so the text is easy to read and understand.

Do not:

- include the name of the photographer or person who created the image
- start with ‘Image of’, ‘Graphic of’ or ‘Photo of’
- repeat information from the page
- include extra information not in the image

{{ example({group: "styles", item: "images", example: "alt-text", html: true, open: true, size: "l"}) }}

Some images do not need descriptions. Use `alt=""` if the image is:

- decorative and does not include important content
- an icon that has a text label that the alt text would repeat
- used in a link and the image is not needed to understand the link

Use the [Web Accessibility initiative alt decision tree](https://www.w3.org/WAI/tutorials/images/decision-tree/) to work out if the image needs alt text.

Avoid images that contain text, especially PNGs and JPGs because the text becomes unreadable when the user zooms in. If the image does contain text, use SVG because it remains readable when the user zooms in. The alt text should be the same as the text displayed in the image.
