---
layout: layout-example.njk
stylesheets:
- images.css
---

<div class="govuk-o-grid">
  <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
    <h1 class="govuk-heading-xl">Do you have a V11 reminder letter printed in your name?</h1>
    <img src="v11.gif" alt="An illustration of the V11 reminder letter">
  </div>
</div>
