<div class="govuk-o-width-container">

<a href="#" class="govuk-c-back-link">Back</a>


  <div class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <form action="/url/of/next/page" method="post">
        
        <div class="govuk-c-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="govuk-c-error-summary__title" id="error-summary-title">
        There is a problem
        </h2>
          <div class="govuk-c-error-summary__body">
            <ul class="govuk-list govuk-c-error-summary__list">
              <li>
              <a href="#national-insurance-nummber">What is your National Insurance number?</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="govuk-o-form-group govuk-o-form-group--error"><label class="govuk-c-label" for="national-insurance-number">
        National Insurance number
        <span class="govuk-c-label__hint">
        It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
        </span>
        <span class="govuk-c-error-message">
        Enter your National Insurance number
        </span>
        </label>
        <input class="govuk-c-input govuk-c-input--error" id="national-insurance-number" name="national-insurance-number" type="text">
        </div>
        <input value="Continue" type="submit" class="govuk-c-button">
        </div>
    </div>
  </div>
</div>
