---
layout: layout-example.njk
---

{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "input/macro.njk" import govukInput %}

<div class="govuk-o-width-container">
  <div class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <form action="/url/of/next/page" method="post">

          {{ govukErrorSummary({
            "titleText": "There is a problem",
            "errorList": [
              {
                "text": "Enter your National Insurance number",
                "href": "#national-insurance-number"
              }
            ]
          }) }}
          
          {{ govukInput({
            "label": {
              "html": '<h1 class="govuk-heading-xl govuk-!-mb-r4">What is your home postcode?</h1>'
            },
              "hintHtml": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
            },
            "id": "national-insurance-number",
            "name": "national-insurance-number",
            "errorMessage": {
              "text": "Enter your National Insurance number"
            }
          }) }}
    
        </form>
        
      </div>
    </div>
  </div>
  
</div>
