---
title: Text input
description: Help users enter information with the text input component
section: Components
aliases: text box, text field, input field, text entry box
backlog_issue_id: 51
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "components", item: "text-input", frontendComponentName: "input", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this component

Use the text input component when you need to let users enter text that’s no longer than a single line, such as their name or phone number.

## When not to use this component

Don’t use the text input component if you need to let users enter longer answers that might span multiple lines. In this case, you should use the [textarea](../textarea) component.

## How it works

There are 2 ways to use the text input component. You can use HTML or, if you’re using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: "components", item: "text-input", frontendComponentName: "input", example: "default", html: true, nunjucks: true, open: true, size: "s"}) }}

### Label text inputs

All text inputs must have visible labels; placeholder text is not an acceptable replacement for a label as it vanishes when users click on the text input.

Labels should be aligned above the text input they refer to. They should be short, direct and written in sentence case. Don’t use colons at the end of labels.

If you’re asking just [one question per page](../../patterns/question-pages/#start-by-asking-one-question-per-page) as recommended, you can set the contents of the `<label>` as the page heading. This is good practice as it means that users of screen readers will only hear the contents once.

Read more about [why and how to set legends as headings](../../get-started/labels-legends-headings).

### Use appropriately-sized text inputs

Help users understand what they should enter by making text inputs the right size for the content they’re intended for.

By default, the width of text inputs is fluid and will fit the full width of the container they are placed into.

If you want to make the input smaller, you can either use a fixed width input, or use the width override classes to create a smaller, fluid width input.

#### Fixed width inputs

Use fixed width inputs for content that has a specific, known length. Postcode inputs should be postcode-sized, telephone number inputs should be telephone number-sized.

On fixed width inputs, the width will remain fixed on all screens unless it is wider than the viewport, in which case it will shrink to fit.

{{ example({group: "components", item: "text-input", frontendComponentName: "input", example: "input-fixed-width", html: true, nunjucks: true, open: false, size: "l"}) }}

#### Fluid width inputs

Use the width override classes to reduce the width of an input in relation to its parent container, for example, to two-thirds.

Fluid width inputs will resize with the viewport.

{{ example({group: "components", item: "text-input", frontendComponentName: "input", example: "input-fluid-width", html: true, nunjucks: true, open: false, size: "xl"}) }}

### Using hint text

Use hint for help that’s relevant to the majority of users - like how their information will be used, or where to find it.

{{ example({group: "components", item: "text-input", frontendComponentName: "input", example: "input-hint-text", html: true, nunjucks: true, open: false, size: "s"}) }}

### Don’t disable copy and paste

Users often need to copy and paste information into a text input, so you shouldn’t prevent them from doing this.


### Error messages

Make sure errors follow the guidance in [error message](/components/error-message/) and have specific error messages for specific error states.

Only include an example in the error message if there is no example on the screen.


#### If the input is empty

Say "Enter [whatever it is]".<br>
For example, "Enter your first name".

#### If the input is too long

Say "[whatever it is] must be [number] characters or less".<br>
For example, "Address line 1 must be 35 characters or less".

#### If the input is too short

Say "[whatever it is] must be [number] characters or more".<br>
For example, "Full name must be 2 characters or more".

#### If the input is too long or too short

Say "[whatever it is] must be between [number] and [number] characters".<br>
For example, "Last name must be between 2 and 35 characters".

#### If the input uses characters that are not allowed and you know what the characters are


Say "[whatever it is] must not include [characters]".<br>
For example, "Town or city must not include è and £".

#### If the input uses characters that are not allowed and you do not know what the characters are 

Say "[whatever it is] must only include [list of allowed characters]".<br>
For example, "Full name must only include letters a to z, hyphens, spaces and apostrophes".

#### If the input is not a number

Say "[whatever it is] must be a number [optional example]".<br>
For example, "Hours worked a week must be a number, like 30".

#### If the input is not a whole number

Say "[whatever it is] must be a whole number [optional example]".<br>
For example, "Hours worked a week must be a whole number, like 30".

#### If the number is too low

Say "[whatever it is] must be [lowest] or more".<br>
For example, "Hours worked a week must be 16 or more".

#### If the number is too high

Say "[whatever it is] must be [highest] or less".<br>
For example, "Hours worked a week must be 99 or less".

#### If the input must be between 2 numbers 

Say "[whatever it is] must be between [lowest] and [highest]".<br>
For example, "Hours worked a week must be between 16 and 99".

#### If the input is not an amount of money and the field allows decimals

Say "[whatever it is] must be an amount of money [optional example that includes decimals and non-decimals]".<br>
For example, "How much you earn an hour must be an amount of money, like 7.50 or 8".

#### If the input is not an amount of money and the field needs decimals

Say "[whatever it is] must be an amount of money [optional example that includes decimals]".<br>
For example, "How much you earn an hour must be an amount of money, like 7.50 or 8.00".

#### If the input is an amount of money that needs decimals

Say "[whatever it is] must include pence, like 123.45 or 156.00".<br>
For example, "How much you earn a week must include pence, like 123,,56 or 156.00".

#### If the input is an amount of money that must not have decimals

Say "[whatever it is] must not include pence, like 123 or 156".<br>
For example, "How much you earn a week must not include pence, like 123 or 156".




## Research on this component

If you’ve used this component, get in touch to share your user research findings.
