---
layout: layout-pane.njk
title: Get started
description:
show_subnav: true
---

If you’ve installed the Prototype Kit before, or you're comfortable using Git
and a terminal, you might want to use the [quick start guide](/get-started/quick-start-guide).

The Prototype Kit works on Mac, Windows and Linux.

It usually takes about 15 minutes to install. Steps vary slightly depending on
which operating system you're using.

 - [Mac installation guide](/get-started/install-mac)
 - [Windows installation guide](/get-started/install-windows)

## Support

The Prototype Kit is maintained and supported by the GOV.UK Design System team
at the Government Digital Service (GDS).

If you need help installing it, you can ask in the [#prototype-kit channel on
cross-government Slack](https://ukgovernmentdigital.slack.com/app_redirect?channel=prototype-kit) or email [govuk-design-system-support@digital.cabinet-office.gov.uk](mailto:govuk-design-system-support@digital.cabinet-office.gov.uk).
