---
layout: layout-pane.njk
title: Why we work to the government design standard
description: Why we work to the government standard for design
---

We follow government solutions and advice, and attempt to create our own work to the same standard because it:

- is better for the people and organisations that need our services
- speeds up the delivery of new services and service improvement
- saves money


## It is better for the people and organisations that need our services

People interact with many government departments in their private lives and to complete their goals with regard Land and Property, so they get:

- a consistent, high quality experience that is trusted
- inclusive and accessible services
- services that will work on their devices and across all channels


## Speeds up the delivery of services, and saves money

Creating, testing, maintaining and improving bespoke patterns, components and guidance takes a lot of work over the lifetime of a service. Government solutions and guidance are:

- proven solutions and guidance to common problems
- proven to work with assistive technologies and on peoples devices and browsers
- maintained, improved, tested and bug fixed by the entire government community


## Feedback

Is there something missing from this section that you would find useful? [Get in touch](/get-in-touch/) and let us know. Your feedback will help us to improve it.
