---
title: National insurance number input with errors
layout: layout-example.njk
ignore_in_sitemap: true
---

{% from "input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "National Insurance number"
  },
  hint: {
    text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
  },
  classes: "govuk-input--width-10",
  id: "national-insurance-number",
  name: "national-insurance-number",
  value: "Not a National Insurance number",
  errorMessage: {
    text: "Enter a National Insurance number in the right format"
  }
}) }}
