---
title: Illustrations or representative – Images
layout: layout-example.njk
stylesheets:
- ../images.css
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m">Where to find your code</h1>
    <img src="printed-photo-code.jpeg" alt="The photo code is written next to your printed photos">
  </div>
</div>
