---
title: Illustrations or representative – Images
layout: layout-example.njk
stylesheets:
- ../images.css
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Do you have a V11 reminder letter printed in your name?</h1>
    <img src="v11.gif" alt="Illustration of a V11 reminder letter, showing the light blue letterhead area at the top, a white circle in the top-right corner and a few paragraphs of text">
  </div>
</div>
