---
title: Task list
description: Description goes here
section: Components
aliases:
backlog_issue_id: 99999
layout: layout-pane.njk
status: Experimental
statusMessage: This component is currently experimental because <a class="govuk-link" href="#next-steps">more research</a> is needed to validate it.
---

{% from "_example.njk" import example %}

Use this component to summarise the status of a list of related tasks the user needs to do, as part of a [task list page](/patterns/task-list-pages/).

{{ example({ group: "components", item: "task-list", example: "default", id: "default-1", html: true, nunjucks: true, open: false, loading: "eager" }) }}

## When to use this component

TODO
## When not to use this component

TODO

## How it works

TODO

## Research and testing

TODO

### Next steps

TODO
