---
title: Linking from the error summary to an answer that uses multiple fields
layout: layout-example.njk
ignore_in_sitemap: true
---

{% from "date-input/macro.njk" import govukDateInput %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{{ govukErrorSummary({
  "titleText": "There is a problem",
  "errorList": [
    {
      "text": "Passport issue date must include a year",
      "href": "#passport-issued-year"
    }
  ]
}) }}

{{ govukDateInput({
  fieldset: {
    legend: {
      isPageHeading: true,
      text: 'When was your passport issued?',
      classes: 'govuk-fieldset__legend--xl'
    }
  },
  id: 'passport-issued',
  name: 'passport-issued',
  errorMessage: {
    text: "Passport issue date must include a year"
  },
  items: [
    {
      name: "day",
      classes: "govuk-input--width-2",
      value: 5
    },
    {
      name: "month",
      classes: "govuk-input--width-2",
      value: 12
    },
    {
      name: "year",
      classes: "govuk-input--width-4 govuk-input--error"
    }
  ]
  })
}}
