---
title: Full page example – Error summary
layout: layout-example-full-page.njk
---

{% extends "example-wrappers/full-page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Passport issue date must include a year",
              href: "#passport-issued-year"
            }
          ]
        }) }}

        {{ govukDateInput({
          fieldset: {
            legend: {
              isPageHeading: true,
              text: "When was your passport issued?",
              classes: "govuk-fieldset__legend--l"
            }
          },
          id: "passport-issued",
          namePrefix: "passport-issued",
          errorMessage: {
            text: "Passport issue date must include a year"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: 5
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: 12
            },
            {
              name: "year",
              classes: "govuk-input--width-4 govuk-input--error"
            }
          ]
          })
        }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
