---
layout: layout-example.njk
---

{% from "date-input/macro.njk" import govukDateInput %}

{{ govukDateInput({
  id: 'dob',
  name: 'dob',
  fieldset: {
    legend: {
      text: 'What is your date of birth?',
      isPageHeading: true,
      classes: 'govuk-fieldset__legend--xl'
    }
  },
  hint: {
    text: 'For example, 31 3 1980'
  },
  errorMessage: {
    text: "Error message goes here"
  },
  items: [
    {
      name: 'day'
    },
    {
      name: 'month'
    },
    {
      name: 'year'
    }
  ]
  })
}}
