---
title: Using the Design System in production
description:
section: Get started
layout: layout-pane.njk
order: 1
---

If you want to use the Design System in production, you’ll need to include GOV.UK Frontend in your project.

Read guidance on how to install [GOV.UK Frontend on GitHub](https://github.com/alphagov/govuk-frontend/blob/master/README.md). 