---
layout: layout-example.njk
title: Request a new security code (first time) – Confirm a phone number
---

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}


{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}

<h1 class="govuk-heading-l">Request a new security code</h1>

<p class="govuk-body">Text messages sometimes take a few minutes to arrive. If you do not receive the text message, you can request a new one.</p>

{% set mobileNumberHtml %}
  {{ govukInput({
    label: {
      text: "Mobile number"
    },
    value: "07700 900000",
    id: "mobile-number",
    name: "mobile-number",
    type: "tel",
    autocomplete: "tel",
    classes: "govuk-input--width-20"
  }) }}
{% endset %}

{{ govukDetails({
  summaryText: "Change where the text message is sent",
  html: mobileNumberHtml
}) }}


{{ govukButton({text: "Request a new code"}) }}
