---
layout: layout-pane.njk
title: Styles
---

The core styles that will make your service look and feel like GOV.UK.

Providing you are using the [GOV.UK Prototype Kit](https://govuk-prototype-kit-beta.herokuapp.com) or have [GOV.UK Frontend](https://github.com/alphagov/govuk-frontend) included in your build, the code supplied in the design system should not need any additional styling.

Should you need to apply styles manually you should follow existing GOV.UK conventions. For example, don’t assign new meanings to colours, don’t change the styling of buttons or change the thickness of borders on form inputs.
