---
title: Styles
description: Make the look and feel correct
layout: layout-pane.njk
show_subnav: true
---

We apply different styles to HM Land Registry services and products depending on what domain they sit in and what kind of service it is.

## Land Registry design styles

If your service:
- is internal, such as a caseworking system or admin service

You should:
- speak to caseworking designers, as they are developing advice and reusable elements

---

## GOV.UK design styles

If your service:
- is public-facing and transactional, and
- sits on a gov.uk or service.gov.uk domain

You should:
- use [GOV.UK Design System styles](https://design-system.service.gov.uk/styles/)
- speak to our service designers who work on GOV.UK services for any HM Land Registry adaptations


