---
layout: layout-pane.njk
title: Styles
---

Make your service look and feel like GOV.UK.

If you are using the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com) or have [GOV.UK Frontend](https://github.com/alphagov/govuk-frontend) included in your build, the coded examples in the Design System won’t need any additional styling.

If you need to apply styles manually, you should still follow existing GOV.UK conventions. For example, don’t assign new meanings to colours, don’t change the style of buttons or adjust the thickness of borders on form inputs.
