---
layout: layout-example.njk
stylesheets:
- address-wrapper.css
---

{% from "input/macro.njk" import govukInput %}
{% from "fieldset/macro.njk" import govukFieldset %}

{% call govukFieldset({
  "legendHtml": '<h1 class="govuk-heading-xl govuk-!-mb-r4">What is your address?</h1>'
}) %}

  {{ govukInput({
    "label": {
      "html": 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
    },
    "id": "address-line-1",
    "name": "address-line-1"
  }) }}

  {{ govukInput({
    "label": {
      "html": '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
    },
    "id": "address-line-2",
    "name": "address-line-2"
  }) }}

  {{ govukInput({
    "label": {
      "html": 'Town or city'
    },
    "classes": 'govuk-!-width-two-thirds',
    "id": "address-town",
    "name": "address-town"
  }) }}

  {{ govukInput({
    "label": {
      "html": 'County'
    },
    "classes": 'govuk-!-width-two-thirds',
    "id": "address-county",
    "name": "address-county"
  }) }}

  {{ govukInput({
    "label": {
      "html": 'Postcode'
    },
    "classes": 'govuk-input--width-10',
    "id": "address-postcode",
    "name": "address-postcode"
  }) }}

{% endcall %}
