---
title: Illustrations or representative – Images
layout: layout-example.njk
stylesheets:
- ../images.css
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">What is your biometric residence card or permit card number?</h1>
    <img src="card.png" alt="The biometric residence card or permit card number is on the front of the card in the top right corner">
  </div>
</div>
