---
layout: layout-pane.njk
title: Set up coded prototyping environment
section: Get started
theme: Design resources
order: 4
description: This guide explains how to set up the software needed to create prototypes and wireframes.
---
Designing and building prototypes is an important role for a designer. 
While static prototypes can be built in Figma and Sketch, the HM Land Registry Prototype Kit can be used to build fully interactive prototypes. 

### Tools to create interactive prototypes

- [GDS Prototype Kit](https://govuk-prototype-kit.herokuapp.com/docs/install)
- [Atom code editor](https://atom.io)
- [Visual Studio Code](https://code.visualstudio.com/download)