---
layout: layout-example.njk
---


<fieldset class="govuk-c-fieldset">
  <legend class="govuk-c-fieldset__legend">
    <h1 class="govuk-heading-xl">What is your address?</h1>
  </legend>

  <label class="govuk-c-label" for="input-1">
    Building and street
  </label>
  <input class="govuk-c-input" id="input-1" name="test-name" type="text">
  <input class="govuk-c-input" id="input-2" name="test-name" type="text">

  <label class="govuk-c-label" for="input-3">
    Town or city
  </label>
  <input class="govuk-c-input" id="input-3" name="test-name" type="text">

  <label class="govuk-c-label" for="input-4">
    County
  </label>
  <input class="govuk-c-input" id="input-4" name="test-name" type="text">

  <label class="govuk-c-label" for="input-5">
    Postcode
  </label>
  <input class="govuk-c-input" id="input-5" name="test-name" type="text">
</fieldset>


