// Known issues:
//
// When the GOV.UK logotype is focussed in Firefox, the outline is drawn based
// on a different box to the background, which leads to 'gaps' on the top and
// bottom between the outline and the background.
//
// This seems to only happen when the link is displayed 'inline-block', but
// removing this affects the positioning of the underline and causes other
// issues with the display of the focus style in IE8-11.

@include exports("header") {

  .app-c-header {
    padding: $govuk-spacing-scale-2 $govuk-spacing-scale-3;
    border-bottom: 10px solid $govuk-blue;
    color: $govuk-white;
    background: $govuk-black;
  }

  .app-c-header--logotype {
    margin-right: $govuk-spacing-scale-1;
  }

  .app-c-header--logotype--crown {
    margin-right: 1px;
    fill: currentColor;
    vertical-align: middle;
  }

  .app-c-header--logotype--crown--fallback-image {
    width: 36px;
    height: 32px;
    border: 0;
    vertical-align: middle;
  }

  .app-c-header--title {
    @include govuk-core-24;
    @include font-smoothing;
  }

  .app-c-header--link {
    // Font size needs to be set on the link so that the box sizing is correct
    // in Firefox 
    @include _core-font-generator(
      $font-size: 30px,
      $font-size-640: 30px,
      $font-size-print: 30px,
      $line-height: 30px,
      $line-height-640: 30px,
      $font-weight: 700
    );
    @include font-smoothing;

    display: inline-block;

    &:link,
    &:visited {
      color: $govuk-white;
      text-decoration: none;
    }

    &:hover,
    &:active {
      margin-bottom: -1px;
      border-bottom: 1px solid $govuk-white;
    }

    &:focus {
      color: $govuk-black;
    }
  }

  @include mq($media-type: print) {
    .app-c-header {
      border-bottom-width: 0;
      color: $govuk-black;
      background: transparent;
    }

    // Hide the inverted crown when printing in browsers that don't support SVG.
    .app-c-header--logotype--crown--fallback-image {
      display: none;
    }

    .app-c-header--link {
      &:link,
      &:visited {
        color: $govuk-black;
      }

      // Do not append link href to GOV.UK link when printing (e.g. '(/)')
      &:after {
        display: none;
      }
    }
  }

  // Begin adjustments for font baseline offset
  // These should be removed when the font is updated with the correct baseline
  .app-c-header--logotype--crown,
  .app-c-header--logotype--crown--fallback-image {
    position: relative;
    top: -4px;
  }

  .app-c-header {
    $offset: 3px;
    padding-top: $govuk-spacing-scale-2 + $offset;
    padding-bottom: $govuk-spacing-scale-2 - $offset;
  }
  // End adjustments
}
