---
layout: layout-example.njk
---

<div class="govuk-width-container">

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Service unavailable</h1>
        <p class="govuk-body-l">Universal Credit has replaced tax credits.</p>
  	    <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/contact-the-tax-credit-office">Contact the Tax Credit Helpline</a> if you need to speak to someone about your tax credits.</p>
  	    <p class="govuk-body">You can:</p>
  	    <ul class="govuk-list govuk-list--bullet">
  		    <li><a class="govuk-link" href="https://www.gov.uk/universal-credit">find out more about Universal Credit</a></li>
  		    <li><a class="govuk-link" href="https://www.gov.uk/apply-universal-credit">apply for Universal Credit</a></li>
  		    <li><a class="govuk-link" href="https://www.gov.uk/sign-in-universal-credit">sign in to your Universal Credit account</a></li>
  	    </ul>

      </div>
    </div>
  </div>

</div>
