---
title: Service has offline support but no specific page that includes numbers and opening times
layout: layout-example.njk
---

<div class="govuk-width-container">

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try again later.</p>
      <p class="govuk-body">We have not saved your answers. When the service is available, you will have to start again.</p>
      <p class="govuk-body">Contact the Tax Credit Helpline if you have any questions.</p>
      <p class="govuk-body govuk-!-margin-bottom-0">Telephone:</p>
      <p class="govuk-body govuk-!-w-bold">0808 157 3900</p>
      <p class="govuk-body govuk-!-margin-bottom-0">Textphone:</p>
      <p class="govuk-body govuk-!-w-bold">0808 157 3909</p>
      <p class="govuk-body govuk-!-margin-bottom-0">Outside UK:</p>
      <p class="govuk-body govuk-!-w-bold">+44 0808 157 0192</p>
      <p class="govuk-body govuk-!-margin-bottom-0">Opening times:</p>
      <p class="govuk-body">Monday to Friday: 8am to 8pm</p>
      <p class="govuk-body">Closed Easter Sunday, Christmas Day, Boxing Day and New Year's Day.</p>

      </div>
    </div>
  </div>

</div>
