---
title: Styling labels – Making labels and legends headings
layout: layout-example-form.njk
---


{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "govuk-label--m",
    classes: "govuk-label--m"
  },
  hint: {
    text: "This example shows a <label> with the class of govuk-label--m"
  },
  id: "example",
  name: "example"
}) }}

{{ govukInput({
  label: {
    text: "govuk-label--s",
    classes: "govuk-label--s"
  },
  hint: {
    text: "This example shows a <label> with the class of govuk-label--s"
  },
  id: "example-2",
  name: "example2"
}) }}
