---
title: Checkboxes
layout: layout-example-hero.njk
---

<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="multi-select-1" name="multi-select" type="checkbox" value="multi-select" checked>
  <label class="govuk-label govuk-checkboxes__label" for="multi-select-1">
    Multi select
  </label>
</div>

<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="multi-select-2" name="multi-select" type="checkbox" value="multi-select">
  <label class="govuk-label govuk-checkboxes__label" for="multi-select-2">
    Multi select
  </label>
</div>
