---
title: Writing
description: If your service is on the service.gov.uk subdomain you must use the GDS Transport font
section: Content
layout: layout-pane.njk
show_page_nav: false
---

#### Plain language makes content easier to read, understand and use.

The [plain English campaign](http://www.plainenglish.co.uk/the-a-z-of-alternative-words.html) has hundreds of alternative, plain English words.

The [US Government plain language site](https://www.plainlanguage.gov/guidelines/words/use-simple-words-phrases/) has lots of useful plain English alternatives, just watch out for those US spellings though!
