---
title: Select
description: Help users select an item from a dropdown list.
section: Components
aliases:
layout: layout-components.njk
---


[Live example]

## When to use this component

The Select component should only be used as a last resort in citizen-facing services because research shows that some users find selects very difficult to use.

## How it works

The Select component allows users to choose an option from a long list. Before using the Select component, try asking users questions which will allow you to present them with fewer options.

Asking questions means you’re less likely to need to use the Select component, and can consider using a different solution, such as [Radios](Insert link).

If you’re unable to shorten the list, consider using the [Autocomplete](Insert URL) component.

There are two ways to use the Select component. You can use HTML or, if you’re using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](Insert URL),  you can use the Select macro.

[Live example with codeblock]

## Research on this component

Watch a video about how some [users struggle with selects](https://www.youtube.com/watch?v=CUkMCQR4TpY).


