---
title: Select
description: Help users select an item from a dropdown list
section: Components
aliases:
backlog_issue_id: 60
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: 'components', item: 'select', example: 'default', html: true, nunjucks: true, open: false}) }}

## When to use this component

The select component should only be used as a last resort in public-facing services because research shows that some users find selects very difficult to use.

## How it works

The select component allows users to choose an option from a long list. Before using the select component, try asking users questions which will allow you to present them with fewer options.

Asking questions means you’re less likely to need to use the select component, and can consider using a different solution, such as [radios](../radios/).

There are 2 ways to use the select component. You can use HTML or, if you’re using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com),  you can use the Nunjucks macro.

{{ example({group: 'components', item: 'select', example: 'default', html: true, nunjucks: true, open: true}) }}

### Browser testing

The select component has been tested with the following browsers and devices:

- Google Chrome 67 on MacOS
- Google Chrome 67 on Windows
- Firefox 61 on MacOS (including tests with custom colors)
- Firefox 61 on Windows
- Safari 11.1
- Edge 17
- iOS Safari 11
- iOS Chrome 63
- Google Chrome 67 on Android
- Samsung Internet 7.2 on Android
- Internet Explorer 11
- Internet Explorer 10
- Internet Explorer 9
- Internet Explorer 8

### Testing with assistive technologies

The select component has been tested with the following assistive technologies:

- JAWS 16 and 18 on Internet Explorer 11
- NVDA 2017 on Firefox 61
- VoiceOver on Safari 11.1
- VoiceOver on iOS Safari 11
- ZoomText 10.1 on Internet Explorer 11
- Dragon NaturallySpeaking 15.3 on Internet Explorer 11

## Research on this component

Watch a video about how some [users struggle with selects](https://www.youtube.com/watch?v=CUkMCQR4TpY).
