---
layout: layout-pane.njk
title: Backlog
---

The backlog contains patterns and components that have been proposed, or people
are working on, but are not yet ready for publishing in the Design System.

You can [suggest a new component or pattern](https://github.com/alphagov/govuk-design-system-backlog/issues/new)
on GitHub.

 - [Proposed items](/backlog/proposed/)
 - [Agreed items](/backlog/agreed/)
