---
title: Something has replaced the service – Service unavailable pages
layout: layout-example-full-page.njk
---

{% extends "example-wrappers/full-page.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
    <p class="govuk-body">Universal Credit has replaced tax credits.</p>
    <p class="govuk-body"><a class="govuk-link" href="#">
      Contact the Tax Credits Helpline</a> if you need to speak to someone about your tax credits.
    </p>
    <p class="govuk-body">You can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="#">find out more about Universal Credit</a></li>
      <li><a class="govuk-link" href="#">apply for Universal Credit</a></li>
      <li><a class="govuk-link" href="#">sign in to your Universal Credit account</a></li>
    </ul>
  </div>
</div>
{% endblock %}
