---
title: File upload
description: Help users select and upload a file
section: Components
aliases:
backlog_issue_id: 49
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Help users select and upload a file.

{{ example({group: "components", item: "file-upload", example: "default", html: true, nunjucks: true, open: false}) }}

## When to use this component

You should only ask users to upload something if it’s critical to the delivery of your&nbsp;service.

## How it works

There are 2 ways to use the file upload component. You can use HTML or, if you’re using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: "components", item: "file-upload", example: "default", html: true, nunjucks: true, open: true}) }}

## Research on this component

Read a blog post about [design tips for helping users upload things](https://designnotes.blog.gov.uk/2017/02/14/some-design-tips-for-uploading-things/).
