---
title: Input field with autocomplete attribute
layout: layout-example.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Postcode"
  },
  classes: "govuk-input--width-10",
  id: "postcode",
  name: "postcode",
  autocomplete: "postal-code"
}) }}
