---
title: Default – Page template
layout: false
---
{% extends "govuk/template.njk" %}

{% block head %}
  <meta name="robots" content="noindex, nofollow">
  <link href="{{ getFingerprint('stylesheets/main.css') }}" rel="stylesheet" media="all">
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getFingerprint('javascripts/govuk-frontend.js') }}"></script>
  <script type="module" src="{{ getFingerprint('javascripts/vendor/iframeResizer.contentWindow.min.js') }}"></script>
{% endblock %}
