---
title: Default – Page template
layout: false
---
{% extends "template.njk" %}

{% block head %}
  <meta name="robots" content="noindex, nofollow">
  <!--[if !IE 8]><!-->
    <link href="{{ getFingerprint('stylesheets/main.css') }}" rel="stylesheet" media="all" />
  <!--<![endif]-->
  <!--[if lt IE 9]>
    <link href="{{ getFingerprint('stylesheets/main-ie8.css') }}" rel="stylesheet" media="all" />
    <script src="{{ getFingerprint('javascripts/head-ie8.js') }}"></script>
  <![endif]-->
  <script src="/javascripts/vendor/modernizr.js"></script>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block bodyEnd %}
  <script src="/javascripts/vendor/iframeResizer.contentWindow.js"></script>
  <script src="{{ getFingerprint('javascripts/govuk-frontend.js') }}"></script>
{% endblock %}
