---
title: Phase banner
layout: layout-example.njk
---

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  text: "This is a new service. We're still working on ways to improve it."
}) }}
