---
title: Text input without a heading – Text input
layout: layout-example-form.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "What is the name of the event?"
  },
  id: "event-name",
  name: "eventName"
}) }}
