---
title: Input field with errors
layout: layout-example.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Event name"
  },
  id: "event-name",
  name: "event-name",
  hint: {
    text: "The name you’ll use on promotional material."
  },
  errorMessage: {
    text: "Enter an event name"
  }
}) }}
