---
title: Header
section: Components
backlog_issue_id: 97
layout: layout-pane.njk
status: Draft
---

{% from "_example.njk" import example %}

{{ example({group: 'components', item: 'header', example: 'default', html: true, nunjucks: true, open: false}) }}

### Header with navigation

{{ example({group: 'components', item: 'header', example: 'with-navigation', html: true, nunjucks: true, open: false}) }}
