---
title: Header
section: Components
backlog_issue_id: 97
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

The GOV.UK header helps users know that they are on GOV.UK and which service they are using.

{{ example({group: 'components', item: 'header', example: 'default', html: true, nunjucks: true, open: false}) }}

## When to use this component

You should only use this component if your service is going to be hosted on one of these domains: 

- gov.uk/myservice
- myservice.service.gov.uk
- myblog.blog.gov.uk

If your service is being used on one of those domains then you must use the GOV.UK header at the top of every page.

## How it works

### Default header

Use the default header if your service has 5 pages or less.

{{ example({group: 'components', item: 'header', example: 'default', html: true, nunjucks: true, open: false}) }}

### Header with service name

Use the header with a service name if your service is more than 5 pages long - this can help users understand where they are.

{{ example({group: 'components', item: 'header', example: 'with-service-name', html: true, nunjucks: true, open: false}) }}

### Header with service name and navigation

Use the header with navigation if you need to include basic navigation, contact or account management links.

{{ example({group: 'components', item: 'header', example: 'with-service-name-and-navigation', html: true, nunjucks: true, open: false}) }}

## Research on this component

If you’ve used this component, get in touch to share your user research findings.

