---
layout: layout-example.njk
---

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  "tag": {
    "text": "beta"
  },
  "html": 'This is a new service – your <a href="#">feedback</a> will help us to improve it.'
}) }}
