---
title: Phase banner
description: Use the Phase banner component to show users your service is still being worked on.
section: Components
aliases:
layout: layout-pane.njk
---


Use the Phase banner component to show users your service is still being worked on.

[Live example of alpha or beta phase banner]

## When to use this component

You must use the Phase banner component if your service is still being developed and is hosted on the service.gov.uk subdomain.
Use an alpha banner when your service is in alpha, and a beta banner if your service is in private or public beta.

## How it works
Your banner must be directly under the black GOV.UK header and colour bar.
There are two ways to use the Phase banner component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](Insert prototype kit URL), you can use the Phase banner macro.

[Example & codeblock for alpha banner]

[Example & codeblock for beta banner]

### Add a feedback link

Use a ‘feedback’ link to collect on-page feedback about your service. This can open an email or take the user to a dedicated page or form. Whatever option you use, make sure that users don’t lose their place in the service and can return to the page they were on.

## Research on this component

If you’ve used this component, [get in touch](Anchor link to Get in touch panel at bottom of page) to share your user research findings.
