---
title: Footer with links to meta information – Footer
layout: layout-example.njk
---

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "#",
        text: "Item 1"
      },
      {
        href: "#",
        text: "Item 2"
      },
      {
        href: "#",
        text: "Item 3"
      }
    ]
  }
}) }}
