---
title: Footer with links to meta information
layout: layout-example.njk
ignore_in_sitemap: true
---

{% from 'footer/macro.njk' import govukFooter %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "#1",
        text: "Item 1"
      },
      {
        href: "#2",
        text: "Item 2"
      },
      {
        href: "#3",
        text: "Item 3"
      }
    ]
  }
}) }}
