---
title: Roadmap
description: This roadmap shows what we’re working on and planning to do.
section: Community
layout: layout-pane.njk
order: 9
---

This roadmap shows what we’re working on and planning to do.

Some things on the roadmap might change — the purpose is to tell you what’s coming up and help service teams prepare and plan their own work.

See our [Github team board](https://github.com/orgs/alphagov/projects/4) for more details on our plans and day-to-day activities.

Last updated 27 June 2022.

## Recently shipped

We recently:

- released [GOV.UK Frontend v4.0.0](https://github.com/alphagov/govuk-frontend/releases/tag/v4.0.0), includes the revised 'Accordion' component, fixes to headers and footers and a number of breaking changes
- improved how [users can find out what we are working on](https://github.com/alphagov/govuk-design-system/issues/1410)
- released [GOV.UK Frontend v4.0.1](https://github.com/alphagov/govuk-frontend/releases/tag/v4.0.1)
- updated the [Accessible autocomplete](https://github.com/alphagov/accessible-autocomplete/releases/tag/v2.0.4) component and clarified [future plan](https://github.com/alphagov/accessible-autocomplete/issues/532)
- made changes to the [Start page](https://github.com/alphagov/design-system-team-internal/issues/552) pattern
- released [GOV.UK Frontend v4.1.0](https://github.com/alphagov/govuk-frontend/releases/tag/v4.1.0) with improvements to the screen reader experience for the character count component
- published the [Confirm a phone number](https://design-system.service.gov.uk/patterns/confirm-a-phone-number/) pattern
- released [GOV.UK Frontend v4.2.0](https://github.com/alphagov/govuk-frontend/releases/tag/v4.2.0) with the new pagination component, and improvements to the checkboxes, radios and select components
- published the [Pagination](https://design-system.service.gov.uk/components/pagination) component 
- completed our investigation into potential changes to [browser support](https://github.com/alphagov/govuk-frontend/discussions/2607)

## Working on now

We're working to:

- host community co-design work to [turn task-list into a component](/patterns/task-list-pages/)
- host community co-design work to make maps better
- release the [Hide this page](https://github.com/alphagov/govuk-design-system-backlog/issues/213) component
- improve how [JavaScript works in GOV.UK Frontend](https://github.com/alphagov/govuk-frontend/issues/1389)
- iterate on alt text guidance for the images style page
- allow users to localise hardcoded strings in component JavaScript

## Coming up next

We're getting ready to:

- implement our [proposal](https://github.com/alphagov/govuk-frontend/discussions/2607) for reducing browser support
- release the [Summary Card](https://github.com/alphagov/govuk-design-system-backlog/issues/210) variant
- make it easier to find information about contributing and the community
- improve how contributions are prioritised
- investigate where technical documentation belongs on the website

## Future plans

We plan to:

- investigate Sass module system
- make sure the Design System meets WCAG 2.2
- investigate removing compatibility mode
