---
title: Roadmap
description: This roadmap shows what we’re working on and planning to do.
section: Community
layout: layout-pane.njk
order: 9
---

This roadmap shows what we’re working on and planning to do.

Some things on the roadmap might change — the purpose is to tell you what’s coming up and help service teams prepare and plan their own work.

See our [Github team board](https://github.com/orgs/alphagov/projects/4) for more details on our plans and day-to-day activities.

Last updated 28 February 2022.

## Recently shipped

We recently:

- released [GOV.UK Frontend v3.13.1](https://github.com/alphagov/govuk-frontend/releases/tag/v3.13.1)
- published [accessibility acceptance criteria for contributions](https://github.com/alphagov/govuk-frontend/blob/main/docs/contributing/test-components-using-accessibility-acceptance-criteria.md)
- completed a mini discovery on how different teams are prototyping across government
- released [GOV.UK Frontend v.3.14.0](https://github.com/alphagov/govuk-frontend/releases/tag/v3.14.0)
- revised the accordion design contributed by GOV.UK to address an accessibility issue
- released [GOV.UK Frontend Version 4.0.0](https://github.com/alphagov/govuk-frontend/releases/tag/v4.0.0), includes the revised 'Accordion' component, fixes to headers and footers and a number of breaking changes
- improve how [users can find out what we are working on](https://github.com/alphagov/govuk-design-system/issues/1410)
- released [GOV.UK Frontend v.4.0.1](https://github.com/alphagov/govuk-frontend/releases/tag/v4.0.1)
- updated the [Accessible autocomplete](https://github.com/alphagov/accessible-autocomplete/releases/tag/v2.0.4) component and clarified [future plan](https://github.com/alphagov/accessible-autocomplete/issues/532)

## Working on now

We're working to:
- host community co-design work to [turn task-list into a component](/patterns/task-list-pages/)
- host community co-design work to make maps better
- release the [Hide this page](https://github.com/alphagov/govuk-design-system-backlog/issues/213) component
- release the help users to [prove who they are with a text message](https://github.com/alphagov/govuk-design-system-backlog/issues/239) pattern
- review changes to [Start page](https://github.com/alphagov/design-system-team-internal/issues/552) pattern
- investigate potential changes to browser support
- improve how [JavaScript works in GOV.UK Frontend](https://github.com/alphagov/govuk-frontend/issues/1389)
- investigate improvements to the screen reader experience for the character count component
- iterate on alt text guidance for the images style page

## Coming up next

We're getting ready to:
- review changes to the [Addresses](https://github.com/alphagov/govuk-design-system-backlog/issues/31) pattern
- release the [Pagination](https://github.com/alphagov/govuk-design-system-backlog/issues/77) component
- make it easier to find information about contributing and the community
- improve how contributions are prioritised
- ensure the Design System meets WCAG 2.2

## Future plans

We plan to:
- investigate Sass module system (mid 2022)
- investigate removing compatibility mode (mid 2022)
