---
title: Notification banner
description:
section: Components
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "components", item: "notification-banner", example: "default", html: true, nunjucks: true, size: "s"}) }}

## When to use this component



## When not to use this component


## How it works
