---
title: Spacing
description: The Design System uses a responsive spacing scale which adapts based on screen size
section: Styles
aliases:
backlog_issue_id:
layout: layout-pane.njk
links: true
---

{% from "_example.njk" import example %}

## The responsive spacing scale

The Design System uses a responsive spacing scale which adapts based on screen size. For example, if you apply spacing unit 9 to a margin, it will be 60px on large screens and 40px on small screens.

<table class="govuk-table app-table--constrained">
  <caption class="govuk-table__caption small govuk-visually-hidden">GOV.UK Frontend spacing scale</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Spacing unit</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Large screens</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Small screens</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">60px</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">40px</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">8</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">50px</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">30px</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">7</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">40px</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">25px</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">6</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">30px</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">20px</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">5</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">25px</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">15px</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">4</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">20px</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">15px</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">3</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">15px</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">15px</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">2</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">10px</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">10px</td>
    </tr>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">5px</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">5px</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">0</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
  </tbody>
</table>

### Spacing override classes

Occasionally, you might need to make minor adjustments like adding or removing spacing to elements of your design. You can use the responsive spacing override classes for this.


### Using the override classes

The spacing override classes are structured to allow you to apply any size of the scale, using margin or padding in any direction.

For example, `govuk-!-margin-9` will set a margin of 60px on large screens and 40px on small screens.

To add padding use `-padding` instead of `-margin`.

If you want to add the margin or padding in a particular direction, add `left` for left, `right` for right, `top` for top, or `bottom` for bottom. For example, `-margin-top` will set margin-top, `-padding-right` will set padding-right.
If you don’t specify a direction, the margin or padding will be applied to all sides of the element.

The last part of the class represents the value you want to apply. For example, in `govuk-!-margin-9`, the `-9` represents 9 on the spacing scale.

### Examples

{{ example({group: "styles", item: "spacing", example: "spacing-scale-padding", html: true, open: false, size: "l"}) }}

{{ example({group: "styles", item: "spacing", example: "spacing-scale-margin", html: true, open: false, size: "xl"}) }}

## Spacing on custom components

If you’re building your own components and want to reference the spacing scale directly in your SCSS file you can use the spacing scale through a mixin or a function.

### Using the static spacing function

If you want to use static values that won’t change based on breakpoints you can reference the static spacing scale function like this:

`padding-top: govuk-spacing(6)`


### Using the responsive spacing mixin

If you want to use the responsive spacing scale you can reference the mixin.

For example, use `@include govuk-responsive-margin(6, "bottom");` for 30px margin-bottom on large screens and 20px on small screens.

Use `@include govuk-responsive-padding(6);` for 30px padding on all sides on large screens and 20px on small screens.

## Width override classes

If you need to constrain the width of an element independently of the [grid system](/styles/layout/#grid-system), you can use width override classes.

As with the spacing override classes the width override classes start with `govuk-!-`. The second part of the class name signifies the width on larger screen sizes. For example, `govuk-!-width-one-half`  will apply a width of 50% and `govuk-!-width-two-thirds`will apply a width of 66.66%.

{{ example({group: "styles", item: "spacing", example: "input-width", html: true, open: true, size: "xl"}) }}
