---
layout: layout-example.njk
---

<p class="govuk-body govuk-!-mb-r9">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-mb-r8">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-mb-r7">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-mb-r6">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-mb-r5">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-mb-r4">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-mb-r3">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-mb-r2">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-mb-r1">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-mb-r0">A paragraph with an overridden margin-bottom.</p>
