---
title: What more can you do
description: What more can you do
section: Accessibility
theme: Resources
layout: layout-pane.njk
order: 6
---
The [Service Standard](https://www.gov.uk/service-manual/service-standard) helps teams to create and run great public services. 

Learn how to [publish accessible documents](https://www.gov.uk/guidance/publishing-accessible-documents) to meet the needs of all users under the accessibility regulations.

Always make your [links](https://www.gov.uk/guidance/content-design/links) descriptive so people using screen readers will know where the link will take them. Never leave the full link visible or use the words 'click' or 'click here': Adding links to content, making them accessible and GOV.UK's external linking policy.  

Not everyone reading your document will be able to see an image or screenshot so you must always add 'alternative text' or 'alt text'. This means people using screen readers can read or hear a description of the image. If the image is purely decorative then you can mark it as 'decorative only'. But if this is the case, you might want to think about whether you need to include the image at all. [Images, Describing images, Graphs and charts, Diagrams, Infographics, Image copyright standard](https://www.gov.uk/guidance/content-design/images).  

You can usually add 'alt text' by using your right-hand mouse function on an image, or when you run an accessibility check you'll be guided to add any missing 'alt text'. 

Always use the GOV.UK colour palette: 
[Colour](https://design-system.service.gov.uk/styles/colour/): You must make sure that the contrast ratio of text and interactive elements in your service meets level AA of the Web Content Accessibility Guidelines (WCAG 2.1). 

Use the [table component](https://design-system.service.gov.uk/components/table/) to make information easier to compare and scan for users: Tables: Keep tables simple and use the column header function. Do not split or merge cells. These 2 simple steps make it easier for people to navigate them using screen readers. 

PDFs: Avoid using PDFs as it is very difficult to make PDFs accessible. They are hard to open and use on mobile devices and not compatible with screen magnifiers. It would be better to stick to the source document, Word for example, instead of converting it to PDF: [Why GOV.UK content should be published in HTML and not PDF[(https://gds.blog.gov.uk/2018/07/16/why-gov-uk-content-should-be-published-in-html-and-not-pdf/)]

Videos or recordings: before you can publish a recording on Stream or SharePoint, you must make sure it is accessible. This means providing an accurate transcript.

Although Microsoft creates an automatic [transcript](https://support.microsoft.com/en-gb/office/view-live-transcription-in-a-teams-meeting-dc1a8f23-2e20-4684-885e-2152e06a4a8b) and subtitles it will always have errors. You must edit the transcript so that it makes sense to someone who is using it to understand what is being said on screen. 

Do not underestimate how long this will take. An hour long meeting transcript will take one person at least 6 hours to edit correctly. You may want to consider whether you really need to record a meeting. 

Download the transcript and check it for any mistakes and correct them. If you are publishing on Stream you can upload the correct transcript to create the revised subtitles. You must also publish a clean version of the transcript. To do this you have to run it through the [Microsoft Stream transcript VTT file cleaner](https://amsglob0cdnstream13.azureedge.net/vttcleaner/CleanVTT.html)then copy and paste into a Word document. 

You must make sure your service works with assistive technologies: [Testing with assistive technologies](https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies)  

Join the [Cross Government Accessibility community](https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies)

Flesch reading scale: This is a quick way to check how readable your content is. If you use Word to write your content you can then run the Flesch reading scale to rate readability. You are aiming for a score of between 70 to 80: 

80 to 90 - the document is easy to read

70 to 80 - it is fairly easy to read

60 to 70 - it is easily read by 13 to 15-year-old students

50 to 60 - it is fairly difficult to read

30 to 50 - difficult to read

0 to 30 - very difficult to read

If your score is lower than 70, then take a look at your sentence length and word length. The shorter the sentences and words, the easier it will be read.

To set this up in Word (see below for Macbook), Open Word, go to File then Options. Select Proofing then make sure 'check grammar with spelling' and 'show readability statistics' are both selected. Now you have enabled this feature, when you run a spell check Word will display information about the reading level of your document as well.  

If you are working on a Macbook: Open word, go to the Word drop down menu, select Preferences, Select Spelling and Grammar, Check Show readability statistics and click OK. Now when you use the spell check tool, it will automatically tell you the Flesch-Kincaid grade level equivalency.

Further information on [Flesch-Kincaid readability tests](https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies)  

