@import "example-init";

// This is a GOV.UK Publishing specific component that
// can be seen at http://govuk-static.herokuapp.com/component-guide/related_items

.app-related-items {
  padding-top: govuk-spacing(2);
  border-top: 2px solid govuk-colour("blue");
}

.app-related-items li {
  margin-bottom: govuk-spacing(2);
}
