---
title: Pagination with number labels
layout: layout-example.njk
---

{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  previous: {
    labelText: "1 of 3",
    href: "#"
  },
  next: {
    labelText: "3 of 3",
    href: "#"
  }
}) }}
