---
title: Break word – Typography
layout: layout-example.njk
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body">
      <strong>With class</strong><br>
      We'll send an email to: <span class="govuk-!-text-break-word">communications@llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogochuchaf.gov.uk</span>.
    </p>
  </div>
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body">
      <strong>With <code>wbr</code></strong><br>
      We'll send an email to: <span class="govuk-!-text-break-word">communications@<wbr>llanfair<wbr>pwll<wbr>gwyngyll<wbr>gogerych<wbr>wyrndrob<wbr>wll<wbr>llanty<wbr>silio<wbr>gogogoch<wbr>uchaf<wbr>.gov.uk</span>.
    </p>
  </div>
</div>
