---
layout: layout-example.njk
title: Error, empty field – Telephone numbers
ignore_in_sitemap: true
---

{% from "input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "UK telephone number"
  },
  errorMessage: {
    text: "Enter a UK telephone number"
  },
  id: "telephone-number",
  name: "telephone-number",
  type: "tel",
  classes: "govuk-input--width-20"
}) }}
