---
title: Backlog
description: Anyone can propose, develop or contribute to new patterns and components, or improvements to existing ones.
section: Community
layout: layout-pane.njk
order: 2
---

We use GitHub to discuss and organise work with contributors on existing components and patterns, as well as possible future additions.

See the [Community Backlog project board on GitHub](https://github.com/orgs/LandRegistry/projects/5). It’s organised into columns to show the progress of each contribution and how you can help.

Use the Community Backlog to:
* see what components or patterns are currently being worked on — and how you can help
* see examples of components or patterns that are not in the Design System yet
* share feedback on how components or patterns are performing in your service