---
title: Backlog
description: Anyone can propose, develop or contribute to new patterns and components, or improvements to existing ones.
section: Community
layout: layout-pane.njk
order: 1
---

The Design System is built upon the research and experience of teams across the whole of government.

Anyone can propose, develop or contribute to new patterns and components, or improvements to existing ones.

We are currently reviewing how we document and manage this backlog.
