---
title: Assistive technology
description: Guidance on assistive technology
section: Accessibility
theme: Resources
layout: layout-pane.njk
order: 3
---
Some examples of assistive technology.

JAWS – Job Access with Speech: A screen reader developed for computer users whose vision loss prevents them from seeing screen content or navigating with a mouse.

Nuance Dragon - Used for speech recognition, dictation and transcription. For people who do not work with a mouse or keyboard or both. Or for those who have word-retrieval difficulties, or problems committing ideas to paper or keyboard. You can dictate e-mails or surf the web using your voice. The more you use it the more intuitive it is.

ZoomText - A magnification and reading program tailored for low-vision users.

Read and Write - Used for reading documents, text prediction, a grammar, spelling and confusable words checker. It offers help with everyday tasks like reading text out loud, understanding unfamiliar words and proofing written work. Can be used by people with dyslexia.

ZoomText Fusion - Fusion is the ultimate accessibility tool for individuals with any level of vision impairment. Fusion provides the best of both worlds. ZoomText, with its screen magnification and visual enhancements for screen viewing ease, coupled with the power and speed of JAWS for screen reading functionality.

The more often you test during development, the more likely you are to identify any accessibility problems. 
You should test with screen readers, screen magnifiers and speech recognition software to make sure your service works with assistive technologies: [Testing with assistive technologies](https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies).

These are all assistive technologies that require a licence. 
There are also many inbuilt accessibility features that do not require a licence but do depend on what IT hardware and software you use. 

