---
title: Date of birth – Using question pages in your services
layout: layout-example-full-page.njk
---

{% extends "example-wrappers/full-page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>
        {{ govukDateInput({
          id: "dob",
          namePrefix: "dob",
          fieldset: {
            legend: {
              text: "What is your date of birth?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 31 3 1980"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              autocomplete: "bday-day"
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              autocomplete: "bday-month"
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              autocomplete: "bday-year"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
