---
title: Header with service name
layout: layout-example.njk
ignore_in_sitemap: true
---
{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Service name",
  serviceUrl: "#"
}) }}
