---
layout: layout-example.njk
---
{{ govukCheckboxes({
  "idPrefix": "nationality",
  "name": "nationality",
  "fieldset": {
    "legendHtml": '<h1 class="govuk-heading-xl">What is your nationality?</h1>',
    "legendHintText": "If you have dual nationality, select all options that are relevant to you."
  },
  "items": [
    {
      "value": "british",
      "text": "British"
    },
    {
      "value": "irish",
      "text": "Irish"
    },
    {
      "value": "other",
      "text": "Citizen of another country"
    }
  ]
}) }}
