---
title: Checkboxes
description: Let users select one or more options by using the Checkboxes component
section: Components
aliases:
backlog_issue_id: 37
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Let users select one or more options by using the checkboxes component.

{{ example({group: "components", item: "checkboxes", example: "default", html: true, nunjucks: true, open: false, size: "m" }) }}

## When to use this component

Use the checkboxes component when you need to help users:

- select multiple options from a list
- toggle a single option on or off

## When not to use this component

Don’t use the checkboxes component if users can only choose one option from a selection. In this case, use the [radios component](../radios/).

## How it works

There are 2 ways to use the checkboxes component. You can use HTML or, if you’re using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: "components", item: "checkboxes", example: "default", html: true, nunjucks: true, open: true, size: "m"}) }}

### Conditionally revealing content

You can add conditionally revealing content to checkboxes, so users only see content when it’s relevant to them. For example, you could reveal a phone number input only when a user chooses to be contacted by phone.

{{ example({group: "components", item: "checkboxes", example: "conditional-reveal", html: true, nunjucks: true, open: false, size: "xl"}) }}

Keep it simple - if you need to add a lot of content, consider showing it on the next page in the process instead.

### Styling the legend

The examples in this page use a `<legend>` as a page heading. Find out how to configure this and style the `<legend>` to use other heading sizes in the [Fieldset component](../fieldset).

## Research on this component

Read a blog post about [updates to the radios and checkboxes components](https://designnotes.blog.gov.uk/2016/11/30/weve-updated-the-radios-and-checkboxes-on-gov-uk/).
