---
title: Checkboxes
description: Let users select one or more options by using the Checkboxes component
section: Components
aliases: check boxes, tickboxes, tick boxes
backlog_issue_id: 37
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Let users select one or more options by using the checkboxes component.

{{ example({group: "components", item: "checkboxes", example: "default", html: true, nunjucks: true, open: false, size: "m" }) }}

## When to use this component

Use the checkboxes component when you need to help users:

- select multiple options from a list
- toggle a single option on or off

## When not to use this component

Don’t use the checkboxes component if users can only choose one option from a selection. In this case, use the [radios component](../radios/).

## How it works

There are 2 ways to use the checkboxes component. You can use HTML or, if you’re using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: "components", item: "checkboxes", example: "default", html: true, nunjucks: true, open: true, size: "m"}) }}

### Conditionally revealing content

You can add conditionally revealing content to checkboxes, so users only see content when it’s relevant to them. For example, you could reveal a phone number input only when a user chooses to be contacted by phone.

{{ example({group: "components", item: "checkboxes", example: "conditional-reveal", html: true, nunjucks: true, open: false, size: "xl"}) }}

Keep it simple - if you need to add a lot of content, consider showing it on the next page in the process instead.

### Browser testing

The checkboxes component has been tested with the following browsers and devices:

- Google Chrome 67 on MacOS
- Google Chrome 67 on Windows
- Firefox 61 on MacOS (including tests with custom colors)
- Firefox 61 on Windows
- Safari 11.1
- Edge 17
- iOS Safari 11
- iOS Chrome 63
- Google Chrome 67 on Android
- Samsung Internet 7.2 on Android
- Internet Explorer 11
- Internet Explorer 10
- Internet Explorer 9
- Internet Explorer 8

### Testing with assistive technologies

The checkboxes component has been tested with the following assistive technologies:

- JAWS 16 and 18 on Internet Explorer 11
- NVDA 2017 on Firefox 61
- VoiceOver on Safari 11.1
- VoiceOver on iOS Safari 11
- ZoomText 10.1 on Internet Explorer 11
- Dragon NaturallySpeaking 15.3 on Internet Explorer 11

## Research on this component

Read a blog post about [updates to the radios and checkboxes components](https://designnotes.blog.gov.uk/2016/11/30/weve-updated-the-radios-and-checkboxes-on-gov-uk/).
