---
layout: layout-example.njk
---

<div class="govuk-width-container">

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
      <p class="govuk-body-l">Try again later.</p>
      <p class="govuk-body">If you need to make a payment and know how much you need to pay, <a class="govuk-link" href="#">use the payment service</a>.</p>
      <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees">Contact the Income Tax Helpline</a> if you need to speak to someone about your tax calculation.</p>

      </div>
    </div>
  </div>

</div>
