.app-cookie-banner {
  @include govuk-font-regular-16;
  @include govuk-text-colour;

  box-sizing: border-box;
  width: 100%;

  padding-top: $govuk-spacing-scale-3;
  padding-right: $govuk-spacing-scale-3;
  padding-bottom: $govuk-spacing-scale-3;
  padding-left: $govuk-spacing-scale-3;
  background-color: $govuk-light-blue-25;
}

.app-cookie-banner {
  display: none;
}

.app-cookie-banner__message {
  margin: 0;
}

@include mq($media-type: print) {
  .app-cookie-banner {
    display: none !important;
  }
}
