// Example styles
.app-example-wrapper {
  @include govuk-responsive-margin($govuk-spacing-responsive-6, "top");
  @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
  @include govuk-font-regular-19;
}

.app-example {
  position: relative;
  border: 1px solid $govuk-border-colour;
  background: govuk-colour("grey-3");
}

.app-example--tabs {
  @include govuk-responsive-margin($govuk-spacing-responsive-0, "bottom");

  @include govuk-media-query($from: desktop) {
    margin-bottom: -1px;
  }
}

.app-example__new-window {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px $govuk-spacing-scale-2;
  @include govuk-font-regular-14;
  background: govuk-colour("grey-3");
  z-index: 1;

  a {
    color: $govuk-link-colour;
    text-decoration: none;
  }
}

.app-example__frame {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 0;
  border-right: 1px solid $govuk-border-colour;
  background: govuk-colour("white");
}

.app-example__frame--resizable {
  min-width: 230px;
  min-height: $govuk-spacing-scale-6 * 2;
  overflow: auto;
  resize: both;
  transform: translate3d(0, 0, 0);
}
