.app-mobile-nav {
  display: none;

  &--active {
    display: block;

    @include mq($from: tablet) {
      display: none;
    }
  }
}

.no-js .app-mobile-nav {
  @include mq($until: desktop) {
    display: block;
  }
}

.app-mobile-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $app-light-grey;


  & > li {
    @include govuk-typography-common;
    @include govuk-typography-weight-bold;
    font-size: 19px; // We don't have a font mixin that produces 19px on mobile

    & > a {
      @include govuk-typography-weight-bold; // Override .govuk-link weight
      display: block;
      padding: 16px $govuk-spacing-scale-4 17px $govuk-spacing-scale-4;
      text-decoration: none;

      &:hover,
      &:focus,
      &:visited {
        color: govuk-colour("blue");
        background-color: inherit;
      }
    }
  }
}

.app-mobile-nav__subnav {
  margin: 0;
  padding: $govuk-spacing-scale-2 0 0 0;
  list-style: none;
  border-top: 1px solid govuk-colour("grey-3");
  border-bottom: 1px solid govuk-colour("grey-3");
  background-color: govuk-colour("white");

  &--hidden {
    display: none;
  }

  &--active {
    display: block;
  }

  & > li {
    & > a {
      @include govuk-font-regular-19;
      display: block;
      padding: $govuk-spacing-scale-2 $govuk-spacing-scale-4;

      text-decoration: none;
    }

    &.current-page a {
      border-left: 4px solid govuk-colour("blue");
    }
  }
}

.app-mobile-nav__current-page {
  border-left: 4px solid govuk-colour("blue");
}

.app-mobile-nav__theme {
  margin: 0;
  padding: $govuk-spacing-scale-4 $govuk-spacing-scale-4 $govuk-spacing-scale-1 $govuk-spacing-scale-4;
  color: govuk-colour("grey-1");
  // Font is defined as a hard 19px so
  // it doesn't re-size on mobile viewport
  font-size: 19px;
  font-weight: 400;
}

.app-mobile-nav__theme-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: govuk-colour("white");

  & > li {
    @include govuk-font-regular-19;

    & > a {
      display: block;
      padding: $govuk-spacing-scale-3 $govuk-spacing-scale-4 $govuk-spacing-scale-2 $govuk-spacing-scale-4;

      text-decoration: none;
    }

    &.current-page a {
      border-left: 4px solid govuk-colour("blue");
    }

    &:last-child a {
      padding-bottom: $govuk-spacing-scale-5;
    }
  }
}

.app-mobile-nav__subnav-toggler--active {
  border-top: 1px solid govuk-colour("white");
}
