<header class="govuk-header app-header hmlr-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container app-width-container app-header__container">
    <div class="govuk-header__logo app-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            HMLR
          </span>
        </span>
        <span class="govuk-header__product-name">
          Design System
        </span>
      </a>
    </div>
    <div class="app-site-search" data-module="app-search" data-search-index="/{{ fingerprint['search-index.json'] }}">
      <label class="govuk-visually-hidden" for="app-site-search__input">Search Design system</label>
      <a class="app-site-search__link govuk-link" href="/sitemap/">Sitemap</a>
    </div>
    <div class="app-header-mobile-nav-toggler-wrapper">
      <button id="app-mobile-nav-toggler" class="govuk-button app-header-mobile-nav-toggler js-app-mobile-nav-toggler" aria-controls="app-mobile-nav">
        Menu
      </button>
    </div>
  </div>
</header>
