<header class="govuk-header app-header hmlr-design-system-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container app-width-container app-header__container">
    <div class="govuk-header__logo app-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            HM Land Registry
          </span>
        </span>
        <span class="govuk-header__product-name">
          Design System
        </span>
      </a>
    </div>
    <div class="app-site-search" data-module="app-search" data-search-index="{{ getFingerprint('search-index.json') }}">
      <label class="govuk-visually-hidden" for="app-site-search__input">Search Design system</label>
      <a class="app-site-search__link govuk-link" href="/sitemap/">Sitemap</a>
    </div>
    <button hidden class="govuk-header__menu-button app-navigation__menu-button js-app-navigation__toggler" aria-controls="app-navigation">
      Menu
    </button>
  </div>
</header>
