---
title: Check how accessible your content is
description: Check how accessible your content is
section: Accessibility
theme: Resources
layout: layout-pane.njk
show_page_nav: true
order: 4
---
If you use Word to write your content you can then run the Flesch reading scale to rate readability. You are aiming for a score of between 70 to 80: 

- 90 to 100 - the document is very easy to read
- 80 to  90 - the document is easy to read
- 70 to  80 - it is fairly easy to read
- 60 to  70 - it is easily read by 13 to 15-year-old students
- 50 to  60 - it is fairly difficult to read
- 30 to  50 - difficult to read
-  0 to  30 - very difficult to read

If your score is lower than 70, then take a look at your sentence length and word length. The shorter the sentences and words, the easier it will be read.

To set this up in Word (see below for Macbook), Open Word, go to File then Options. Select Proofing then make sure 'check grammar with spelling' and 'show readability statistics' are both selected. Now you have enabled this feature, when you run a spell check Word will display information about the reading level of your document as well.  

If you are working on a Macbook: Open word, go to the Word drop down menu, select Preferences, Select Spelling and Grammar, Check Show readability statistics and click OK. Now when you use the spell check tool, it will automatically tell you the Flesch-Kincaid grade level equivalency.

Further information on [Flesch-Kincaid readability tests](https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests).

## Accessibility checklist

To meet WCAG 2.1 to level AA you must be able to answer YES or Not Applicable to all of the following questions.

Answering NO means that you are not meeting WCAG and your content will have barriers that will prevent some users from accessing it.

### Perceivable

1. Do all images have an appropriate text equivalent? Is essential visual information also available as text?
1. Do all audio files have a transcript? Is essential audio information available as text?
1. Do all videos have captions that are synchronised with the audio?
1. Does video that includes important visual information have an audio description?
1. Is all content structure that is communicated visually available to assistive technologies?
1. If styling is removed is the content in a logical order?
1. Have you avoided using visual characteristics to communicate information?
1. Have you avoided using colour as the only way to convey some information?
1. Can users stop audio that auto plays?
1. Does all text have sufficient contrast against the background colour?
1. Is the content fully usable when text is enlarged up to 200%?
1. Have you avoided using images of text?
1. Can users flip the content horizontally and vertically?
1. Have you added HTML autocomplete tokens to any forms collecting information about the user?
1. Does the page content resize to a single column with no horizontal and vertical scrolling?
1. Do all important graphical objects, interface components, and states have a colour contrast of 3:1?
1. Can line height, spacing between paragraphs and letter and word spacing be changed without breaking anything?
1. Where extra content is shown or hidden on focus, can it be dismissed, interacted with (and not disappear when the user moves to it) and will stay visible until dismissed by the user?

### Operable

1. Can all menus, links, buttons, and other controls be operated by keyboard?
1. Do pages that have time limits include mechanisms for adjusting those limits?
1. Can any content that moves or auto updates be stopped?
1. Have you avoided using content that flashes or flickers?
1. Can blocks of links and other interactive elements be bypassed by keyboard users?
1. Does each page have a unique title that indicates its purpose and context?
1. When using a keyboard to move through a page does the order make sense?
1. Is the purpose of every link clear from its link text?
1. Does the website have two or more ways of finding content, such as a navigation menu, search feature, or site map?
1. Are headings and labels clear and descriptive?
1. When using a keyboard to move through a page can you tell where you are?
1. Do you have shortcuts triggered by only one letter or character? If so can they be turned off or remapped by the user?
1. Does some of your site functionality need several fingers or complex gestures to operate it?
1. Does some of your site functionality work using a single point (e.g fingertip) and is it triggered the moment it is touched?
1. On forms and other components is the accessible name or label the same as any on-screen text?
1. Does your site respond to motion or movement to operate parts?

### Understandable

1. Has the language of the web page or document (or individual parts of a multilingual document) been defined?
1. Have you avoided links, controls, or form fields that automatically trigger a change in context?
1. Does the website include consistent navigation?
1. Are features with the same functionality labelled consistently?
1. Do forms provide helpful, understandable error and verification messages?

### Robust

1. Is the web page coded using valid HTML?
1. Do all interactive components have an accessible name and role, and when required state? Has the correct ARIA markup been used and does it validate?
1. Are status messages and updates given appropriate roles that can be understood by AT, without receiving focus?
