---
title: Checking content
description: Guidelines for writing content
section: Content
layout: layout-pane.njk
show_page_nav: false
---

## Tools and methods to help write and check content

The [Hemingway app](https://hemingwayapp.com/) highlights lengthy, complex sentences, common errors and helps you write in the active voice.

A design critique (or "crit") is where a designer can share a piece of work in progress with others to get feedback and iterate on it.

Get another designer to check your work because it’s hard to spot your own mistakes.

### Researching content with your users

[The highlighter test](https://userresearch.blog.gov.uk/2014/09/02/a-simple-technique-for-evaluating-content/) helps identify the impact of what you’re writing and how it could be made simpler.

[The Cloze test](https://www.nngroup.com/articles/cloze-test-reading-comprehension/) provides evidence of how easy a text is to read and understand for your users.

[Card sorting](https://userresearch.blog.gov.uk/2018/03/23/how-we-refined-our-approach-to-card-sorting/) can be a great way to help sort out the order of things, like the taxonomy of a menu.

[Tree testing](https://www.nngroup.com/articles/tree-testing/) can help you see how people navigate and understand the structure and terminology of your service.
