---
title: Legends as page headings – Making labels and legends headings
layout: layout-example-form.njk
---

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  name: "checkbox",
  fieldset: {
    legend: {
      text: "govuk-fieldset__legend--l",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "This example shows an <h1> inside a <legend> with the class of govuk-fieldset__legend--l"
  },
  items: [
    {
      value: "checkbox",
      text: "Checkbox 1"
    },
    {
      value: "checkbox",
      text: "Checkbox 2"
    },
    {
      value: "checkbox",
      text: "Checkbox 3"
    }
  ]
}) }}
