---
title: Page wrapper – Layout

layout: layout-example.njk
stylesheets:
- ../layout-wrappers-annotate.css
---

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

<div class="govuk-width-container">
  {{ govukBackLink({
    href: "#",
    text: "Back"
  }) }}
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page title</h1>
      </div>
    </div>

  </main>
</div>
