---
title: Numbered lists – Typography
layout: layout-example.njk
ignore_in_sitemap: true
---

<ol class="govuk-list govuk-list--number">
  <li>Delivery address.</li>
  <li>Payment.</li>
  <li>Confirmation.</li>
</ol>
