---
title: Mixed ethnic backgrounds
layout: layout-example.njk
---

{% from "radios/macro.njk" import govukRadios %}
{% from "input/macro.njk" import govukInput %}

{% set mixedOtherHtml %}
  {{ govukInput({
    id: "ethnicity-white-other",
    name: "ethnicity-white-other",
    classes: "govuk-!-width-two-thirds",
    label: {
      text: "Your Mixed background (optional)"
    }
  }) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "ethnic-group",
  name: "ethnic-group",
  fieldset: {
    legend: {
      text: "Which one best describes your Mixed or Multiple ethnic groups background?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      text: "Asian and White"
    },
    {
      text: "Black African and White"
    },    
    {
      text: "Black Caribbean and White"
    },
    {
      text: "Another Mixed background",
      conditional: {
        html: mixedOtherHtml
      }
    },
    {
      divider: "or"
    },
    {
      value: "prefer-not-to-say",
      text: "Prefer not to say",
      label: {
        classes: 'govuk-label'
      }
    }
  ]
}) }}
