---
title: Disabled button
layout: layout-example.njk
ignore_in_sitemap: true
---
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Disabled button",
  disabled: true
}) }}
