---
title: Page not found pages
layout: layout-example.njk
---

<div class="govuk-width-container">

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Page not found</h1>
        <p class="govuk-body">We have reported this to the team that manages the service and they will fix it as soon as possible.</p>
        <p class="govuk-body">Contact us if you need to speak to someone about your tax credits.</p>
        <p class="govuk-body">Telephone:<br>
          <strong class="govuk-!-font-weight-bold">0808 157 3900</strong>
        </p>
        <p class="govuk-body">Textphone:<br>
          <strong class="govuk-!-font-weight-bold">0808 157 3909</strong>
        </p>
        <p class="govuk-body">Outside UK:<br>
          <strong class="govuk-!-font-weight-bold">+44 0808 157 0192</strong>
        </p>
        <p class="govuk-body">Opening times:<br>
          <strong class="govuk-!-font-weight-bold">Monday to Friday: 8am to 8pm</strong>
        </p>
        <p class="govuk-body">Closed Easter Sunday, Christmas Day, Boxing Day and New Year's Day.</p>

      </div>
    </div>
  </div>

</div>
