---
title: Footer with secondary navigation – Footer
layout: layout-example.njk
---

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  navigation: [
    {
      title: "Two column list",
      width: "two-thirds",
      columns: 2,
      items: [
        {
          href: "#",
          text: "Navigation item 1"
        },
        {
          href: "#",
          text: "Navigation item 2"
        },
        {
          href: "#",
          text: "Navigation item 3"
        },
        {
          href: "#",
          text: "Navigation item 4"
        },
        {
          href: "#",
          text: "Navigation item 5"
        },
        {
          href: "#",
          text: "Navigation item 6"
        }
      ]
    },
    {
      title: "Single column list",
      width: "one-third",
      items: [
        {
          href: "#",
          text: "Navigation item 1"
        },
        {
          href: "#",
          text: "Navigation item 2"
        },
        {
          href: "#",
          text: "Navigation item 3"
        }
      ]
    }
  ]
}) }}
