<%= govuk_footer do |footer| %>
  <% footer.with_navigation do %>
  <div class="govuk-footer__section govuk-grid-column-two-thirds">
    <h2 class="govuk-footer__heading govuk-heading-m">Two column list</h2>
    <ul class="govuk-footer__list govuk-footer__list--columns-2">
      <li class="govuk-footer__list-item">
        <a class="govuk-footer__link" href="#">
          Navigation item 1
        </a>
      </li>
      <li class="govuk-footer__list-item">
        <a class="govuk-footer__link" href="#">
          Navigation item 2
        </a>
      </li>
      <li class="govuk-footer__list-item">
        <a class="govuk-footer__link" href="#">
          Navigation item 3
        </a>
      </li>
      <li class="govuk-footer__list-item">
        <a class="govuk-footer__link" href="#">
          Navigation item 4
        </a>
      </li>
      <li class="govuk-footer__list-item">
        <a class="govuk-footer__link" href="#">
          Navigation item 5
        </a>
      </li>
      <li class="govuk-footer__list-item">
        <a class="govuk-footer__link" href="#">
          Navigation item 6
        </a>
      </li>
    </ul>
  </div>
  <div class="govuk-footer__section govuk-grid-column-one-third">
    <h2 class="govuk-footer__heading govuk-heading-m">Single column list</h2>
    <ul class="govuk-footer__list">
      <li class="govuk-footer__list-item">
        <a class="govuk-footer__link" href="#">
          Navigation item 1
        </a>
      </li>
      <li class="govuk-footer__list-item">
        <a class="govuk-footer__link" href="#">
          Navigation item 2
        </a>
      </li>
      <li class="govuk-footer__list-item">
        <a class="govuk-footer__link" href="#">
          Navigation item 3
        </a>
      </li>
    </ul>
  </div>
  <% end %>
<% end %>
