---
title: Stay safe online
description: Help users stay safe online
section: Patterns
theme: Help users to…
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Help users stay safe online.

{{ example({group: "patterns", item: "stay-safe-online", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this pattern


## How it works


## Research on this pattern
