---
title: Hint text
description: 
section: Components
aliases: 
backlog_issue_id: 
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Use hint text

{{ example({group: "components", item: "hint", example: "default", html: true, nunjucks: true, open: false}) }}

## When to use this component

## How it works

Something somthing, it comes with most components as default

There are 2 ways to use the back link component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

### Text input
{{ example({group: "components", item: "text-input", example: "input-hint-text", html: true, nunjucks: true, open: false}) }}

### Textarea
{{ example({group: "components", item: "textarea", example: "default", html: true, nunjucks: true, open: false}) }}

### Radios
{{ example({group: "components", item: "radios", example: "default", html: true, nunjucks: true, open: false}) }}

### Checkboxes
{{ example({group: "components", item: "checkboxes", example: "default", html: true, nunjucks: true, open: false}) }}

## When not to use this component

## Research on this component

If you’ve used this component, get in touch to share your user research findings.
