---
title: Links that open in a new tab  – Typography
layout: layout-example.njk
---

<p class="govuk-body">
  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">link text (opens in new tab)</a>
</p>
