---
title: Subjects taught
description: Ask users to select from a list of subjects or choose none
section: Patterns
theme: Ask users for…
aliases: radio buttons, option buttons, ITT
backlog_issue_id: 59
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "patterns", item: "which-subjects-do-you-teach", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this pattern

## When not to use this pattern

### Error messages

Error messages should be styled like this:

{{ example({group: "patterns", item: "which-subjects-do-you-teach", example: "error-none-selected", html: true, nunjucks: true, open: false, size: "s"}) }}

Make sure errors follow the guidance in the GDS
[error message component](https://design-system.service.gov.uk/components/error-message/)
and have specific error messages for specific error states.

## Research on this component
