---
title: Which subjects do you teach?
description: Let users select from a list of subjects or choose none
section: Patterns
theme: Ask users for…
aliases: radio buttons, option buttons, ITT
backlog_issue_id: 59
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "patterns", item: "which-subjects-do-you-teach", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this pattern

Use this pattern when you need to ask a teacher if something happened before or
after a specific academic year.

## When not to use this pattern

Do not use this pattern for reasons

## Why academic years

Something referencing the UR that showed that teachers get academic years + they
may qualify at slightly different times during the year.

Bullet points:

- Bullet 1
- Bulled 2

### SOME H3

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nibh mauris,
sollicitudin quis efficitur non, porttitor sit amet massa. Integer tincidunt
massa venenatis arcu pulvinar molestie.

### Error messages

Error messages should be styled like this:

{{ example({group: "patterns", item: "which-subjects-do-you-teach", example: "error-none-selected", html: true, nunjucks: true, open: false, size: "s"}) }}

Make sure errors follow the guidance in the GDS
[error message](https://design-system.service.gov.uk/components/error-message/)
and have specific error messages for specific error states.

## Research on this component

Read a blog post about [updates to the radios and checkboxes components](https://designnotes.blog.gov.uk/2016/11/30/weve-updated-the-radios-and-checkboxes-on-gov-uk/).
