---
title: Whole service – Notification banner
layout: layout-example.njk
---

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% call govukNotificationBanner() %}
  There may be a delay in processing your application because of the coronavirus outbreak.
{% endcall %}
