---
title: Whole service – notification banner
layout: layout-example.njk
---  

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{{ govukNotificationBanner({
  text: 'There may be a delay in processing your application because of the coronavirus outbreak.'
}) }}
