---
title: Alt text – Images
layout: layout-example.njk
stylesheets:
- ../images.css
---

<img src="example-guidance-for-passport-photo.png" alt="Three illustrations of taking a passport photo. Two incorrect ways show someone taking their own photo with a phone camera or webcam. The correct way shows someone else helping to take a photo that includes the person's head and shoulders.">
