---
title: Alt text – Images
layout: layout-example.njk
ignore_in_sitemap: true
stylesheets:
- ../images.css
---

<img src="larry-the-cat.jpg" alt="An image of Larry the cat, Chief Mouser to the Cabinet Office">
