---
title: Resources
description: Useful resources and community projects
section: Community
layout: layout-pane.njk
order: 7
---

A curated list of useful resources and community projects. If you have any support requests or suggestions please contact the owner - the GOV.UK Design System team is not responsible for these resources. 


## Create flow diagrams

- [A Sketch file for creating flow diagrams of GOV.UK services](https://github.com/dashouse/govuk-design-system-flow-diagrams)⁠
- [SVG images for creating flow diagrams of GOV.UK services](https://github.com/alirawashdeh/govuk-userflow-icons)

## Create wireframes

- [Balsamiq wireframes based on the GOV.UK Design System](https://github.com/enoranidi/govuk-design-system-balsamiq)⁠
- [Sketch wireframes based on the GOV.UK Design System](https://github.com/abbott567/sketch_wireframing_kit)⁠

## Use GOV.UK Frontend in different frameworks

### C#

- [A collection of GOV.UK Design System components built in C# / ASP.Net Core](https://github.com/cabinetoffice/govuk-design-system-dotnet)⁠


### Node.js

- [An introduction to building a hapi service using GOV.UK Frontend](https://github.com/DEFRA/hapi-govuk-examples)⁠


### PHP

- [A Drupal theme for the GOV.UK Design System](https://www.drupal.org/project/govuk_design_system)⁠


### Python

- [A Flask/Python implementation of GOV.UK Frontend](https://github.com/willp-bl/python-microservice)⁠
- [ Classes and modules for using GOV.UK Frontend in your Jinja2-powered Python app](https://github.com/alphagov/govuk-frontend-jinja)⁠
- [A Gulp task to convert GOV.UK Frontend Nunjucks macros to Jinja2](https://gist.github.com/andymantell/8b1bb037341f38990a4d019894abd83e)⁠


### R

- [A GOV.UK Design System theme for R Markdown](https://github.com/ukgovdatascience/govdown)⁠

### Ruby

- [A Rails starter app using GOV.UK Frontend](https://github.com/mec/govuk-frontend-rails)⁠
- [A Rails boilerplate app using GOV.UK Frontend](https://github.com/DFE-Digital/govuk-rails-boilerplate)⁠
- [A Rails form builder using GOV.UK Frontend](https://github.com/DFE-Digital/govuk_design_system_formbuilder)


## Write code faster

- [GOV.UK Frontend Nunjucks macro snippets for popular code editors](https://github.com/daviddotto/govuk-design-system-snippets)⁠ 


## Help improve this page

To help make sure that this page is useful, relevant and up to date, you can [propose a change](https://github.com/alphagov/govuk-design-system/edit/master/src/components/file-upload/index.md.njk) – read more about [how to propose changes in GitHub](https://design-system.service.gov.uk/community/propose-a-content-change-using-github/).

We will link to things if they are relevant, well-maintained and consistent with the GOV.UK Design System and the [Service Standard](https://www.gov.uk/service-manual/service-standard).

For example, we're more likely to link to a resource if:

- it's well documented 
- it's well supported
- it's easily reusable
- it's up to date
- it's compatible with government standards
- it's not easily mistaken for an official resource
- it doesn't alter our code or design
- it's not commercially owned
- it's open source

