---
title: Resources
description: Useful resources and community projects
section: Community
layout: layout-pane.njk
order: 7
status: Experimental
---

A curated list of useful resources developed by the GOV.UK Design System community. 

The Design System team is not responsible for these resources and is unable to provide support for them. If you have support or feature requests please contact the owner.


## Create flow diagrams

[GOV.UK Design System Flow Diagrams](https://github.com/dashouse/govuk-design-system-flow-diagrams)⁠ -  
A Sketch file for creating flow diagrams of GOV.UK services

[GOV Flow](https://github.com/charlesrt/gov-flow)⁠ -  
A Sketch file for creating flow diagrams of GOV.UK services

[GOV.UK Userflow Icons](https://github.com/alirawashdeh/govuk-userflow-icons) -  
SVG images for creating flow diagrams of GOV.UK services

## Create prototypes and wireframes

[govuk-design-system-balsamiq](https://github.com/enoranidi/govuk-design-system-balsamiq)⁠ -  
Balsamiq wireframes based on the GOV.UK Design System

[Sketch Wireframing Kit](https://github.com/abbott567/sketch_wireframing_kit)⁠ -  
Sketch wireframes based on the GOV.UK Design System

## Build front ends

### C#

[GOV.UK Design System in C#/ASP.Net Core](https://github.com/cabinetoffice/govuk-design-system-dotnet)⁠ -  
A collection of GOV.UK Frontend components built in C# / ASP.Net Core


### Node.js

[Hapi GOV.UK examples](https://github.com/DEFRA/hapi-govuk-examples)⁠ -  
An introduction to building a hapi service using GOV.UK Frontend


### PHP

[Drupal theme](https://www.drupal.org/project/govuk_design_system)⁠ -  
A Drupal theme that uses GOV.UK Frontend


### Python

[Python Microservice](https://github.com/willp-bl/python-microservice)⁠ -  
A Flask/Python implementation of GOV.UK Frontend

[GOV.UK Frontend Jinja ](https://github.com/alphagov/govuk-frontend-jinja)⁠ -  
Classes and modules for using GOV.UK Frontend in your Jinja2-powered Python app

[gov.js](https://gist.github.com/andymantell/8b1bb037341f38990a4d019894abd83e)⁠ -  
A Gulp task to convert GOV.UK Frontend Nunjucks macros to Jinja2

### R

[Govdown](https://github.com/ukgovdatascience/govdown)⁠ -  
A GOV.UK Design System theme for R Markdown

### Ruby on Rails

[GOV.UK Frontend Rails](https://github.com/dxw/dxw_govuk_frontend_rails)⁠ - 
A Ruby Gem that adds the GOV.UK Frontend to Rails apps

[GOV.UK Rails Boilerplate](https://github.com/DFE-Digital/govuk-rails-boilerplate)⁠ - 
A complete Rails starter app using GOV.UK Frontend

[GOV.UK Design System Formbuilder](https://github.com/DFE-Digital/govuk_design_system_formbuilder) -  
A Rails form builder using GOV.UK Frontend

## Write code

[GOV.UK Design System Snippets](https://github.com/daviddotto/govuk-design-system-snippets)⁠ -  
GOV.UK Frontend Nunjucks macro snippets for popular code editors


## Help improve this page

To help make sure that this page is useful, relevant and up to date, you can [propose a change](https://github.com/alphagov/govuk-design-system/edit/master/src/community/resources/index.md.njk) – read more about [how to propose changes in GitHub](https://design-system.service.gov.uk/community/propose-a-content-change-using-github/).

We will accept proposals from resource owners if the resource is relevant, well-maintained and consistent with the GOV.UK Design System and the [Service Standard](https://www.gov.uk/service-manual/service-standard).

We're more likely to link to something if:

- it's well documented 
- it's well supported
- it's easily reusable
- it's up to date
- it's compatible with government standards
- it's not easily mistaken for an official resource
- it doesn't alter our code or design
- it's not commercially owned
- it's open source
