---
title: Resources
description: Useful resources and community projects
section: Community
layout: layout-pane.njk
order: 7
---

A curated list of useful resources and community projects. If you have any support requests or suggestions please contact the owner - the GOV.UK Design System team is not responsible for these resources. 

If you'd like to suggest something to be added to the list, please [get in touch](https://design-system.service.gov.uk/get-in-touch/). We may remove things that are no longer relevant, well-maintained or consistent with the [GOV.UK Design System](https://design-system.service.gov.uk/) and [Service Standard](https://www.gov.uk/service-manual/service-standard).

## Design resources

[govuk-design-system-flow-diagrams](https://github.com/dashouse/govuk-design-system-flow-diagrams)
A Sketch file to help you create flow diagrams for the GOV.UK Design System.

[govuk-userflow-icons](https://github.com/alirawashdeh/govuk-userflow-icons)
High resolution vector (SVG) icons to help you create GOV.UK user flow diagrams.

[govuk-design-system-balsamiq](https://github.com/enoranidi/govuk-design-system-balsamiq)
A set of Balsamiq wireframes based on the GOV.UK Design System.

[sketch_wireframing_kit](https://github.com/abbott567/sketch_wireframing_kit)
Quick Sketchapp wireframing tool for UK government digital services.

## Development resources

### C#

[govuk-design-system-dotnet](https://github.com/cabinetoffice/govuk-design-system-dotnet)
A collection of GOV.UK Design System components built in C# / ASP.Net Core

### Node.js

[hapi-govuk-examples](https://github.com/DEFRA/hapi-govuk-examples)
An introduction to building a hapi service using GOV.UK Frontend

### PHP

[Drupal theme](https://www.drupal.org/project/govuk_design_system)
This theme integrates Drupal with the GOV.UK Design System.

### Python

[govuk-frontend-jinja](https://github.com/alphagov/govuk-frontend-jinja)
Tools to use the GOV.UK Design System with Python webapps that use Jinja2 and Flask.

[gov.js](https://gist.github.com/andymantell/8b1bb037341f38990a4d019894abd83e)
Gulp task to convert govuk-frontend Nunjucks macros to Jinja2.

[python-microservice](https://github.com/willp-bl/python-microservice)
Flask/Python implementation of GOV.UK Frontend

### R

[govdown](https://github.com/ukgovdatascience/govdown)
GOV.UK Design System theme for R Markdown

### Ruby

[govuk-frontend-rails](https://github.com/mec/govuk-frontend-rails)
Shows how to use the GOVUK Frontend in a Rails app.

[govuk-rails-boilerplate](https://github.com/DFE-Digital/govuk-rails-boilerplate)
A simple boilerplate built on Ruby on Rails to kick start new services.

[govuk_design_system_formbuilder](https://github.com/DFE-Digital/govuk_design_system_formbuilder)
GOV.UK-compliant form builder for Rails.

## Other resources

[govuk-design-system-snippets](https://github.com/daviddotto/govuk-design-system-snippets)
GOV.UK Design System Nunjucks macro snippets for popular code editors.
