@import "govuk-frontend/settings/all";
@import "govuk-frontend/tools/all";
@import "govuk-frontend/helpers/all";

// This is a separate stylesheet for the address example to limit the width of the
// fieldset,  simulating the content being in a two-thirds column (most common
// scenario that the code will be pasted) without adding it to the markup.

.govuk-fieldset {
  @include govuk-media-query($from: tablet) {
    max-width: 66.66%;
  }
}
