---
title: School search
description: Help users find a school in England
section: Patterns
theme: Ask users for…
aliases: School Search, school, search
layout: layout-pane.njk
status: Experimental
statusMessage: This pattern is currently experimental because <a class="govuk-link" href="#research-on-this-pattern">more research</a> is needed to validate it.
---

{% from "_example.njk" import example %}

{{ example({group: "patterns", item: "school-search", example: "default", html: true, nunjucks: true, open: false}) }}

## When to use this pattern

Use this pattern to help a user find the a school somewhere in England.

## How it works

<iframe width="560" height="315" src="https://www.youtube.com/embed/xnk4J9WhmB8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

Schools in England are maintained on the [Get Information About Schools](https://get-information-schools.service.gov.uk/) (GIAS)
service. We use this data combined with [accessible autocomplete](https://github.com/alphagov/accessible-autocomplete)
to make it easier for the user to find a school.

When asking for a school

- give multiple methods of finding a school
- use suggestions to help a user when typing long school names
- use up to date data from Get information about schools
- display additional information to the user to help them identify the correct
school (such as the address)
- support those who do not have javascript enabled
- depending on what your service needs to do, distinguish between open and
closed schools
- do not use an autocomplete attribute

### Error messages

Error messages should be styled like this:

{{ example({group: "patterns", item: "school-search", example: "error-empty-field", html: true, nunjucks: true, open: false, size: "s"}) }}

Make sure errors follow the guidance in the GDS
[error message](https://design-system.service.gov.uk/components/error-message/)
and have specific error messages for specific error states.

#### If nothing has been entered

Say ‘Enter the name or postcode of the school’.

#### If no results match the search term

Say ‘No results match that search term. Try again.’

## Research on this pattern

Somethings about research on this pattern:

- WRITE THIS NICER => We were seeing users search for a school name that did not
exist. One reason for this was that the school had changed status during their
employment and they were searcing for the old school name.
- EXAMPLE 2
- SOMETHING ELSE
