---
title: Uploaded photo – Images
layout: layout-example.njk
stylesheets:
- ../images.css
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m">Your uploaded photo</h1>   
    <img class="govuk-!-margin-bottom-5" src="passport-photo.jpg" alt="">
    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Retake photo
      </button>
    </div>
  </div>
</div>
