---
layout: layout-pane.njk
title: Components
---

Components are re-usable parts of the user interface. They are named chunks of code that have been made to support a variety of applications. They are often associated with specific <a href="/patterns/">patterns</a> when used in a particular context.

On the most part, if you are using the <a href="#">GOV.UK Prototype Kit</a> or have <a href="/design-patterns/patterns/using-govuk-frontend/">GOV.UK Frontend</a> included in your build, the coded examples provided should render exactly as they do inside the design system.

Some larger components, such as <a href="/components/autocomplete/">Autocomplete</a> may have their own GitHub repository which will need to be included in your build separately.
