---
layout: layout-pane.njk
title: Components
---

Components are reusable parts of the user interface that have been made to support a variety of applications.

Individual components can be used in multiple different [patterns](../patterns) and contexts. For example, the [Text input](../components/text-input) component can be used to ask for an email address, a National Insurance number or someone’s name.

If you are using the [GOV.UK Prototype Kit](https://govuk-prototype-kit-beta.herokuapp.com) or have [GOV.UK Frontend](https://github.com/alphagov/govuk-frontend) included in your build, the coded examples provided will render exactly as they do inside the Design System.
