---
title: PDFs
description: Creating accessible PDFs
section: Accessibility
theme: Content
layout: layout-pane.njk
order: 10
---

PDF stands for Portable Document Format.

PDF and PDF/A cannot be made fully accessible to all users of assistive technology. 
You should publish an accessible version with the PDF/A for example you should continue to publish a PDF in addition to HTML.

PDFs are also hard to open and use on mobile devices.

It would be better to stick to the source document, Word for example, instead of converting it to PDF.
[Why GOV.UK content should be published in HTML not PDF](https://gds.blog.gov.uk/2018/07/16/why-gov-uk-content-should-be-published-in-html-and-not-pdf/).

The A in PDFA stands for archiving. It does not relate to accessibility.