---
title: Common two-thirds with two Rows – Layout
layout: layout-example.njk
---

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

<div class="govuk-width-container">
  {{ govukBackLink({
    href: "#",
    text: "Back"
  }) }}
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Two-thirds column</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Two-thirds column</h2>
        <p class="govuk-body-l">This is a lead paragraph inside a two-thirds wide column</p>
        <p class="govuk-body">This is a paragraph inside a two-thirds wide column</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">One-third column</h3>
        <p class="govuk-body">This is a paragraph inside a one-third wide column</p>

      </div>
    </div>

  </main>
</div>
