---
title: Footer with localisation
layout: layout-example.njk
---

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{# Pre-release code. Parameters are subject to change. #}

{{ govukFooter({
  contentLicence: 'Mae’r holl gynnwys ar gael dan <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence-cymraeg/version/3/" rel="license">Drwydded y Llywodraeth Agored v3.0</a>, ac eithrio lle nodir yn wahanol',
  copyright: '© Hawlfraint y Goron'
}) }}
