---
title: Header with service name and navigation – Header
layout: layout-example.njk
---

{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#",
  useTudorCrown: true,
  serviceName: "Service name",
  serviceUrl: "#",
  navigation: [
    {
      href: "#",
      text: "Navigation item 1",
      active: true
    },
    {
      href: "#",
      text: "Navigation item 2"
    },
    {
      href: "#",
      text: "Navigation item 3"
    },
    {
      href: "#",
      text: "Navigation item 4"
    }
  ]
}) }}
