---
title: Header with navigation
layout: layout-example.njk
---
{% from "header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Service name",
  serviceUrl: "/components/header",
  containerClasses: "govuk-width-container",
  navigation: [
    {
      href: "#1",
      text: "Navigation item 1",
      active: true
    },
    {
      href: "#2",
      text: "Navigation item 2"
    },
    {
      href: "#3",
      text: "Navigation item 3"
    },
    {
      href: "#4",
      text: "Navigation item 4"
    }
  ]
}) }}
