---
title: Full width – Layout
layout: layout-example.njk
stylesheets:
- ../grid-annotate.css
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p>govuk-grid-column-full</p>
  </div>
</div>
