---
title: Summary list
description: 
section: Components
aliases:
backlog_issue_id:
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Lorem ipsum

{{ example({group: "components", item: "summary-list", example: "default", html: true, nunjucks: true, open: false}) }}

## When to use this component

Lorem ipsum

## How it works

There are 2 ways to use the summary list component. You can use HTML or, if you’re using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: "components", item: "summary-list", example: "default", html: true, nunjucks: true, open: false, id: "default-2"}) }}

## Research on this component

Lorem ipsum
