---
title: Example – Default typography
layout: layout-example.njk
---

<span class="govuk-caption-xl">govuk-caption-xl</span>
<h1 class="govuk-heading-xl">govuk-heading-xl</h1>
<h2 class="govuk-heading-l">govuk-heading-l</h2>
<h3 class="govuk-heading-m">govuk-heading-m</h3>
<h4 class="govuk-heading-s">govuk-heading-s</h4>
<p class="govuk-body">govuk-body</p>
