---
title: Explanatory text – Question pages
layout: layout-example-full-page.njk
---

{% extends "example-wrappers/full-page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Interview needs
      </h1>

      <p class="govuk-body">
        Providers do not usually have much flexibility when setting a date and time for interview unless you need adjustments due to a <a href="#" class="govuk-link">health condition or disability</a>.
      </p>

      <p class="govuk-body">
        However, if you need flexibility for other reasons you can tell us about it here.
      </p>

      <p class="govuk-body">
        For example, you have commitments like caring responsibilities or employment.
      </p>

      <p class="govuk-body">
        Contact your provider if you’re concerned about the interview process.
      </p>

      <form action="/form-handler" method="post" novalidate>

        {{ govukRadios({
          name: "interviewNeeds",
          fieldset: {
            legend: {
              text: "Do you have any interview needs?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
