---
title: Details – Fill in a form
layout: layout-example.njk
---

{% from "details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "Help with nationality",
  text: "If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card."
  })
}}
