---
title: Contact information inset text – Contact a department or service team
layout: layout-example.njk
---

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set contactInformation %}
  <h2 class="govuk-heading-m">Talk to an advisor</h2>
  <ul class="govuk-list">
    <li>Phone: 020 7946 0101</li>
    <li>Textphone: 020 7946 0102</li>
    <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
  </ul>
  <p class="govuk-body">
    <a class="govuk-link" href="#">Find out about call charges</a>
  </p>
{% endset %}

{{ govukInsetText({
  html: contactInformation
}) }}
