---
layout: layout-example.njk
title: International – Telephone numbers
ignore_in_sitemap: true
---

{% from "input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Telephone number"
  },
  hint: {
    text: "For international numbers include the country code"
  },
  id: "telephone-number",
  name: "telephone-number",
  type: "tel",
  classes: "govuk-input--width-20"
}) }}
