---
layout: layout-example.njk
title: International – Phone numbers
---

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Phone number"
  },
  hint: {
    text: "For international numbers include the country code"
  },
  id: "telephone-number",
  name: "telephone-number",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-input--width-20"
}) }}
