---
title: Error summary
description:
section: Components
aliases:
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: 'components', item: 'error-summary', example: 'default'}) }}

## When to use this component

You must always show an error summary when there is a validation error with the information that a user has entered, even if there’s only one.

## How it works

You must:

- show an error summary at the top of a page
- include a heading to alert the user to the error
- link to each of the problematic questions

Additionally, you should reflect that there has been an error in the `<title>` by prefixing the existing title with `“Error:”`. This will make sure that screen readers are alerted to errors as soon as possible.

You must also show an [error message](../components/error-message) alongside the specific input or inputs which have errors.

There are 2 ways to use the Error summary component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](Insert prototype kit URL), you can use the Error summary macro.

{{ example({group: 'components', item: 'error-summary', example: 'default', html: true, nunjucks: true, open: true}) }}

## Research on this component

If you’ve used this component, [get in touch](Anchor link to Get in touch panel at bottom of page) to share your user research findings.
