---
title: Error summary
description: Use an error summary when there is a validation error
section: Components
aliases:
backlog_issue_id: 46
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Use this component at the top of a page to summarise any errors a user has made.

When a user makes an error, you must show both an error summary and an [error message](../error-message/) next to each field that contains an error.

{{ example({group: "components", item: "error-summary", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this component

Always show an error summary when there is a validation error, even if there’s only one.

## How it works

You must:

- add ‘Error: ’ to the beginning of the `<title>` so screen readers read it out as soon as possible
- show an error summary at the top of a page
- move keyboard focus to the error summary
- include the heading ‘There is a problem’
- link to each of the validation errors
- show the same error messages next to the inputs with errors

Read guidance on [writing good error messages](../error-message#be-clear-and-concise).

There are 2 ways to use the error summary component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: "components", item: "error-summary", example: "default", html: true, nunjucks: true, open: true, size: "s"}) }}

## Research on this component

If you’ve used this component, get in touch to share your user research findings.
