---
title: Sexual orientation equality question – Equality information
layout: layout-example-form.njk
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set sexualOrientationHtml %}
  {{ govukInput({
    id: "other-description",
    name: "otherDescription",
    type: "text",
    classes: "govuk-!-width-one-half",
    label: {
      text: "How would you describe your sexual orientation? (optional)"
    }
  }) }}
{% endset -%}

{{ govukRadios({
  name: "sexualOrientation",
  fieldset: {
    legend: {
      text: "Which of the following best describes your sexual orientation?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "heterosexual",
      text: "Heterosexual or straight"
    },
    {
      value: "gay-lesbian",
      text: "Gay or lesbian"
    },
    {
      value: "bisexual",
      text: "Bisexual"
    },
    {
      value: "other",
      text: "Other",
      conditional: {
        html: sexualOrientationHtml
      }
    },
    {
      divider: "or"
    },
    {
      value: "skip",
      text: "Prefer not to say"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}
