---
title: Labels, legends and headings
layout: layout-example.njk
ignore_in_sitemap: true
---


{% from "input/macro.njk" import govukInput %}

{% from "checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  idPrefix: "checkbox",
  name: "checkbox",
  fieldset: {
    legend: {
      text: "govuk-fieldset__legend--m",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "This example shows a <legend> with the class of govuk-fieldset__legend--m."
  },
  items: [
    {
      value: "checkbox",
      text: "Checkbox 1"
    },
    {
      value: "checkbox",
      text: "Checkbox 2"
    },
    {
      value: "checkbox",
      text: "Checkbox 3"
    }
  ]
}) }}

{{ govukCheckboxes({
  idPrefix: "checkbox",
  name: "checkbox",
  fieldset: {
    legend: {
      text: "govuk-fieldset__legend--s",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "This example shows a <legend> with the class of govuk-fieldset__legend--s."
  },
  items: [
    {
      value: "checkbox",
      text: "Checkbox 1"
    },
    {
      value: "checkbox",
      text: "Checkbox 2"
    },
    {
      value: "checkbox",
      text: "Checkbox 3"
    }
  ]
}) }}
