---
layout: layout-example.njk
---

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">govuk-caption-xl</span>
  govuk-heading-xl
</h1>


<h2 class="govuk-heading-l">
  <span class="govuk-caption-l">govuk-caption-l</span>
  govuk-heading-l
</h2>

<h3 class="govuk-heading-m">
  <span class="govuk-caption-m">govuk-caption-m</span>
  govuk-heading-m
</h3>