---
layout: layout-example.njk
---

<p class="govuk-body govuk-!-f-80">govuk-!-f-80</p>
<p class="govuk-body govuk-!-f-48">govuk-!-f-48</p>
<p class="govuk-body govuk-!-f-36">govuk-!-f-36</p>
<p class="govuk-body govuk-!-f-27">govuk-!-f-27</p>
<p class="govuk-body govuk-!-f-24">govuk-!-f-24</p>
<p class="govuk-body govuk-!-f-19">govuk-!-f-19</p>
<p class="govuk-body govuk-!-f-16">govuk-!-f-16</p>
<p class="govuk-body govuk-!-f-14">govuk-!-f-14</p>
