---
title: Typography
description: typography advice for differnt services
layout: layout-pane.njk
show_page_nav: false
---

{% from "_example.njk" import example %}

## Font

If your service is on the service.gov.uk subdomain you must [use the GDS Transport typeface](https://design-system.service.gov.uk/styles/typography/).


### When not to use the GDS Transport font

If your service is publicly available on a subdomain other than service.gov.uk, use an alternative typeface like Helvetica or Arial.

We have initially opted to use a typeface of Arial for this design system.

### Casework systems

We currently use Arial. Get advice from designers who work on casework systems about any typography differences with the GOV.UK design system advice.

For more help regarding typographic styles, [read the GDS typography styles](https://design-system.service.gov.uk/styles/typography/).
