---
title: Typography
description: If your service is on the service.gov.uk subdomain you must use the GDS Transport font
section: Styles
backlog_issue_id: 64
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

## Font

If your service is on the service.gov.uk subdomain you must use the GDS Transport font.

You should use an alternative typeface like Helvetica or Arial for services that are publicly available on different domains.

If you’re not sure whether you should be using GDS Transport, read the Service Manual guide on [making your service look like GOV.UK](https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk) or [contact the Design System team](../../get-in-touch/).

## Headings

Use headings consistently to create a clear hierarchy throughout your service.

Markup headings semantically using the appropriate <h#> level HTML element and use the corresponding heading class to apply the GOV.UK styling.

Write all headings in sentence case.

{{ example({group: "styles", item: "typography", example: "headings", html: true, open: true, size: "m"}) }}

### Headings with captions

Sometimes you may need to make it clear that a heading is part of a larger section or group. To do this, you can use a heading with a caption.

{{ example({group: "styles", item: "typography", example: "captions", html: true, open: true, size: "l"}) }}

If the caption should be considered part of the page heading, you can also nest the caption within the H1.

{{ example({group: "styles", item: "typography", example: "captions-inside", html: true, open: true, size: "l"}) }}

## Paragraphs

### Body

The default paragraph font size is 19px on large screens and 16px on small screens.

{{ example({group: "styles", item: "typography", example: "body", html: true, open: true}) }}

You can also add classes to create a lead paragraph or smaller body copy to convey hierarchy in your page.

### Lead paragraph

A lead paragraph is an introductory paragraph that you can use at the top of a page to summarise the content. Lead paragraphs use 24px type on desktop and should only be used once per page if needed.

{{ example({group: "styles", item: "typography", example: "lead", html: true, open: true}) }}

### Body small

You can use the `govuk-body-s` class sparingly to make your paragraph font size smaller: 16px on larger screens and 14px on smaller screens.

The majority of your body copy should use the standard 19px paragraph size.

{{ example({group: "styles", item: "typography", example: "small", html: true, open: true}) }}

## Font override classes

You might need to set the font size or font weight of an element outside of the predefined heading and paragraph classes. For this you can use the font override classes in your HTML or reference the typography mixins in your own components.

### Font size

The full GOV.UK typography scale goes from 14px up to 80px on large screens. You can add these font size override classes to any other typographic class or element and they will change the font size.

{{ example({group: "styles", item: "typography", example: "font-size", html: true, open: true, size: "xl"}) }}

### Font weight

As with the font size, you can add a font weight override class to any other typographic class or element to change the font weight to regular or bold weight.

{{ example({group: "styles", item: "typography", example: "font-weight", html: true, open: true}) }}

#### Bold text

You can use bold to emphasise particular words in a transaction. Use it to highlight critical information that users need to refer to or you’ve seen them miss.

For example, "Your reference number is **ABC12345678**. Use this to track your application. Updates will be sent to **this.person<i></i>@email.com**"

Use bold sparingly. Overuse will make it difficult for users to know which parts of your content they need to pay the most attention to. 

## Links

Links are blue and underlined by default. If your link is at the end of a sentence or paragraph, make sure that the linked text doesn’t include the full stop.

{{ example({group: "styles", item: "typography", example: "link", html: true, open: true}) }}

Use the `govuk-link--no-visited-state` modifier class where it is not helpful to distinguish between visited and unvisited states, for example when linking to pages with frequently-changing content such as the dashboard for an admin interface.

{{ example({group: "styles", item: "typography", example: "link-no-visited-state", html: true, open: true}) }}

## Lists

Use lists to make blocks of text easier to read, and to break information into manageable chunks.

{{ example({group: "styles", item: "typography", example: "list", html: true, open: true, size: "s"}) }}

### Bulleted lists

Introduce bulleted lists with a lead-in line ending in a colon. Start each item with a lowercase letter, and don’t use a full stop at the end.

{{ example({group: "styles", item: "typography", example: "list-bullet", html: true, open: true, size: "s"}) }}

### Numbered lists

Use numbered lists instead of bulleted lists when the order of the items is relevant.

You don’t need to use a lead-in line for numbered lists. Items in a numbered list should end in a full stop because each should be a complete sentence.

{{ example({group: "styles", item: "typography", example: "list-number", html: true, open: true, size: "s"}) }}

## Section break

You can use the `govuk-section-break` classes on an `<hr>` element to create a thematic break between sections of content. `govuk-section-break` has class-based modifiers for different size margins.

By default `govuk-section-break` is only visible by its margin. You can add the `govuk-section-break--visible` class to make it visible with a separator line.

{{ example({group: "styles", item: "typography", example: "section-break", html: true, open: true, size: "m"}) }}
