---
title: Typography
description: If your service is on the service.gov.uk subdomain you must use the GDS Transport font
section: Styles
backlog_issue_id: 64
layout: layout-pane.njk
show_page_nav: true
---

{% from "_example.njk" import example %}

## Font

If your service is on the service.gov.uk subdomain you must use the GDS Transport font as stated within the [GDS typography styles](https://design-system.service.gov.uk/styles/typography/).

### Why HMLR sites do not use the GDS Transport font

HMLR do not have permission to use the GDS Transport font for sites that are not hosted on a service.gov.uk domain.

HMLR have opted to use a typeface of Arial for our design system guidelines.

For more help regarding typographic styles, please read the [GDS typography styles](https://design-system.service.gov.uk/styles/typography/).
