---
title: Footer
description: The footer provides copyright, licensing and other information about your service and department.
section: Components
aliases:
backlog_issue_id: 96
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

The footer provides copyright, licensing and other information about your service and department.

{{ example({group: 'components', item: 'footer', example: 'default', html: true, nunjucks: true, open: false}) }}

## When to use this component

Use the footer at the bottom of every page of your service.

## How it works

You can add links to:
- your department’s page on GOV.UK
- other language options
- terms and conditions
- privacy policy

### Default footer

{{ example({group: 'components', item: 'footer', example: 'default', html: true, nunjucks: true, open: false}) }}

### With navigation

{{ example({group: 'components', item: 'footer', example: 'with-navigation', html: true, nunjucks: true, open: false}) }}

### With secondary navigation

Secondary navigation and meta information relating to the site

{{ example({group: 'components', item: 'footer', example: 'with-secondary-navigation', html: true, nunjucks: true, open: false}) }}


## Research on this component

If you’ve used this component, get in touch to share your user research findings.
