---
title: Footer
description: The footer provides copyright, licensing and other information about your service and department.
section: Components
aliases:
backlog_issue_id: 96
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

The footer provides copyright, licensing and other information about your service and department.

{{ example({group: 'components', item: 'footer', example: 'default', html: true, nunjucks: true, open: false}) }}

## When to use this component

Use the footer at the bottom of every page of your service.

## How it works

You can add links to:
- your department’s page on GOV.UK
- other language options
- terms and conditions
- privacy policy

### Default footer

{{ example({group: 'components', item: 'footer', example: 'default', html: true, nunjucks: true, open: false}) }}

### Footer with secondary navigation

{{ example({group: 'components', item: 'footer', example: 'with-navigation', html: true, nunjucks: true, open: false}) }}

### Footer with links to meta information

You can also include links to meta information about a site, like cookies and contact details in the footer, like this:

{{ example({group: 'components', item: 'footer', example: 'with-meta', html: true, nunjucks: true, open: false}) }}

### Footer with secondary navigation and links to meta information

{{ example({group: 'components', item: 'footer', example: 'full', html: true, nunjucks: true, open: false}) }}

## Research on this component

If you’ve used this component, get in touch to share your user research findings.
