---
title: Footer
description: The footer provides copyright, licensing and other information about your service and department
section: Components
aliases:
backlog_issue_id: 96
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

The footer provides copyright, licensing and other information about your service and department.

{{ example({group: "components", item: "footer", example: "default", id: "default-1", html: true, nunjucks: true, open: false, size: "m"}) }}

## When to use this component

Use the footer at the bottom of every page of your service.

## How it works

You can add links to:
- your department’s page on GOV.UK
- other language options
- terms and conditions
- privacy policy

### Default footer

{{ example({group: "components", item: "footer", example: "default", id: "default-2", html: true, nunjucks: true, open: false, size: "m"}) }}

### Footer with secondary navigation

{{ example({group: "components", item: "footer", example: "with-navigation", html: true, nunjucks: true, open: false, size: "xl"}) }}

### Footer with links to meta information

You can also include links to meta information about a site, like cookies and contact details in the footer, like this:

{{ example({group: "components", item: "footer", example: "with-meta", html: true, nunjucks: true, open: false, size: "m"}) }}

### Footer with secondary navigation and links to meta information

{{ example({group: "components", item: "footer", example: "full", html: true, nunjucks: true, open: false, size: "xl"}) }}

### Browser testing

The footer component has been tested with the following browsers and devices:

- Google Chrome 67 on MacOS
- Google Chrome 67 on Windows
- Firefox 61 on MacOS (including tests with custom colors)
- Firefox 61 on Windows
- Safari 11.1
- Edge 17
- iOS Safari 11
- iOS Chrome 63
- Google Chrome 67 on Android
- Samsung Internet 7.2 on Android
- Internet Explorer 11
- Internet Explorer 10
- Internet Explorer 9
- Internet Explorer 8

### Testing with assistive technologies

The footer component has been tested with the following assistive technologies:

- JAWS 16 and 18 on Internet Explorer 11
- NVDA 2017 on Firefox 61
- VoiceOver on Safari 11.1
- VoiceOver on iOS Safari 11
- ZoomText 10.1 on Internet Explorer 11
- Dragon NaturallySpeaking 15.3 on Internet Explorer 11

## Research on this component

If you’ve used this component, get in touch to share your user research findings.
