---
title: Ethnic groups with error
layout: layout-example.njk
---

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "ethnic-group",
  name: "ethnic-group",
  fieldset: {
    legend: {
      text: "What is your ethnic group?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  errorMessage: {
    text: "Select an ethnic group or ‘Prefer not to say’"
  },
  items: [
    {
      value: "asian-or-asian-british",
      text: "Asian or Asian British",
      hint: {
        text: 'Includes any Asian background, for example, Bangladeshi, Chinese, Indian, Pakistani'
      }
    },
    {
      value: "black-african-black-british-or-caribbean",
      text: "Black, African, Black British or Caribbean",
      hint: {
        text: 'Includes any Black background'
      }
    },
     {
      value: "mixed-or-multiple-ethnic-groups",
      text: "Mixed or multiple ethnic groups",
      hint: {
        text: 'Includes any Mixed background'
      }
    },
    {
      value: "white",
      text: "White",
      hint: {
        text: 'Includes any White background'
      }
    },
    {
      value: "another-ethnic-group",
      text: "Another ethnic group",
      hint: {
        text: 'Includes any other ethnic group, for example, Arab'
      }
    },
    {
      divider: "or"
    },
    {
      value: "prefer-not-to-say",
      text: "Prefer not to say",
      label: {
        classes: 'govuk-label'
      }
    }
  ]
}) }}
