// stylelint-disable scss/dollar-variable-pattern

$app-code-base00: scale-color(govuk-colour("light-grey"), $lightness: 50%);
$app-code-base01: #f5f5f5;
$app-code-base02: #bfc1c3;
$app-code-base03: darken($govuk-secondary-text-colour, 2%);
$app-code-base04: #e8e8e8;
$app-code-base05: $govuk-text-colour;
$app-code-base06: #ffffff;
$app-code-base07: #ffffff;
$app-code-base08: $govuk-error-colour;
$app-code-base09: #0e7754;
$app-code-base0A: #4c4077;
$app-code-base0B: $govuk-brand-colour;
$app-code-base0C: $govuk-brand-colour;
$app-code-base0D: #4c4077;
$app-code-base0E: #a71d5d;
$app-code-base0F: #c92424;
