---
title: Text input with spellcheck disabled – Text input
layout: layout-example-form.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Reference number"
  },
  id: "name",
  name: "name",
  spellcheck: false
}) }}
