---
title: Text input with spellcheck disabled
layout: layout-example.njk
---

{% from "input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Reference number"
  },
  id: "name",
  name: "name",
  attributes: {
    spellcheck: "false"
  }
}) }}
