@import "example-init";

.govuk-grid-row {
  [class^="govuk-grid-column"]  {
    background-color: white;
    border: 4px solid govuk-colour("blue");
    padding-bottom: govuk-spacing(2);
  }

  [class^="govuk-grid-column"] > p {
    background-color: transparent;
    color: govuk-colour("blue");
  }

  .govuk-grid-row {
    [class^="govuk-grid-column"]  {
      background-color: white;
      border: 0;
    }
    [class^="govuk-grid-column"] > p {
      @include govuk-font($size: 24);
      @include govuk-responsive-padding(6);

      display: block;
      margin: 0;

      background-color: govuk-colour("blue");
      color: govuk-colour("white");

      text-align: center;
    }
  }
}
