<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded app-example-page__wrapper">
  <head>
    <meta charset="utf-8">
    <title>Server-side implementation with multiple messages and question visible – Cookie banner – Example – GOV.UK Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#1d70b8">

      <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico">
      <link rel="icon" sizes="any" href="/assets/rebrand/images/favicon.svg" type="image/svg+xml">
      <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#1d70b8">
      <link rel="apple-touch-icon" href="/assets/rebrand/images/govuk-icon-180.png">
      <link rel="manifest" href="/assets/rebrand/manifest.json">

  <meta name="robots" content="noindex, nofollow">
  <meta name="og:title" content="Server-side implementation with multiple messages and question visible – Cookie banner">
  <meta name="description" content="">
  <meta name="og:description" content="">
  <link rel="canonical" href="https://design-system.service.gov.uk/components/cookie-banner/server-side-multiple-messages-question-visible/">

  <link href="/stylesheets/govuk-frontend-29487252a98c73d40fcf1c4a638d1d2d.min.css" rel="stylesheet" media="all">
  <link href="/stylesheets/example-28cf8f56ce3cba62d258b5725b59ecd7.css" rel="stylesheet" media="all">

    <meta property="og:image" content="https://design-system.service.gov.uk/assets/images/govuk-opengraph-image.png">
  </head>
  <body class="govuk-template__body app-example-page">
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>



    




<div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on [name of service]">
  <div class="govuk-cookie-banner__message govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-cookie-banner__heading govuk-heading-m">
          Cookies on [name of service]
        </h2>
        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">We use some essential cookies to make this service work.</p>
            <p class="govuk-body">We’d like to set additional cookies so we can remember your settings, understand how people use the service and make improvements.</p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <button value="yes" type="submit" name="cookies[additional]" class="govuk-button" data-module="govuk-button">
        Accept additional cookies
      </button>
      <button value="no" type="submit" name="cookies[additional]" class="govuk-button" data-module="govuk-button">
        Reject additional cookies
      </button>
      <a class="govuk-link" href="#">View cookies</a>
    </div>

  </div>
  <div class="govuk-cookie-banner__message govuk-width-container" hidden>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">You’ve accepted additional cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <button value="yes" type="submit" name="cookies[hide]" class="govuk-button" data-module="govuk-button">
        Hide cookie message
      </button>
    </div>

  </div>
  <div class="govuk-cookie-banner__message govuk-width-container" hidden>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">You’ve rejected additional cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <button value="yes" type="submit" name="cookies[hide]" class="govuk-button" data-module="govuk-button">
        Hide cookie message
      </button>
    </div>

  </div>
</div>




  <script type="module" src="/javascripts/application-example-df1b1846e6ebb2eca45a9e21924dfbd8.js"></script>
  </body>
</html>
