---
layout: layout-pane.njk
title: Software downloads
section: Get started
theme: Design resources
order: 3
description: This guide explains how to set up the software needed to create prototypes and wireframes.
---
At HM Land Registry you are free to use the tools that enable you to complete the job required. However, we recommend using the following pieces of software to enable easier cross-team working.
For prototyping and wireframing, we recomment using;

- [Figma](https://www.figma.com)
- [Sketch](https://www.sketch.com)

Speak with fellow designers on your assigned projects to learn what prototyping software they are currently using.

You may need a licence to use the software. To get a licence, please contact either your line manager, DesignOps, Head of Design or make a Marval request. 

If you are new to Figma or Sketch, we recommend completing the tutorials that appear when you open the software for the first time. 