---
title: Links on dark backgrounds – Typography
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-inverse.css
---

<p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--inverse">link text (on dark background)</a>
</p>
