---
layout: layout-pane.njk
title: Tutorial
section: Get started
theme: Learning
order: 5
description: A quick start tutorial to get started making prototypes using the GOV.UK Design Prototype Kit. 
---
Complete the tutorial on how to use the GDS Prototype Kit.

[Build a basic prototype using the Prototype Kit](https://govuk-prototype-kit.herokuapp.com/docs/make-first-prototype/start)