---
title: A link to another service
layout: layout-example.njk
ignore_in_sitemap: true
---

<div class="govuk-width-container">

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try again later.</p>
      <p class="govuk-body">You can <a class="govuk-link" href="#">change other VAT details</a>.</p>
      <p class="govuk-body"><a class="govuk-link" href="#">Contact the Income Tax Helpline</a> if you need to speak to someone about your tax calculation.</p>

      </div>
    </div>
  </div>

</div>
