---
title: Examples of illustrations in GOV.UK style – Images
layout: layout-example.njk
stylesheets:
- ../images.css
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <img src="sign-in.svg" alt="">
    <p class="govuk-body">
      [MORE EXAMPLES TO FOLLOW]
    </p>
  </div>
</div>


