---
title: Service has offline support but no specific page that includes numbers and opening times – There is a problem with the service pages
layout: layout-example-full-page.njk
---

{% extends "example-wrappers/full-page.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try again later.</p>
      <p class="govuk-body">
        We have not saved your answers. When the service is available, you will have to start again.
      </p>
      <p class="govuk-body">
        Contact the Tax Credits Helpline if you have any questions.
      </p>
      <p class="govuk-body">
        Telephone:<br>
        <strong class="govuk-!-font-weight-bold">0808 157 3900</strong>
      </p>
      <p class="govuk-body">
        Textphone:<br>
        <strong class="govuk-!-font-weight-bold">0808 157 3909</strong>
      </p>
      <p class="govuk-body">
        Outside UK:<br>
        <strong class="govuk-!-font-weight-bold">+44 0808 157 0192</strong>
      </p>
      <p class="govuk-body">
        Opening times:<br>
        <strong class="govuk-!-font-weight-bold">Monday to Friday: 8am to 8pm</strong>
      </p>
      <p class="govuk-body">
        Closed Easter Sunday, Christmas Day, Boxing Day and New Year’s Day.
      </p>
    </div>
  </div>
{% endblock %}
