---
layout: layout-example.njk
---
{{ govukBreadcrumbs({
  "items": [
    {
      "text": "Home",
      "href": "#"
    },
    {
      "text": "Passports, travel and living abroad",
      "href": "#"
    },
    {
      "text": "Travel abroad"
    }
  ]
}) }}
