---
title: Breadcrumbs
description: Help users orientate themselves and navigate pages within a hierarchical structure.
section: Components
theme: Navigation
status: Approved
department: All
aliases: navigation path, cookie crumb, ariadne's thread
copy: done
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

The Breadcrumbs component helps users to understand where they are within a website’s structure and move between levels.

{{ example({group: 'components', item: 'breadcrumbs', example: 'default'}) }}

## When to use this component

Use the Breadcrumbs component when you need to help users understand and move between the multiple levels of a  website.

### When not to use this component

Don’t use the Breadcrumbs component on websites with a flat structure, or to show progress through a linear journey or transaction.

If you’re using other navigational devices on the page, such as a sidebar, consider whether your users need the additional guidance of breadcrumbs.

## How it works

The Breadcrumbs component should include the user’s current page, which should be visually different from the other pages linked to in the breadcrumb.

There are two ways to use the Breadcrumbs component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the GOV.UK Prototype Kit, you can use the Breadcrumbs macro.

{{ example({group: 'components', item: 'breadcrumbs', example: 'default', html: true, nunjucks: true, open: true}) }}

## Dependencies

You must be running [npm version 5 or above](http://blog.npmjs.org/post/161081169345/v500) to use the Breadcrumbs component.

The Breadcrumbs component depends on @govuk-frontend/globals and @govuk-frontend/icons, which will be automatically installed with the package.

## Installation

Install the Breadcrumbs component by running the command:

```
npm install --save @govuk-frontend/breadcrumb
```

## Configuration

To use the Breadcrumbs component you need to setup your build tool to find the package in the node_modules.

When compiling the Sass files you’ll need to define includePaths to reference the node_modules directory.

Below is a sample configuration using Gulp js:

```
.pipe(sass({ includePaths: 'node_modules/' }))
```

### Static asset path configuration

To show the Breadcrumbs image you need to configure your app. Use the sample configuration in Express js to do this:

```
app.use('/public', express.static(path.join(__dirname, '/node_modules/@govuk-frontend/icons')))
app.use('/public', express.static(path.join(__dirname, '/node_modules/@govuk-frontend/icons')))
```

## Quick start examples

There are two ways to use the Breadcrumbs component. You can use HTML or, if you are using the Nunjucks templating language, you can call the Breadcrumbs macro.

HTML

```html
```

Nunjucks macro

```js
```

## Component arguments

The Breadcrumbs macro accepts the following arguments:

<table class="govuk-c-table">

<thead class="govuk-c-table__head">

<tr class="govuk-c-table__row">

<th class="govuk-c-table__header" scope="col">Name</th>

<th class="govuk-c-table__header" scope="col">Type</th>

<th class="govuk-c-table__header" scope="col">Required</th>

<th class="govuk-c-table__header" scope="col">Description</th>

</tr>

</thead>

<tbody class="govuk-c-table__body">

<tr class="govuk-c-table__row">

<th class="govuk-c-table__header" scope="row">classes</th>

<td class="govuk-c-table__cell ">string</td>

<td class="govuk-c-table__cell ">No</td>

<td class="govuk-c-table__cell ">Optional additional classes.</td>

</tr>

<tr class="govuk-c-table__row">

<th class="govuk-c-table__header" scope="row">items</th>

<td class="govuk-c-table__cell ">array</td>

<td class="govuk-c-table__cell ">Yes</td>

<td class="govuk-c-table__cell ">Array of breadcrumb items.</td>

</tr>

<tr class="govuk-c-table__row">

<th class="govuk-c-table__header" scope="row">text</th>

<td class="govuk-c-table__cell ">string</td>

<td class="govuk-c-table__cell ">No</td>

<td class="govuk-c-table__cell ">Text to use within the breadcrumb item.</td>

</tr>

<tr class="govuk-c-table__row">

<th class="govuk-c-table__header" scope="row">html</th>

<td class="govuk-c-table__cell ">string</td>

<td class="govuk-c-table__cell ">No</td>

<td class="govuk-c-table__cell ">HTML to use within the breadcrumb item. If this is provided, the text argument will be ignored.</td>

</tr>

<tr class="govuk-c-table__row">

<th class="govuk-c-table__header" scope="row">href</th>

<td class="govuk-c-table__cell ">string</td>

<td class="govuk-c-table__cell ">no</td>

<td class="govuk-c-table__cell ">Link for the breadcrumb item. If not specified, breadcrumb item is a normal list item.</td>

</tr>

<tr class="govuk-c-table__row">

<th class="govuk-c-table__header" scope="row">attributes</th>

<td class="govuk-c-table__cell ">object</td>

<td class="govuk-c-table__cell ">No</td>

<td class="govuk-c-table__cell ">Any extra HTML attributes (for example data attributes) to add to the breadcrumb container.</td>

</tr>

</tbody>

</table>

### Set up Nunjucks views and paths

Below is an example setup using Express js configure views:

```js
nunjucks.configure('node_modules/@govuk-frontend', {
  autoescape: true,
  cache: false,
  express: app
})
```

## Get updates

Check you have the latest version of the Breadcrumbs by using the command:

```
npm outdated @govuk-frontend/breadcrumb
```

Update to the latest version of the Breadcrumbs by using the command:

```
npm update @govuk-frontend/breadcrumb
```


## Contribution
To contribute new components or make contributions to existing components visit [govuk-frontend/CONTRIBUTING.md](https://github.com/alphagov/govuk-frontend/blob/master/CONTRIBUTING.md)

## License
MIT

## Research on this component

If you’ve used this component, [get in touch](#get-in-touch) to share your user research findings.
