---
title: Breadcrumbs
description: Help users orientate themselves and navigate pages within a hierarchical structure.
section: Components
aliases: navigation path, cookie crumb
backlog_issue_id: 33
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

The breadcrumbs component helps users to understand where they are within a website’s structure and move between levels.

{{ example({group: 'components', item: 'breadcrumbs', example: 'default', html: true, nunjucks: true, open: false}) }}

## When to use this component

Use the breadcrumbs component when you need to help users understand and move between the multiple levels of a website.

## When not to use this component

Don’t use the breadcrumbs component on websites with a flat structure, or to show progress through a linear journey or transaction.

If you’re using other navigational elements on the page, such as a sidebar, consider whether your users need the additional support of breadcrumbs.

## How it works

The breadcrumbs component should include the user’s current page, which should be visually different from the other links in the breadcrumb.

There are 2 ways to use the breadcrumbs component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: 'components', item: 'breadcrumbs', example: 'default', html: true, nunjucks: true, open: true}) }}

## Research on this component

If you’ve used this component, get in touch to share your user research findings.
