---
layout: layout-example.njk
---

<p class="govuk-body">To view the Skip link component click inside this example and press tab.</p>
{{ govukSkipLink({
  "text": "Skip to main content",
  "href": "#content"
}) }}
