---
title: Skip link
description: Use the skip link component to help keyboard-only users skip to the main content on a page
section: Components
aliases: Skip navigation link
backlog_issue_id: 66
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Use the skip link component to help keyboard-only users skip to the main content on a page.

{{ example({group: "components", item: "skip-link", example: "default", html: true, nunjucks: true, open: false}) }}

## When to use this component

All GOV.UK pages must include a skip link in the header.

## How it works

Some people use the tab key on their keyboard to navigate through the links and form elements on a web page.

Including the skip link component gives users the option to bypass the top-level navigation links and jump to the main content on a page.

The skip link component is visually hidden until a keyboard press activates it.

There are 2 ways to use the skip link component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: "components", item: "skip-link", example: "default", html: true, nunjucks: true, open: false, titleSuffix: "second"}) }}
