---
title: Colour
description:
section: Styles
aliases:
layout: layout-styles.njk
---

{% from "_example.njk" import example %}

Always use the GOV.UK colour palette.


{{ example({group: 'styles', item: 'colour', example: 'default'}) }}
