---
title: Student loan amount
description: Ask users how much student loan they repaid in a given timeframe
section: Patterns
theme: Ask users for…
aliases: loan amount, student loan
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "patterns", item: "student-loan-amount", example: "default", html: true, nunjucks: true, open: false}) }}

## When to use this pattern

Use this pattern when you need to ask a user how much they repaid towards their student loan in a given timeframe.

## How it works

### Error messages

Error messages should be styled like this:

{{ example({group: "patterns", item: "teacher-reference-number", example: "error-empty-field", html: true, nunjucks: true, open: false, size: "s"}) }}

Make sure errors follow the guidance in the GDS
[error message component](https://design-system.service.gov.uk/components/error-message/)
and have specific error messages for specific error states.

#### If nothing has been entered

#### If the incorrect amount of characters have been entered

## Research on this pattern
