---
title: Example of safety content page
layout: layout-example-full-page.njk
---

{% extends "example-wrappers/full-page.njk" %}

{% block content %}
		<h1 class="govuk-heading-l">Ways to stay safe online</h1>

		<p class="govuk-body"> It can be easy for someone to see what you’re doing online, especially if you’re using a home computer.</p>

		<p class="govuk-body">You can make it more difficult for them by taking some precautions.</p>

		<p class="govuk-body">If you think your devices or internet search activities are being monitored, try to use a device that is not being monitored. That should be a device that the person does not or has not had physical or remote access to. This is the safest thing to do if you do not want someone to know that you’re visiting certain websites.</p>

		<h2 class="govuk-heading-m">Cover your tracks online</h2>

		<p class="govuk-body">Every time you use the internet, your browser stores a record of where you’ve been online with:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>a list of the pages you’ve looked at and the files you’ve downloaded</li>
			<li>small files called cookies which remember your settings for different sites</li>
		</ul>

		<h2 class="govuk-heading-m">Deleting your internet browsing history</h2>

		<p class="govuk-body">You can improve your safety by deleting your internet browsing history. But you need to be careful because:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>deleting cookies will also get rid of stored passwords for online accounts</li>
			<li>clearing your history could make someone more suspicious</li>
		</ul>

		<p class="govuk-body">Try to only remove information about the websites you want to keep private. You can find out how to do that on:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				<a href="https://support.google.com/chrome/answer/95589?hl=en&rd=1" class="govuk-link">Google Chrome</a>
			</li>
			<li>
				<a href="https://support.apple.com/kb/PH19215?locale=en_US&viewlocale=en_US" class="govuk-link">Safari</a>
			</li>
			<li>
				<a href="https://support.microsoft.com/en-us/windows/view-and-delete-your-browsing-history-in-internet-explorer-098ffe52-5ac9-a449-c296-c735c32c8678" class="govuk-link">Internet Explorer</a>
			</li>
			<li>
				<a href="https://support.mozilla.org/en-US/kb/delete-browsing-search-download-history-firefox" class="govuk-link">Mozilla Firefox</a>
			</li>						
			<li>
				<a href="http://www.opera.com/help/tutorials/security/sharing/" class="govuk-link">Opera</a>
			</li>
		</ul>

		<h2 class="govuk-heading-m">Browsing in private</h2>

		<p class="govuk-body">You can also look at a website without information like cookies being stored by using the private browsing setting in your browser. Go to the menu, click on ‘File’ and choose:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>Incognito on Google Chrome</li>
			<li>Private Window on Safari</li>
			<li>InPrivate on Internet Explorer</li>
			<li>Private Browsing on Mozilla Firefox or Opera</li>
		</ul>
{% endblock %}
