---
title: Example of an input asking for numbers with decimal places – Text input
layout: layout-example-form.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Weight, in kilograms"
  },
  classes: "govuk-input--width-5",
  id: "weight",
  name: "weight",
  suffix: {
    text: "kg"
  },
  spellcheck: false
}) }}
