---
title: About
description: about the GOV.UK Design System team
layout: layout-single-page-prose.njk
---

# About

The GOV.UK Design System is built by the GOV.UK Design System team at the
[Government Digital Service](https://www.gov.uk/government/organisations/government-digital-service) in London.

The team helps teams across the UK Government build well designed,
efficiently built services that provide a consistent user experience.

If you want to contact the team you can
[get in touch via email or Slack](https://design-system.service.gov.uk/get-in-touch/).

## Team members

- Amy Hupe – Senior Content Designer
- Hanna Laakso – Frontend Developer
- Kelly Lee – Delivery Manager
- Mark Green – Technical Writer
- Nick Colley – Senior Frontend Developer
- Oliver Byford – Senior Developer (Tech Lead)
- Rosie Clayton – User Researcher
- Roxanne Asadi – Senior Product Manager
- Tim Paul – Product Manager
