---
title: Accessibility
description: accessibility in the GOV.UK Design System
layout: layout-single-page-prose.njk
---

# Accessibility

The GOV.UK Design System team works hard to ensure that this Design System and GOV.UK Frontend, the codebase it uses, are accessible.

The Design System and GOV.UK Frontend were last tested for accessibility in May 2019. The test was carried out by accessibility specialists [DAC (Digital Accessibility Centre)](https://digitalaccessibilitycentre.org/) against level AA of the Web Content Accessibility Guidelines (WCAG) 2.1.

You can see the [issues DAC raised and what the team has fixed](https://github.com/issues?q=is%3Aissue+archived%3Afalse+org%3Aalphagov+label%3A%22audit%3A+may-2019%22+).

There are a small number of [accessibility issues that the team still needs to fix](https://github.com/issues?q=is%3Aissue+archived%3Afalse+org%3Aalphagov+label%3A%22audit%3A+may-2019%22+is%3Aopen).

Where possible, the team aims to research components and patterns with a representative range of users, including those with disabilities. 

It also tests components to ensure they work with a broad range of [browsers, devices and assistive technologies](https://github.com/alphagov/govuk-frontend#assistive-technology-support).

## Making your service accessible

While the GOV.UK Design System team takes steps to ensure the Design System is as accessible as possible by default, this does not remove the need for contextual research. 

Using GOV.UK Frontend does not mean your service automatically meets level AA of WCAG 2.1. You'll still need to make sure your service as a whole meets accessibility requirements.

You must research styles, components and patterns as part of your service to ensure that they are accessible in context.  

Find out what you need to do to [make your service accessible](https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction) in the GOV.UK Service Manual.

## If you are not using the GOV.UK Design System and GOV.UK Frontend

The Design System and Frontend were introduced in June 2018 to replace the following deprecated codebases:

- GOV.UK Elements
- GOV.UK Frontend Toolkit
- GOV.UK Template

The GOV.UK Design System team no longer supports these products and will not be making updates to help them meet level AA of WCAG 2.1. 

If you're using these products, you should start [updating your service to use the Design System and Frontend](https://design-system.service.gov.uk/get-started/updating-your-code/).

If you have any questions or need help, you can contact the GOV.UK Design System team:

- using the [#govuk-design-system channel on cross-government Slack](https://ukgovernmentdigital.slack.com/app_redirect?channel=govuk-design-system)
- by email at govuk-design-system-support@digital.cabinet-office.gov.uk
