---
title: Accessibility
description: accessibility in the GOV.UK Design System
layout: layout-single-page-prose.njk
---

# Accessibility

The GOV.UK Design System website and the codebase it uses, GOV.UK Frontend, is maintained by a team at the Government Digital Service (GDS).

This page explains how the team works to ensure the Design System and Frontend are accessible.

[Read about how to test components using accessibility acceptance criteria.](https://github.com/alphagov/govuk-frontend/blob/main/docs/contributing/test-components-using-accessibility-acceptance-criteria.md)

## Accessibility statement for the GOV.UK Design System website

This accessibility statement applies to the GOV.UK Design System at https://design-system.service.gov.uk/, and the components and patterns from the GOV.UK Frontend codebase which appear in the examples throughout the Design System.

The GOV.UK Design System team wants as many people as possible to be able to use this website. For example, that means you should be able to:

- change colours, contrast levels and fonts
- zoom in up to 300% without the text spilling off the screen
- navigate most of the website using just a keyboard
- navigate most of the website using speech recognition software
- listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)

The team has also made the website text as simple as possible to understand.

[AbilityNet](https://mcmw.abilitynet.org.uk/) has advice on making your device easier to use if you have a disability.

### Feedback and contact information

The GOV.UK Design System team is always looking to improve the accessibility of this website. If you find any problems that are not listed on this page or think this website is not meeting accessibility requirements, email the GOV.UK Design System team at govuk-design-system-support@digital.cabinet-office.gov.uk

The GOV.UK Design System team will review your request and get back to you in 2 working days.

### Enforcement procedure

The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, [contact the Equality Advisory and Support Service (EASS)](https://www.equalityadvisoryservice.com/).

GDS is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.

### Compliance status

The Design System website at [https://design-system.service.gov.uk/](/) is partially compliant with the Web Content Accessibility Guidelines (WCAG) version 2.1 AA standard, due to the non-compliances listed below.

The GOV.UK Frontend documentation website at [http://frontend.design-system.service.gov.uk/](https://frontend.design-system.service.gov.uk/) is partially compliant with the WCAG 2.1 AA standard. We know some parts of this website are not fully accessible as there are issues caused by our Technical Documentation Template.

### Non-accessible content

The content listed below is non-accessible for the following reasons.

#### Non-compliance with the accessibility regulations

The Design System website at [https://design-system.service.gov.uk/](/) is partially compliant due to the following non-compliances:

- the section headings in accordions can be mistaken for links, but are treated as buttons - this fails [WCAG 2.1 success criterion 1.3.1 Info and Relationships](https://www.w3.org/WAI/WCAG21/Understanding/info-and-relationships)

We plan to fix this accessibility issue by the end of September 2021.

The GOV.UK Frontend documentation website at http://frontend.design-system.service.gov.uk/ is partially compliant because of [an issue caused by our Technical Documentation Template](https://tdt-documentation.london.cloudapps.digital/accessibility/#using-the-technical-documentation-template-for-your-own-documentation).

We plan to fix this issue by 30 September 2021.

### How this website has been tested for accessibility

The Design System website was last tested on 7 October 2019. The test was carried out by the [Digital Accessibility Centre (DAC)](https://digitalaccessibilitycentre.org/).

DAC tested a sample of pages to cover the different content types in the GOV.UK Design System website. They were:

- [the homepage](/)
- [a short content page](/community/design-system-working-group)
- [a long content page](/styles/layout/)
- [an overview page](/community/)
- [a styles page](/styles/typography/)
- [a component page](/components/radios/)
- [a pattern page](/patterns/question-pages/)

They also tested the global search functionality that appears in the header of every page in the Design System.

The [GOV.UK Frontend documentation website](http://frontend.design-system.service.gov.uk/) was last tested for accessibility issues in March 2021.

### How the GOV.UK Design System team makes this website accessible

The GOV.UK Design System team works hard to ensure that this Design System and Frontend, the codebase it uses, are accessible.

Where possible, the team aims to research components and patterns with a representative range of users, including those with disabilities.

We also test components to ensure they work with a broad range of browsers, devices and assistive technologies - including screen magnifiers, screen readers and speech recognition tools.

When we publish new content, we'll continue to make sure that it meets accessibility standards.

### Preparation of this accessibility statement

This statement was prepared on 23 October 2019. It was last reviewed on 30 June 2021.

## Using the Design System and Frontend in your service

While the GOV.UK Design System team takes steps to ensure the Design System is as accessible as possible by default, you still need to carry out contextual research.

Using Frontend does not mean your service automatically meets level AA of WCAG 2.1. You’ll still need to make sure your service as a whole meets accessibility requirements.

You must research styles, components and patterns as part of your service to ensure that they are accessible in context.

Find out what you need to do to [make your service accessible](https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction) in the GOV.UK Service Manual.

## If you are not using the Design System and Frontend

The Design System and Frontend were introduced in June 2018 to replace the following deprecated codebases:

- GOV.UK Elements
- GOV.UK Frontend Toolkit
- GOV.UK Template

The GOV.UK Design System team no longer supports these products and will not be making updates to help them meet level AA of WCAG 2.1.

If you're using these products, you should start [updating your service to use the Design System and Frontend](/get-started/updating-your-code/).

If you have any questions or need help, contact the GOV.UK Design System team:

- using the [#govuk-design-system channel on cross-government Slack](https://ukgovernmentdigital.slack.com/app_redirect?channel=govuk-design-system)
- by email at govuk-design-system-support@digital.cabinet-office.gov.uk
