
<div class="govuk-mb-5 govuk-u-core-19">
  <div class="govuk-o-site-width-container app-c-site-width-container">

      <div class="govuk-o-grid">

        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds govuk-u-mb-5">
          
          <h2 class="heading-large">Design System backlog</h2>

          <p>This is the backlog of styles, components and patterns that the GOV.UK design community has proposed or is working on.</p>

          <p>The backlog is managed on GitHub. Select an item to see what work has been done, give feedback or offer help.</p>


        {% set columns = backlog.data.repository.project.columns.nodes %}

        {% for column in columns | reverse %}

        <h2 class="heading-medium">{{ column.name }}</h2>
        
        {% set cards = column.cards.edges %}

        <p>{{ cards[0].node.note }}</p>

        <table class="govuk-c-table">

          {% for card in cards %}

          <tr>

          {% if card.node.content.title %}

            <td class="govuk-c-table__cell">
              <a href="{{ card.node.content.url }}">{{ card.node.content.title }}</a>
            </td>

          {% endif %}

          </tr>

          {% endfor %}
          
        </table>

        {% endfor %}

        </div>

      </div>
  </div>
</div>
