---
title: GOV.UK Design System and Prototype Kit team
description: about the GOV.UK Design System and Prototype Kit team and who works on them
layout: layout-single-page-prose.njk
---

# GOV.UK Design System and Prototype Kit team

The GOV.UK Design System and Prototype Kit team at the
[Government Digital Service](https://www.gov.uk/government/organisations/government-digital-service) (GDS) maintains this design system. We also maintain the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com/docs).

If you want to contact the team you can
[get in touch via email or Slack](/get-in-touch/).

## GOV.UK Design System team
- Kelly Lee – Delivery Manager
- Trang Erskine – Senior Product Manager

### 'Design System' squad

- Calvin Lau – Senior Content Designer
- Charlotte Downs – Interaction Designer
- Chris Ballantine-Thomas – Senior Interaction Designer
- Ciandelle Scollan – Interaction Designer
- David Cox – Senior Accessibility Specialist
- Imran Hussain – Community Manager
- Katrina Birch – User Researcher
- Kim Grey – Frontend Developer
- Owen Jones – Senior Frontend Developer

### 'Frontend' squad

- Brett Kyle – Frontend Developer
- Claire Ashworth – Technical Writer
- Colin Rotherham – Senior Frontend Developer
- Oliver Byford – Lead Frontend Developer, Digital Service Platforms
- Romaric Pascal – Senior Frontend Developer

## GOV.UK Prototype Kit team

- Amelia Phillips – User Researcher
- Ben Surgison – Senior Node JS Developer
- Izabela Podralska – Delivery Manager
- Joe Lanman – Lead Interaction Designer
- Laurence de Bruxelles – Developer
- Natalie Carey – Senior Developer (Tech Lead)
- Nora Brodian – Content Designer
- Ruth Hammond – Product Manager
