---
title: GOV.UK Design System team
description: about the GOV.UK Design System team and who works on it
layout: layout-single-page-prose.njk
---

# GOV.UK Design System team

The GOV.UK Design System team at the
[Government Digital Service](https://www.gov.uk/government/organisations/government-digital-service) maintains this design system.

If you want to contact the team you can
[get in touch via email or Slack](https://design-system.service.gov.uk/get-in-touch/).

## Members

- Calvin Lau - Content Designer
- Charlotte Downs – Interaction Designer
- Chris Thomas – Senior Interaction Designer
- Eoin Shaughnessy – Technical Writer
- Hanna Laakso – Senior Frontend Developer
- Imran Hussain - Community Manager
- Joe Lanman – Lead Interaction Designer
- Kelly Lee – Delivery Manager
- Laurence de Bruxelles - Developer
- Oliver Byford – Senior Developer (Tech Lead)
- Rosie Clayton – User Researcher
- Sara Cox – Senior Performance Analyst
- Tim Paul – Head of Interaction Design at GDS
- Trang Erskine – Senior Product Manager
- Vanita Barrett – Senior Frontend Developer
