---
layout: layout-single-page.njk
---

<div class="govuk-o-width-container app-c-site-width-container">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
         <h1 class="govuk-heading-xl">Get in touch</h1>

         <p class="govuk-body-l">If you’ve got a question, idea or suggestion get in touch with the Design System team.</p>

         <h2 class="govuk-heading-l">Private beta Slack channel</h2>

         <p class="govuk-body">Use <a class="govuk-link" class="govuk-link" href="https://ukgovernmentdigital.slack.com/messages/govuk-design-system">#govuk-design-system</a>, on cross-government Slack (<a class="govuk-link" class="govuk-link" href="slack://channel?team=T04V6EBTR&id=C6DMEH5R6">open in app</a>)</a></p>

         <h2 class="govuk-heading-l">Email</h2>
         <p class="govuk-body">Email the Design System team on <a class="govuk-link" class="govuk-link" href="mailto:govuk-design-system-support@digital.cabinet-office.gov.uk">govuk-design-system-support@digital.cabinet-office.gov.uk</a></p>
      </div>
    </div>
</div>
