---
title: Get in touch
description: If you've got a question, idea or suggestion get in touch with the Design System team
layout: layout-pane-no-nav.njk
show_subnav: false
---

If you've got a question, idea or suggestion get in touch with the Design System team.

## Slack

Use the [#hm-land-registry channel on cross-government Slack](https://ukgovernmentdigital.slack.com/app_redirect?channel=hm-land-registry).

## Email

Email the Design System team on TODO@hmlr.gov.uk
