---
title: Get in touch
description: If you’ve got a question, idea or suggestion get in touch with the Design System team
layout: layout-single-page.njk
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Get in touch</h1>

    <p class="govuk-body-l">If you’ve got a question, idea or suggestion get in touch with the Design System team.</p>

    {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

    {% set callout %}
      The GOV.UK Design System team provide support to people who work in the government.<br>
      <br>
      We cannot give general advice to the public. We do not have access to information about you held by government departments.<br>
      <br>
      For other enquiries, use <a class="govuk-link" href="https://www.gov.uk/contact">the contact form on GOV.UK</a>.
    {% endset %}

    {{ govukWarningText({
      html: callout,
      iconFallbackText: "Warning"
    }) }}

    <h2 class="govuk-heading-l">Slack</h2>

    <p class="govuk-body">Use the <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/app_redirect?channel=govuk-design-system" data-hsupport="slack">#govuk-design-system channel on cross-government Slack</a>.</p>

    <h2 class="govuk-heading-l">Email</h2>

    <p class="govuk-body">For general support queries, please email the Design System team on <a class="govuk-link" href="mailto:govuk-design-system-support@digital.cabinet-office.gov.uk" data-hsupport="email">govuk-design-system-support@digital.cabinet-office.gov.uk</a>.</p>
  </div>
</div>
