---
title: Home
description: Design your service using GOV.UK styles, components and patterns
masthead: true
---

{% include "_masthead.njk" %}
{% include "_whats-new.njk" %}

<div class="app-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l govuk-!-font-weight-bold">Styles</h2>
        <p class="govuk-body">Make your service look like GOV.UK with guides for applying layout, typography, colour and&nbsp;images.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/styles/" class="govuk-link govuk-!-font-weight-bold">Browse styles</a></p>
      </div>
      <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Components</h2>
        <p class="govuk-body">Save time with reusable, accessible components for forms, navigation, panels, tables and&nbsp;more.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/components/" class="govuk-link govuk-!-font-weight-bold">Browse components</a></p>
      </div>
      <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Patterns</h2>
        <p class="govuk-body">Help users complete common tasks like entering names and addresses, filling in forms and creating accounts.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/patterns/" class="govuk-link govuk-!-font-weight-bold">Browse patterns</a></p>
      </div>

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
      </div>

      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 id="community" class="govuk-heading-l">Community</h2>
        <p class="govuk-body">
          The GOV.UK Design System is for everyone, with a strong community sitting behind it. It brings together the latest research, design and development from across government to make sure it’s representative and relevant for its users.</p>

        <p class="govuk-body">
          You can contribute to the Design System by:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/community/propose-a-component-or-pattern/" class="govuk-link" data-hcontribute="guidelinegh">proposing a new component or pattern</a></li>
          <li><a href="/community/develop-a-component-or-pattern/" class="govuk-link" data-hcontribute="guidelinegh">developing a component or pattern</a></li>
        </ul>

        <p class="govuk-body">
          You can also see what people are currently working on in the <a href="/community/backlog/" class="govuk-link" data-hcontribute="guidelinegh">community backlog</a>.
        </p>

      </div>

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
      </div>

      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 id="support" class="govuk-heading-l">Support</h2>
        <p class="govuk-body">
          The GOV.UK Design System is <a class="govuk-link" href="/design-system-team/">maintained by a team at the Government Digital Service</a>.
          If you’ve got a question, idea or suggestion, you can <a class="govuk-link" href="/get-in-touch/">contact the team</a>.
        </p>
       <p class="govuk-body">
        See <a class="govuk-link" href="/community/blogs-talks-podcasts/">blog posts, video talks, and podcasts about the GOV.UK Design System and Prototype Kit</a>.
</p>
      </div>

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-mb-r4">
        <h2 class="govuk-heading-l">Roadmap</h2>
        <p class="govuk-body">
          See what the Design System team at GDS is planning to work on over the next 12 months in the
          <a href="/community/roadmap/" class="govuk-link" data-hcontribute="guidelinegh">GOV.UK Design System Roadmap</a>.
        </p>
      </div>

    </div>
  </div>
</div>
