---
title: Roadmap
description: The roadmap shows what the Design System team at GDS is currently planning to work on over the coming year
layout: layout-single-page-prose.njk
---


# Roadmap

This roadmap shows what the Design System team at GDS is currently planning to work on over the coming year.

The individual styles, components and patterns in this Design System are the work of teams across government and so are not included in this roadmap. If you’re looking for a style, component or pattern that isn’t in the Design System, you can see what people are currently working on in the [community backlog](/community/backlog).

## The next 6 months

In the next 6 months the Design System team plans to:

- add search to the Design System
- improve support for users migrating to the Design System
- improve how users get notified about updates to the Design System
- improve integration of the community backlog into the Design System
- offer more page examples to use in the Prototype Kit
- offer self-guided Prototype Kit training
- retire Dropbox Paper
- improve contribution guidance
- explore the relationship between individual department’s design and frontend resources and the Design System


## 6-12 months

In 6 to 12 months the Design System team plans to:

- explore versioning the Design System
- make it easier for services that don’t look like GOV.UK to use the Design System
- extend Prototype Kit training to include more advanced techniques


## Later

Beyond 12 months the Design System team plans to:

- offer component macros in more languages
- allow the Design System to appear in searches from other GDS guidance (and vice versa)
- explore support for prototyping using third-party tools
