---
layout: layout-single-page-prose.njk
---

# GOV.UK Design System roadmap

{% from "_example.njk" import example %}

This roadmap shows what the Design System team at GDS is planning to work on over the coming year.

The activities listed below might change based on user needs, feedback or changes to priorities. . If you want to know more about a specific item, please [get in touch].

If you’re looking for a pattern or component that isn’t currently in the Design System, you can  see what’s currently being worked on in the [community backlog on GitHub] where teams across government can share research, guidance and code.


## In the next 6 months

- Add search to the Design System
- Improve support for users migrating to the Design System
- Improve how users get notified about updates to the Design System
- Improve integration of the community backlog into the Design System
- Offer more page examples to use in the Prototype Kit
- Offer self-guided Prototype Kit training
- Retire Dropbox Paper
- Improve contribution guidance
- Explore relationship between individual department’s design and frontend resources and the Design System


## 6-12 months

- Explore versioning the Design System
- Make it easier for services that don't look like GOV.UK to use the Design System
- Extend Prototype Kit training to include more advanced techniques


## Later

- Offer component macros in more languages
- Allow Design System to appear in searches from other GDS guidance (and vice versa)
- Explore support for prototyping using third-party tools

