---
layout: layout-single-page-prose.njk
---

# GOV.UK Design System roadmap

{% from "_example.njk" import example %}

The roadmap shows the intentions for the development of the Design System by the support team at GDS over the coming year. 

It is not a commitment to deliver everything listed here and is subject to change in response to feedback and changes to priorities. If you want to know more about a specific item, please [get in touch](http://localhost:3000/#get-in-touch).

And if you are looking for a pattern or component, please check out the [community backlog](https://github.com/alphagov/govuk-design-system-backlog) where research, guidance and code are being contributed on by teams across government.

## Within 6 months

- Allow users to search in the Design System
- Improve support for users migrating to the Design System
- Improve notification of updates to the Design System
- Better integrate the cross-government community backlog
- Offer more page examples to use in the Prototype Kit
- Offer self-guided Prototype Kit training
- Retire DropBox Paper
- Iterate contribution guidance
- Explore relationship individual department’s design and frontend resources and the Design System

## 6-12 months

- Explore versioning the Design System
- Provide ‘white label’ versions of components and patterns
- Extend Prototype Kit training to include more advanced techniques

## Later

- Offer component macros in more languages
- Allow Design System to appear in searches from other GDS guidance (and vice versa)
- Explore support for prototyping using third-party tools
