---
title: Margin scale – Spacing
layout: layout-example.njk
---

<p class="govuk-body govuk-!-margin-bottom-9">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-margin-bottom-8">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-margin-bottom-7">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-margin-bottom-6">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-margin-bottom-5">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-margin-bottom-4">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-margin-bottom-3">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-margin-bottom-2">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-margin-bottom-1">A paragraph with an overridden margin-bottom.</p>
<p class="govuk-body govuk-!-margin-bottom-0">A paragraph with an overridden margin-bottom.</p>
