---
title: Email addresses
description: Help users enter a valid email address
section: Patterns
theme: Ask users for…
aliases:
backlog_issue_id: 45
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "patterns", item: "email-addresses", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this pattern

Follow this pattern whenever you need to capture an email address.

## How it works

When asking users for their email address, you must:

- make it clear why you’re asking
- make sure the field works for all of your users
- help users to enter a valid email address

You may also need to check that users have access to the email account they give you.

{{ example({group: "patterns", item: "email-addresses", example: "default", html: true, nunjucks: true, open: true, size: "s"}) }}

### Tell users why you want the email address

Make it clear what the email address will be used for so that:

- users feel confident that you’re not going to abuse it
- users with multiple email addresses can choose which one to give you

If the email address field is part of a sign-in box, you don’t need to say: ‘We need your email so we can sign you in’.

### Make sure the field works for all of your users

Make sure the field can accommodate up to 256 characters, which is the longest an email address can be.

### Help users to enter a valid email address

Help your users to enter a valid email address by:

- checking they have entered the correct format
- allowing users to paste the email address
- using the `type=“email”` attribute so that devices display the correct keyboard
- confirming their address back to them so they can check and change it

The field should be wide enough for most users to see their entire email address once they have entered it. A good rule of thumb is to make sure you can see at least 30 characters at once. You can analyse your user data to refine this.

You can check for common misspellings of popular email providers, for example ‘homtail.com’ instead of ‘hotmail.com’. Warn users if you detect one, but allow them to proceed in case it’s a genuine email address.

Some services ask users to repeat their email address. Only do this if your user research shows it to be effective.

### Check the user has access to their email account

If email is an essential part of your service - for example to send a password reset - you can confirm whether the user has access to the email address they give you using an [email confirmation loop](../confirm-an-email-address).

However, these are disruptive and should be avoided as far as possible.

## Research on this pattern

If you’ve used this pattern, get in touch to share your user research findings.
