---
title: Text with focus
layout: layout-example.njk
---


<h3 class="govuk-heading-s">Focusable text link</h3>
<p class="govuk-body"><a href="#" class="govuk-link">This is a focusable link</a> and it is styled using the <code class="govuk-!-font-size-24">govuk-focusable-fill</code> mixin.</p>
