---
title: Design System working group
description:
section: Community
layout: layout-pane.njk
order: 4
---

The Design System working group is a multi-disciplinary, cross-government group whose purpose is to ensure that any components and patterns published in the GOV.UK Design System are of a high quality and meet user needs.

They do this by:

- reviewing new proposals against the [Design System criteria](../contribution-criteria)
- approving new components and patterns for publication
- resolving queries escalated to them by the GOV.UK Design System team
- representing the needs of their colleagues across government

## Working group guidelines

The GOV.UK Design System is currently in beta. We will be developing this guidance based on user research over the coming months.

These guidelines are designed to help the members of the working group review components and patterns on the [community backlog](/community/backlog).

## Reviewing contributions

Anyone can propose a new component or pattern for the GOV.UK Design System by [raising an issue](https://github.com/alphagov/govuk-design-system-backlog/issues/new) in the community backlog. They can also volunteer their time to develop components and patterns in the 'To do' column in the backlog.

It’s the job of the working group to review new proposals and contributions against the [Design System criteria](../contribution-criteria).

Members of the working group will meet once a month to review outstanding contributions. The GOV.UK Design System team will send a list of the contributions to the working group one week before each meeting, to allow them to look at them in advance.

A member of the GOV.UK Design System team will facilitate the meeting and record the outcome for each proposal and contribution in a decision log. They will also record details of any recommendations which need to be fed back to the contributor.

After the meeting, the GOV.UK Design System team will contact the contributors to let them know if their submission was:

- agreed
- not agreed
- unable to be reviewed because more information was needed

At this point, the contributors will also be given any recommendations from the working group.

The decision log for each contribution, including any recommendations, will be published in GitHub to make them available to the rest of the community.

## Reviewing new proposals

During the meeting, the group should go through each proposed idea one at a time, and decide whether it is useful and unique in accordance with the Design System criteria for new proposals.

Decisions should be made based on the idea for a component or pattern, and not on any specific implementation which might have been shared with the proposal.

Once proposals have been agreed, the Design System team will move issues for agreed proposals from the ‘Proposed’ column to the ‘To do’ column in the backlog.

## Before publication

As with new proposals, the working group should go through each contribution one at a time and decide whether it meets the Design System criteria for publication.

After the review session, the Design System team will contact the contributor to arrange the steps needed to get successful components and patterns ready to publish. Any guidance will have a final check from a content designer, and code will need to be reviewed with a developer to make sure it meets the GOV.UK Frontend coding standards.

Depending on the amount of work needed, it may take a few weeks to complete these steps.

Once contributions are published, the Design System team will move the issue from ‘In progress’ to ‘Published’.

For any components and patterns which were not agreed, the Design System team will speak to the contributor and let them know of any extra work they might need to do.
