---
title: Design System working group
description: The GOV.UK Design System working group is a multidisciplinary, cross-government group whose purpose is to ensure that components and patterns published in the GOV.UK Design System are of a high quality and meet user needs
section: Community
layout: layout-pane.njk
order: 7
---

The Design System working group is a multidisciplinary panel of representatives from across government. It makes sure that all components and patterns published in the Design System are of a high quality and meet user needs.

The working group:

- reviews proposals and contributions against the [contribution criteria](/community/contribution-criteria/)
- makes recommendations to help contributors improve their work
- advocates for the needs of colleagues across government

## Why the working group exists

By including representatives from a mixture of disciplines and departments, the working group helps to ensure that the Design System represents its users.

It means that decisions made are fair and unbiased, and that the Design System reflects the experiences of the whole of government not just one department. 

## Join the working group

We’re looking for new members to help make the working group more diverse, equitable and representative of the wider public sector.

Get in touch with us if you can help expand our range of voices across ethnicity, age, gender, experience and discipline.

Although our members volunteer their time with us, many of them do so as part of their community or corporate objectives.

To find out more about what’s involved, read our [Working Group principles and ways of working](https://docs.google.com/document/d/1f6jUvxs94LjZXvHxiJIitm6_daKy2eYaVNVlYxmz5OE/edit?usp=sharing).

If you’re interested, [sign up and tell us a bit about yourself](#). Apply by 5pm on 26 February 2021.
