---
title: Contact information details component – Contact a department or service team
layout: layout-example.njk
---

{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set contactInformation %}
  <ul class="govuk-list">
    <li>Phone: 020 7946 0101</li>
    <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
    <li>Saturday and Sunday, 10am to 4pm</li>
  </ul>
  <p class="govuk-body">
    <a class="govuk-link" href="#">Find out about call charges</a>
  </p>
  <ul class="govuk-list">
    <li><a class="govuk-link" href="#">name@example.com</a></li>
    <li>We aim to respond within 2 working days</li>
  </ul>
{% endset %}

{{ govukDetails({
  summaryText: "If you need help completing this form",
  html: contactInformation
}) }}
