---
title: Text input with prefix and suffix with error – Text input
layout: layout-example.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  id: "cost-per-item-error",
  name: "cost-per-item-error",
  label: {
    text: "What is the cost per item, in pounds?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  prefix: {
    text: "£"
  },
  suffix: {
    text: "per item"
  },
  errorMessage: {
    text: "Enter a cost per item, in pounds"
  },
  classes: "govuk-input--width-5",
  spellcheck: false
}) }}
