---
title: Secondary button combo
layout: layout-example.njk
---
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue",
  classes: "govuk-!-margin-right-1"
}) }}

{{ govukButton({
  text: "Save as draft",
  classes: "govuk-button--secondary"
}) }}

