---
title: Skip link
layout: layout-example.njk
---

<p class="govuk-body">To view the skip link component tab to this example, or click inside this example and press tab.</p>

{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}

{{ govukSkipLink({
  text: "Skip to main content",
  href: "#"
}) }}
