---
title: Object with focus
layout: layout-example.njk
stylesheets:
- ../focus.css
---

<a class="custom-object" href="#">
    <h3 class="govuk-heading-s">Custom focusable object</h3>
    <p class="govuk-body">This is a custom object with the <code class="govuk-!-font-size-24">govuk-focusable</code> mixin applied.</p>
</a>