---
title: Accordion
description:
section: Components
aliases:
backlog_issue_id: 1
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

The accordion component allows users to find content on a page faster by collapsing several sections so that their headers can be easily read, and then allowing access to the content of each section by expanding or collapsing them.


## When to use this component

Use the component component when you have several sections of content which users are unlikely to want to read all of at once.

## When not to use this component

Don’t use the component if you only have a single section to collapse. Consider the details component for that instead.

## How it works


## Research on this component

If you’ve used this component, get in touch to share your user research findings.
