---
layout: layout-example.njk
---

{% from 'radios/macro.njk' import govukRadios %}

{{ govukRadios({
  "idPrefix": "changed-name",
  "name": "changed-name",
  "fieldset": {
    "legendHtml": '<h1 class="govuk-heading-xl">Have you changed your name?</h1>',
    "legendHintText": "This includes changing your last name or spelling your name differently."
  },
  "items": [
    {
      "value": "yes",
      "text": "Yes"
    },
    {
      "value": "no",
      "text": "No"
    }
  ]
}) }}
