---
title: Radios
description: Let users select a single option from a list using the radios component
section: Components
aliases: radio buttons, option buttons
backlog_issue_id: 59
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "components", item: "radios", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this component

Use the radios component when users can only select one option from a list.

## When not to use this component

Don’t use the radios component if users might need to select more than one option. In this case, you should use the [checkboxes](/components/checkboxes/) component instead.

## How it works

Radios are grouped together in a `<fieldset>` with a `<legend>` that describes them, as shown in the examples on this page. This is usually a question, like ‘Where do you live?’.

If you are asking just [one question per page](../../patterns/question-pages/#start-by-asking-one-question-per-page) as recommended, you can set the contents of the `<legend>` as the page heading. This is good practice as it means that users of screen readers will only hear the contents once.

Read more about [why and how to set legends as headings](../../get-started/labels-legends-headings).

There are 2 ways to use the radios component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

### Stacked radios

When there are more than 2 options, radios should be stacked, like so:

{{ example({group: "components", item: "radios", example: "stacked", html: true, nunjucks: true, open: true, size: "m"}) }}

### Inline radios

If there are only 2 options, you can either stack the radios or display them inline, like so:

{{ example({group: "components", item: "radios", example: "default", html: true, nunjucks: true, open: true, size: "s"}) }}

### Conditionally revealing content

You can add conditionally revealing content to radios, so users only see content when it’s relevant to them. For example, you could reveal an email address input only when a user chooses to be contacted by email.

{{ example({group: "components", item: "radios", example: "conditional-reveal", html: true, nunjucks: true, open: false, size: "xl"}) }}

Keep it simple - if you need to add a lot of content, consider showing it on the next page in the process instead.

## Research on this component

Read a blog post about [updates to the radios and checkboxes components](https://designnotes.blog.gov.uk/2016/11/30/weve-updated-the-radios-and-checkboxes-on-gov-uk/).
