---
title: Reason not known – Page not found pages
layout: layout-example-full-page.njk
ignore_in_sitemap: true
---

{% extends "example-wrappers/full-page.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Page not found</h1>
      <p class="govuk-body">
        The page is no longer available.
      </p>
      <a href="#" role="button">Manage your tax credits</a>
    </div>
  </div>
{% endblock %}
