---
title: Success and error banners – notification banner
layout: layout-example.njk
---  

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{{ govukNotificationBanner({
  text: "Photo uploaded",
  type: 'success'
}) }}

{{ govukNotificationBanner({
  html: '<p class="govuk-notification-banner__heading">Photo upload failed because it’s the wrong format. <a class="govuk-notification-banner__link" href="#">Try uploading photo again</a>.</p>',
  type: 'error'
}) }}
