<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded app-example-page__wrapper">
  <head>
    <meta charset="utf-8">
    <title>Inline radios with error – Radios – Example – GOV.UK Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#1d70b8">

      <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico">
      <link rel="icon" sizes="any" href="/assets/rebrand/images/favicon.svg" type="image/svg+xml">
      <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#1d70b8">
      <link rel="apple-touch-icon" href="/assets/rebrand/images/govuk-icon-180.png">
      <link rel="manifest" href="/assets/rebrand/manifest.json">

  <meta name="robots" content="noindex, nofollow">
  <meta name="og:title" content="Inline radios with error – Radios">
  <meta name="description" content="">
  <meta name="og:description" content="">
  <link rel="canonical" href="https://design-system.service.gov.uk/components/radios/error/">

  <link href="/stylesheets/govuk-frontend-29487252a98c73d40fcf1c4a638d1d2d.min.css" rel="stylesheet" media="all">
  <link href="/stylesheets/example-28cf8f56ce3cba62d258b5725b59ecd7.css" rel="stylesheet" media="all">

    <meta property="og:image" content="https://design-system.service.gov.uk/assets/images/govuk-opengraph-image.png">
  </head>
  <body class="govuk-template__body app-example-page">
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>



  <!-- Disable browser validation for any examples that include form elements -->
  <form action="/form-handler" method="post" novalidate>
      

<div class="govuk-form-group govuk-form-group--error">
  <fieldset class="govuk-fieldset" aria-describedby="whereDoYouLive-error">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Where do you live?
    </h1>
  </legend>
  <p id="whereDoYouLive-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Select the country where you live
  </p>
  <div class="govuk-radios" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
      <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
        England
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
      <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
        Scotland
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
      <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
        Wales
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
      <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
        Northern Ireland
      </label>
    </div>
  </div>
</fieldset>
</div>


  </form>


  <script type="module" src="/javascripts/application-example-df1b1846e6ebb2eca45a9e21924dfbd8.js"></script>
  </body>
</html>
