---
title: Extra letter spacing
layout: layout-example.njk
ignore_in_sitemap: true
---

{% from "input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "UK telephone number"
  },
  id: "telephone-number",
  name: "telephone-number",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-input--width-20 govuk-input--extra-tracking"
}) }}