{% macro changelog(params) %}
  {% set entries = getChangelog({
    group: params.group,
    item: params.item,
    limit: params.limit if params.limit
  }) %}
  {% set guidanceOnly = params.guidanceOnly or params.group == "patterns" %}

  {# Keep track of the previous row's date so we can hide repeated dates. #}
  {% set previousDate = null %}

  <table class="govuk-table app-changelog-table">
    <thead class="govuk-table__thead">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Date</th>
        {%- if not guidanceOnly %}
          <th class="govuk-table__header" scope="col">Version</th>
        {%- endif %}
        <th class="govuk-table__header" scope="col">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__tbody">
      {%- for entry in entries %}
        {%- set date = entry.date | formatChangelogDate %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell app-changelog-table__date {%- if date == previousDate %} app-changelog-table__date--merged{% endif %}">
            {{ date }}
          </td>
          {%- if not guidanceOnly %}
            <td class="govuk-table__cell">
              {%- if entry.version %}
                <a href="{{ entry.releaseUrl }}">
                  <span class="govuk-visually-hidden">GOV.UK Frontend</span>
                  v{{ entry.version }}
                </a>
              {%- else %}
                Guidance
              {%- endif %}
            </td>
          {%- endif %}
          <td class="govuk-table__cell">{{ entry.description | safe }}</td>
        </tr>
        {%- set previousDate = date %}
      {%- endfor %}
    </tbody>
  </table>
{% endmacro %}
