{% macro imageCard(params) %}
  <div class="app-image-card {{- ' app-image-card--large' if params.large }} {{- ' ' + params.classes if params.classes }}">
    <figure class="app-image-card__image-wrapper">
      <img src="{{ params.src }}" alt="{{ params.alt }}" class="app-image--no-border" loading="lazy">
    </figure>
    <div class="app-image-card__text">
      <h3>{{ params.title }}</h3>
      {{- caller() if caller else params.content | safe -}}
    </div>
  </div>
{% endmacro %}
