---
title: Image with a custom aspect ratio – Images
layout: layout-example.njk
stylesheets:
- ../images.css
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Do you have a V11 reminder letter printed in your name?</h1>
    <img src="v11.png" alt="">
  </div>
</div>
