---
title: Assisted digital support
description: What is assisted digital dupport
section: Accessibility
theme: Resources
layout: layout-pane.njk
order: 2
---

If you're building a digital service in a central government department, you must provide assisted digital support.

This means offering help for people who:
- need to use the digital service but can't access it or
- don't have the skills to use the digital service on their own.

Any user may need assisted digital support, if they lack:

- trust in your service or the internet
- confidence to use an online service themselves
- access to the internet
- digital skills
- motivation to overcome these barriers on their own

An introduction to [assisted digital support](https://www.gov.uk/service-manual/helping-people-to-use-your-service/assisted-digital-support-introduction).