---
title: Why accessibility matters
description: Guidance on how to work with content with accessibility in mind
section: Accessibility
theme: Resources
layout: layout-pane.njk
order: 1
---

Accessibility means making sure your services can be used by the widest possible audience.
Every time you send an email, prepare a presentation, write a post or a report you want as many people as possible to be able to understand it.

It is not enough to just make your product look good; it should also work well with assistive technology (AT).  

Your readers may use JAWS, a screen reader or Dragon, a dictation tool. These are [assistive technologies](/accessibility/assistive-technology/)

This will allow us all to foster an inclusive IT environment.

So IT will be accessible for everyone including users of assistive technology.

We want as many people as possible to understand what we write. Your readers may for example have vision or hearing impairments.

Or cognitive. Cognitive skills are the core skills your brain uses to think, read, learn, remember, reason, and pay attention.

They could be neuro-diverse and have for example:
- Dyslexia which is difficulty reading and interpreting what they read
- Dyscalculia which is difficulty in understanding numbers

And they could experience symptoms of more than one neuro-diverse condition.  

Between 30% and 40% of the population are thought to be neurodiverse.

The remainder are neuro-typical.

Accessibility is different to [assisted digital support](/accessibility/assisted-digital/).