name: Check external links

on: workflow_dispatch

permissions:
  contents: read

jobs:
  check-links:
    name: Check for broken external links
    runs-on: 'ubuntu-22.04'

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build
        uses: ./.github/workflows/actions/install-and-build

      - name: Check external broken links
        run: npm run check-external-links
