---
title: Textarea appropriately-sized with rows – Textarea
layout: layout-example.njk
---
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  rows: "8",
  label: {
    text: "Can you provide more detail?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Do not include personal or financial information, like your National Insurance number or credit card details."
  }
}) }}
