---
title: Section headings – Question pages
layout: layout-example.njk
ignore_in_sitemap: true
---

<span class="govuk-caption-xl">About you</span>
<h1 class="govuk-heading-xl">
  What is your home adddress?
</h1>
