---
title: Guiding principles
description: A set of guiding principles for working with the HM Land Registry Design System
section: Community
layout: layout-pane.njk
order: 4
---

New services not on .gov.uk will use the HM Land Registry Design System. This is required from the HM Land Registry platform development standards.

In this context, "services" refers to internal, professional and public-facing HM Land Registry services.

## Which design system to use

1. Services hosted on `service.gov.uk` **must** use the GOV.UK Design System as a requirement from the [GOV.UK Service Manual](https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk).
2. New services not on `.gov.uk` will use the HM Land Registry Design System. This is required as part of the HM Land Registry platform development standards.
3. Existing services not on `.gov.uk` will aim to adapt to use the HM Land Registry Design System.

## Using the Design System

1. Services **must** use components, patterns and styles from the [GOV.UK Design System](https://design-system.service.gov.uk/) when they are available and applicable.
2. Services will use HM Land Registry components, patterns and styles when they are available and applicable and when they do not exist in the GOV.UK Design System.

## Contributing to the Design System

Using the [MoSCoW method](https://en.wikipedia.org/wiki/MoSCoW_method) a set of guiding principles has been established for working with and contributing to the HM Land Registry Design System.

1. Collaboration on the Design System **must** be open source whenever possible.
2. All additions and modifications **must** meet the [contribution criteria](/community/contribution-criteria/).
3. Components, patterns and styles **should** align to the [Government Design Principles](https://www.gov.uk/guidance/government-design-principles).
4. Anyone **should** be able to contribute to the HM Land Registry Design System.
5. New components, patterns and styles **could** be shared with and merged into the GOV.UK Design System.
