---
title: Three-quarters – Layout
layout: layout-example.njk
stylesheets:
- ../grid-annotate.css
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p>govuk-grid-column-three-quarters</p>
  </div>
</div>
