---
title: Text input with errors
layout: layout-example.njk
ignore_in_sitemap: true
---

{% from "input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "First name"
  },
  id: "full-name",
  name: "full-name",
  errorMessage: {
    text: "Enter your first name"
  }
}) }}
