---
title: Secondary button
layout: layout-example.njk
---
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Find address",
  classes: "govuk-button--secondary"
}) }}
